<?php
use yii\widgets\ActiveForm;
?>
<div class="box box-primary messageRead">
    
    <div class="box-header with-border">
        <p class="messageRead__from">
            <span class="pull-right messageRead__createdAt">{{ message.created_at | date('d M Y H:i:s') }}</span>
            From: {{message.name}} - <i>{{ message.email }}</i>
        </p>
        <p class="messageRead__subject">
            Subject: {{ message.subject }}
        </p>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <p>
            {{ message.body }}
        </p>
        {% for reply in message.messageReplies %}
            <div class="direct-chat-msg right">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">{{ reply.user.fullname }}</span>
                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="{{ reply.user.getAvatar() }}" alt="message user image"><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                    {{ reply.body }}
                </div>
              <!-- /.direct-chat-text -->
            </div>
        {% endfor %}
    </div>

    <div class="box-footer">

        {% set form = active_form_begin() %}

            {{ form.field( model, 'body', { 'inputOptions': { 'class': 'form-control', 'placeholder': 'Type something...' } } ).textarea({'rows': 3}).label(false) | raw }}

            <div class="pull-right">
                <a href="{{ baseUrl }}/backend/message/index" class="btn btn-default">Back</a>&nbsp;
                <button type="submit" class="btn btn-success">Send &nbsp; <i class="fa fa-location-arrow"></i></button>
            </div>
        {{ active_form_end() }}
    </div>
</div>
