{{ this.render('/partials/breadcrumb.twig', {
'datas': {
    'Obrolan Bunda': baseUrl ~ '/forum',
    (group.name) : baseUrl ~ '/forum#' ~ group.id,
},
'currentTitle': (forum.name)
}) | raw }}

<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="section section--forum" data-magellan>
    <div class="row forum">
        <div class="medium-12 columns forum__header forum__header--wrap">
            <div class="small-2 medium-1 columns"><img src="{{ baseUrl }}/media/forum-icon/{{ forum.id }}/{{ forum.icon }}"/></div>
            <div class="small-10 medium-11 columns">
                <h1 class="section__title--forum">{{group.name}} > {{forum.name}}</h1>
                <p class="hide-for-small-only">{{ forum.description }}</p>
            </div>
        </div>
    </div>
    <div class="row forum">
        <div class="medium-5 xlarge-3 columns hide-for-small-only">
            {% if btnCreateForum %}
                {% if this.user is empty %}
                    <a href="{{ baseUrl }}/participant/login?goto={{Url.current({'lg': null}, true)}}#new-forum" class="link link--write">Tulis Forum Baru</a>
                {% else %}
                    <a href="#new-forum" class="link link--write">Tulis Forum Baru</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="small-12 medium-7 xlarge-9 columns text-right">

        	{{ pages.getPage() + 1 }} of {{ pages.getPageCount() }} Pages

                {{ LinkPager.widget( {
	                'pagination': pages,
	                'maxButtonCount': 6,
	                'hideOnSinglePage': false,
	                'separator' : '...',
	                'activePageCssClass' : 'current',
	                'disabledPageCssClass' : 'disabled',
	                'nextPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-next.png"/>',
	                'prevPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-prev.png"/>',
                } ) | raw }}

        </div>
    </div>
    <div class="row forum">
        <div class="row forum__header forum__header--purple">
            <div class="medium-2 medium-offset-7 columns">Stats</div>
            <div class="medium-3 columns">Last Post</div>
        </div>

        {% for topic in topics %}
	        <div class="row forum__list forum__list--custom" data-equalizer>

                <!-- Start Detail Topic -->
	            <div class="medium-1 columns text-center hide-for-small-only" data-equalizer-watch><img src="{{ baseUrl }}/img/forum/icon-chat.png"/> </div>
	            <div class="small-10 medium-6 columns" data-equalizer-watch>
	                <a href="{{ baseUrl }}/forum/{{ topic.slug }}">
	                    <h3 class="forum__subtitle">{{ topic.name }}</h3>
	                    <span class="forum__started">Started by: </span><span class="forum__author">{{ topic.participant.username }}</span>
	                </a>
	            </div>
                <!-- End Detail Topic -->

                <!-- Start Stats Forum-->
	            <div class="medium-2 columns hide-for-small-only" data-equalizer-watch>
	                <span class="forum__counter">View: {{ topic.view_count|number_format }} &nbsp;</span>
	                <span class="forum__counter">Post: {{ topic.post_count|number_format }}</span>
	            </div>
                <!-- End Stats Forum -->

                <!-- Start Last Post -->
	            <div class="small-2 medium-3 columns novpadd" data-equalizer-watch>
	                <div class="medium-10 columns hide-for-small-only">
	                    <span class="forum__author">by: {{ lastPosts[topic.id].participant.username }}</span>
	                    <span class="forum__date">{{ Func.timeElapsed(lastPosts[topic.id].created_at) }}, {{ lastPosts[topic.id].created_at|date('H:i A') }}</span>
	                </div>
	                <a href="{{ baseUrl }}/forum/{{ topic.slug }}" class="medium-2 columns headline-wrap">
	                    <div class="headline-wrap__link"><img src="{{ baseUrl }}/img/forum/icon-arrow.png"/></div>
	                </a>
	            </div>
                <!-- End Last Post -->

	        </div>
        {% endfor %}

    </div>
    <div class="row forum">
        <div class="medium-5 xlarge-3 columns hide-for-small-only">
            {% if btnCreateForum %}
                {% if this.user is empty %}
                    <a href="{{ baseUrl }}/participant/login?goto={{Url.current({'lg': null}, true)}}#new-forum" class="link link--write">Tulis Forum Baru</a>
                {% else %}
                    <a href="#new-forum" class="link link--write">Tulis Forum Baru</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="small-12 medium-7 xlarge-9 columns text-right">

            {{ pages.getPage() + 1 }} of {{ pages.getPageCount() }} Pages

            {{ LinkPager.widget( {
	            'pagination': pages,
	            'maxButtonCount': 6,
	            'hideOnSinglePage': false,
	            'separator' : '...',
	            'activePageCssClass' : 'current',
	            'disabledPageCssClass' : 'disabled',
	            'nextPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-next.png"/>',
	            'prevPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-prev.png"/>',
            } ) | raw }}

        </div>
    </div>
    {% if this.user is not empty and btnCreateForum %}
        <div class="row forum" id="new-forum" data-magellan-target="new-forum">
            <div class="medium-12 columns nopadd">
                {% set form = active_form_begin({'options': {'class': 'forum__new-thread'} }) %}

                    <div class="row"  style="background: #f1f5fb;border: 1px solid #e8e0f5;margin-bottom: 1rem;margin-left: 0" data-equalizer="thread">
                        <div class="medium-3 columns">
                            <label for="right-label" class="text-center" data-equalizer-watch="thread">Judul Thread</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="title" id="right-label" placeholder="Tulis Judul Thread Bunda Disini" value="{{ title }}"  data-equalizer-watch="thread" required>
                        </div>
                    </div>
                    <div class="row"  style="background: #f1f5fb;border: 1px solid #e8e0f5;margin-bottom: 1rem;margin-left: 0" data-equalizer="thread">
                        <div class="medium-12 columns">
                            <textarea rows="10" name="content" placeholder="Tulis konten yang bunda inginkan disini" required>{{ content }}</textarea>
                        </div>
                        <div class="medium-4 columns"><div class="g-recaptcha" data-sitekey="{{ site_key }}"></div></div>
                        <div class="medium-8 columns link-wrap">
                            <ul>
                                <li><button class="link link__submit" id="cancelSubmit">Cancel</button></li>
                                <li><button class="link link__submit" type="submit">Post</button></li>
                            </ul>
                        </div>
                    </div>
                {{ active_form_end() }}
            </div>
        </div>
    {% endif %}    
</div>

{% set js %}
    if ($(window).width() < 641) {
        $('.row.forum__list').each(function() {
            var $this = $(this);
            var forumList = $this.height();
            $('.headline-wrap').css('height', forumList);
        });
    }
    
    $('#cancelSubmit').click(function(){
        $(this).closest('form').find("input[type=text], textarea").val("");
    });
{% endset %}
{{ this.registerJs(js) }}