<div class="row expanded banner main">
    <img src="{{ Url.base() }}/img/banner-obrolan-bunda.jpg"/>
    <div class="small-6 small-offset-6 medium-6 medium-offset-6 columns banner__desc banner__desc--responsive">
        <div class="small-12 medium-10 columns">
            <h1>Obrolan Bunda</h1>
            <p class="hide-for-small-only">Berbagai pengalaman dan cerita Bunda Konicare saat merawat si Kecil sejak masa kehamilan hingga tumbuh besar.</p>
        </div>
    </div>
</div>

{{ this.render('/partials/breadcrumb.twig', {
'datas': {
},
'currentTitle': 'Obrolan Bunda'
}) | raw }}

<div class="section section--forum">
    <img class="medium-3 columns nopadd ornamen-top hide-for-small-only" src="{{ baseUrl }}/img/forum/ornamen-top-right.png"/>
    <img class="medium-1 columns nopadd ornamen-bottom hide-for-small-only" src="{{ baseUrl }}/img/forum/ornamen-botom-left.png"/>
    <div class="row">
        <ul class="accordion" data-accordion data-multi-expand="true">

            {% for group in groups %}

                <li class="accordion-item is-active forum" id="{{group.id}}" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title row columns forum__header">
                        <div class="small-2 medium-1 columns text-center align-self-middle"><img src="{{ baseUrl }}/media/forum-group-icon/{{ group.id }}/{{ group.icon }}"/></div>
                        <div class="small-10 medium-6 columns"><h2 class="forum__title">{{ group.name }}</h2></div>
                        <div class="medium-2 columns hide-for-small-only">Total Post</div>
                        <div class="medium-3 columns hide-for-small-only">Last Post</div>
                    </a>

                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>

                        {% for forum in group.forums %}

                            {% set forumLink = baseUrl ~ '/forum/' ~ group.slug ~ '/' ~ forum.slug %}
                            <div class="row forum__list" data-equalizer>
                                <div class="medium-1 columns text-center hide-for-small-only" data-equalizer-watch><img src="{{ baseUrl }}/media/forum-icon/{{ forum.id }}/{{forum.icon}}"/> </div>
                                <div class="small-10 medium-6 columns" data-equalizer-watch>
                                    <a href="{{ forumLink }}">
                                        <h3 class="forum__subtitle">{{ forum.name }}<span class="forum__counter--top show-for-small-only"> (Post: {{ forum.post_count }})</span> </h3>
                                        <p>{{ forum.description }}</p>
                                    </a>
                                </div>
                                <div class="medium-2 columns hide-for-small-only" data-equalizer-watch>
                                    <span class="forum__counter">Topic: {{ forum.topic_count }}</span>&nbsp;
                                    <span class="forum__counter">Post: {{ forum.post_count }}</span>
                                </div>
                                <div class="small-2 medium-3 columns novpadd" data-equalizer-watch>

                                    {% set topic = topics[forum.id] %}
                                    {% set topicName = topic.name %}

                                    {% if topicName|length > 20 %}
                                        {% set topicName = topicName|slice(0,20) ~ '...' %}
                                    {% endif %}
                                    
                                    <div class="medium-10 columns hide-for-small-only">
                                        <a href="{{ baseUrl ~ '/forum/' ~ topic.slug }}" class="forum__headline" title="{{ topic.name }}">{{ topicName }}</a>
                                        <span class="forum__author">by: {{ topic.participant.username }}</span>
                                        <span class="forum__date">{{ Func.timeElapsed(topic.created_at) }}, {{ topic.created_at|date('H:i A') }}</span>
                                    </div>
                                    <a href="{{ forumLink }}" class="medium-2 columns headline-wrap">
                                        <div class="headline-wrap__link"><img src="{{ baseUrl }}/img/forum/icon-arrow.png"/></div>
                                    </a>

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% set js %}
    if ($(window).width() < 641) {
        $('.row.forum__list').each(function() {
            var $this = $(this);
            var forumList = $this.height();
            $('.headline-wrap').css('height', forumList);
        });
    }
{% endset %}
{{ this.registerJs(js) }}