

{% set forum = topic.forum %}
{{ this.render('/partials/breadcrumb.twig', {
    'datas': {
        'Obrolan Bunda': baseUrl ~ '/forum',
        (forum.group.name) : baseUrl ~ '/forum/' ~ forum.group.slug ~ '/' ~ forum.slug,
    },
    'currentTitle': topic.name
}) | raw }}
<div class="section section--forum" data-magellan>
    <div class="row forum">
        <div class="medium-12 columns forum__header forum__header--wrap">
            <div class="small-2 medium-1 columns"><img src="{{ baseUrl }}/media/forum-icon/{{ forum.id }}/{{ forum.icon }}"/></div>
            <div class="small-10 medium-11 columns">
                <h1 class="section__title--forum">Judul Thread > {{ topic.name }}</h1>
                <p class="hide-for-small-only">{{ forum.description }}</p>
            </div>
        </div>
    </div>
    <div class="row forum">
        <div class="small-12 medium-5 xlarge-3 columns">
            {% if this.user is empty %}
                <a href="{{ baseUrl }}/participant/login?goto={{Url.current({'lg': null}, true)}}#new-reply" class="link link--reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Post Reply</a>
            {% else %}
                <a href="#new-reply" class="link link--reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Post Reply</a>
            {% endif %}
        </div>
        <div class="small-12 medium-7 xlarge-9 columns text-right">

            <span>{{ pages.getPage() + 1 }} of {{ pages.getPageCount() }} Pages</span>

            {{ LinkPager.widget( {
                'pagination': pages,
                'maxButtonCount': 6,
                'hideOnSinglePage': false,
                'separator' : '...',
                'activePageCssClass' : 'current',
                'disabledPageCssClass' : 'disabled',
                'nextPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-next.png"/>',
                'prevPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-prev.png"/>',
            } ) | raw }}

        </div>
    </div>

    {% set count = 0 %}
    {% for post in posts %}

    {% set participant = post.participant %}
    <div class="row forum">
        {% set count = count + 1 %}


        <!-- for mobiile -->
        <div class="row forum__header forum__header--purple hide-for-small-only">
            <div class="medium-10 columns"><div class="forum__headline">{{ post.created_at|date('M d, Y, H:i A') }}</div> </div>
            <div class="medium-2 columns text-right">#{{ count }}</div>
        </div>
        <div class="row forum__header forum__header--purple show-for-small-only">
            <div class="small-2 medium-2 columns">
                <img class="profile__img" src="{{ participant.getAvatar('thumb_') }}"/><br/>
            </div>
            <div class="small-9 medium-10 columns">
                <span class="profile__author">{{ participant.username }}</span>
                <span class="profile__member">{{ participant.created_at|date('d F Y') }}</span>
            </div>
        </div>
        <!-- end for mobile -->

        <!-- for desktop -->
        <div class="row forum__list forum__list--custom" data-equalizer>

            <div class="hide-for-small-only">
                <div class="medium-2 columns text-center padd profile" data-equalizer-watch>
                    {# <span class="profile__started">Started by: </span> #}
                    <span class="profile__author">{{ participant.username }}</span>
                    <img class="profile__img" src="{{ participant.getAvatar('normal_') }}"/><br/>
                    <span class="profile__post">Forum Post: {{ participantPost[participant.id].count }}</span>
                    <span class="profile__member">member since<br/>
                        {{ participant.created_at|date('d F Y') }}</span>
                </div>

            </div>
            <div class="medium-10 columns padd" style="align-items: baseline" data-equalizer-watch>
                <p>{{ post.content|raw|nl2br }}</p>
            </div>
        </div>
        <!-- end for desktop -->

    </div>
    {% endfor %}

    <div class="row forum">
        <div class="small-12 medium-5 xlarge-3 columns">
            <a href="#new-reply" class="link link--reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Post Reply</a>
        </div>
        <div class="small-12 medium-7 xlarge-9 columns text-right">

            <span>{{ pages.getPage() + 1 }} of {{ pages.getPageCount() }} Pages</span>

            {{ LinkPager.widget( {
            'pagination': pages,
            'maxButtonCount': 6,
            'hideOnSinglePage': false,
            'separator' : '...',
            'activePageCssClass' : 'current',
            'disabledPageCssClass' : 'disabled',
            'nextPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-next.png"/>',
            'prevPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-prev.png"/>',
            } ) | raw }}

        </div>
    </div>

    {% if this.user is not empty %}
        <div class="row forum" id="new-reply" data-magellan-target="new-reply">
            <div class="medium-12 columns nopadd">
                {% set form = active_form_begin({'options': {'class': 'forum__new-thread'} }) %}

                <div class="row"  style="background: #f1f5fb;border: 1px solid #e8e0f5;margin-bottom: 1rem;margin-left: 0" data-equalizer="thread">
                    <div class="medium-12 columns">
                        <textarea rows="10" name="content" placeholder="Tulis konten yang bunda inginkan disini" required>{{ content }}</textarea>
                    </div>
                    <div class="medium-4 columns"><div class="g-recaptcha" data-sitekey="6LfDKyQUAAAAAGilsM68ge6yVB9LTj8Lge8numvf"></div></div>
                    <div class="medium-8 columns link-wrap">
                        <ul>
                            <li><button class="link link__submit" id="cancelSubmit" >Cancel</button></li>
                            <li><button class="link link__submit" type="submit">Post</button></li>
                        </ul>
                    </div>
                </div>
                {{ active_form_end() }}
            </div>
        </div>
    {% endif %}
</div>
{% set js %}
    $('#cancelSubmit').click(function(){
        $(this).closest('form').find("input[type=text], textarea").val("");
    });
{% endset %}
{{ this.registerJs(js) }}