<!DOCTYPE html>
<html lang="id-ID">

<head>

    <!-- <meta charset="{{ app.charset }}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel=icon href="./img/favicon.png" sizes="32x32" type="image/png">
    <!-- {{ Html.csrfMetaTags | raw }}
    {{ this.meta() | raw }}

    {{ void(this.head) }} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/custom.css">

    <link rel="stylesheet" type="text/css" href="./css/foundation.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./css/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="./css/application.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.timer.js"></script>
</head>

<body>
    <div class="title-bar hide-for-medium" data-equalizer="menu-small">
        <div class="small-9 columns text-center" data-equalizer-watch="menu-small">
            <a href="/">
                <span class="title-bar-title"><img src="./img/logo-bunda-konicare.png" /></span>
            </a>
        </div>
        <div class="small-3 columns title-bar-right" data-equalizer-watch="menu-small">
            <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
                <button class="button" type="button" data-toggle="example-dropdown" data-equalizer-watch="menu-small"><i
                        class="fa fa-search"></i></button>
                <div class="dropdown-pane dropdown-search" id="example-dropdown" data-dropdown
                    data-options="autoFocus:true;vOffset:4">
                    <div class="input-group">
                        <input class="input-group-field" type="text" name="keywords" placeholder="Cari disini">
                        <div class="input-group-button">
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                <span>
                                    <div class="icon icon--close-thin"></div>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
                <button class="menu-icon" type="button" data-toggle="my-info"></button>
            </div>
        </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content="">
        <!-- -------------------------------HEADER------------------------------- -->
        <!-- MENU FRONTEND -->
        <div class="login-wrapper navbar-color">
            <div class="wrap">
                <div class="face-logo top-grid-left">
                    <a href="https://panduanbunda.com/?v=1579150121">
                        <img src="https://panduanbunda.com/assets/images/1200/logo-panduanbunda.png">
                    </a>
                </div>
                <div class="dropdown top-grid-center">
                    <ul>
                        <li>
                            <a href="#" onclick="return false;">
                                <h3 class="list-menu">ARTIKEL<div class="triangle-down-1"></div>
                                </h3>
                            </a>
                            <ul>
                                <li>
                                    <a href="https://panduanbunda.com/sikecil" class="">Si Kecil Sehat</a>
                                    <div class="triangle-up-1"></div>
                                </li>
                                <li>
                                    <a href="https://panduanbunda.com/inspirasisehat" class="">Inspirasi Sehat</a>
                                </li>
                                <li>
                                    <a href="https://panduanbunda.com/katadokter" class="">Kata Dokter</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="return false;">
                                <h3 class="list-menu">FITUR<div class="triangle-down-1"></div>
                                </h3>
                            </a>
                            <ul>
                                <li><a href="#" onclick="javascript:openPopup('popup-fitur-update');">Jadwal Keluarga
                                        Sehat</a>
                                    <div class="triangle-up-1"></div>
                                </li>
                                <li><a href="https://panduanbunda.com/gejalapunyacerita">Gejala Punya Cerita</a></li>
                                <li><a href="https://panduanbunda.com/tanyadokter">Tanya Dokter</a></li>
                                <li><a href="https://panduanbunda.com/healthymeter">Healthy Meter</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://panduanbunda.com/galeri">
                                <h3 class="list-menu">GALERI</h3>
                            </a>
                        </li>
                        <li>
                            <a href="https://panduanbunda.com/produk">
                                <h3 class="list-menu">PRODUK</h3>
                            </a>
                        </li>
                        <li>
                            <a href="https://panduanbunda.com/kontak">
                                <h3 class="list-menu">KONTAK</h3>
                            </a>
                        </li>
                        <li>
                            <a href="https://panduanbunda.com/indekspenyakit" class="">
                                <h3 class="list-menu">INDEKS PENYAKIT</h3>
                            </a>
                        </li>
                        <li><a href="https://panduanbunda.com/hadiahdaribunda" class="">
                                <h3 class="list-menu">HADIAH DARI BUNDA</h3>
                            </a></li>
                        <li><a href="https://panduanbunda.com/bundasiaga" class="">
                                <h3 class="list-menu">BUNDA SIAGA</h3>
                            </a></li>
                    </ul>
                </div>
                <!-- <div class="dropdown top-grid-right">
                    <ul>
                        <li>
                            <a href="https://panduanbunda.com/profile">
                                <div class="avatar-frame">
                                    <img src="https://panduanbunda.com/uploads/avatardefault.jpg">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <h3 class="namelogin">pbagastama</h3>
                            </a>
                            <ul>
                                <li>
                                    <a href="https://panduanbunda.com/profile">Profile</a>
                                    <div class="triangle-up-1"></div>
                                </li>
                                <li>
                                    <a href="https://panduanbunda.com/auth/logout">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!-- MENU FRONTEND END -->
        <!-- -------------------------------HEADER END------------------------------- -->

        <!-- -------------------------------CONTENT------------------------------- -->
        <!-- <div class="row" style="padding-top: 100px;">
            <nav class="medium-12 columns" aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="/">Beranda</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> Pengundian
                    </li>
                </ul>
            </nav>
        </div> -->
        <div class="bintang-artikel-kiri">
            <img src="https://panduanbunda.com//assets/images/1200/bintang-artikel-left.png">
        </div>
        <div class="bintang-artikel-kanan">
            <img src="https://panduanbunda.com//assets/images/1200/bintang-artikel-kanan.png"></div>
        <h1 class="divider judul-halaman index">Pemenang Bunda Siaga</h1>

        <div class="about" style="padding-bottom: 30px;">
            <div class="row cols-1" style="padding-bottom: 50px;">
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 1</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_1_1">X</span>
                            <span class="coupon_code" id="coupon_1_2">X</span>
                            <span class="coupon_code" id="coupon_1_3">X</span>
                            <span class="coupon_code" id="coupon_1_4">X</span>
                            <span class="coupon_code" id="coupon_1_5">X</span>
                            <span class="coupon_code" id="coupon_1_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_1" style="visibility: hidden;">hetinurlina</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="1" id="button_acak_1" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 2</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_2_1">X</span>
                            <span class="coupon_code" id="coupon_2_2">X</span>
                            <span class="coupon_code" id="coupon_2_3">X</span>
                            <span class="coupon_code" id="coupon_2_4">X</span>
                            <span class="coupon_code" id="coupon_2_5">X</span>
                            <span class="coupon_code" id="coupon_2_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_2" style="visibility: hidden;">yunita</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="2" id="button_acak_2" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 3</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_3_1">X</span>
                            <span class="coupon_code" id="coupon_3_2">X</span>
                            <span class="coupon_code" id="coupon_3_3">X</span>
                            <span class="coupon_code" id="coupon_3_4">X</span>
                            <span class="coupon_code" id="coupon_3_5">X</span>
                            <span class="coupon_code" id="coupon_3_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_3" style="visibility: hidden;">nurhanda</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="3" id="button_acak_3" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 4</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_4_1">X</span>
                            <span class="coupon_code" id="coupon_4_2">X</span>
                            <span class="coupon_code" id="coupon_4_3">X</span>
                            <span class="coupon_code" id="coupon_4_4">X</span>
                            <span class="coupon_code" id="coupon_4_5">X</span>
                            <span class="coupon_code" id="coupon_4_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_4" style="visibility: hidden;">nisaea23</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="4" id="button_acak_4" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 5</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_5_1">X</span>
                            <span class="coupon_code" id="coupon_5_2">X</span>
                            <span class="coupon_code" id="coupon_5_3">X</span>
                            <span class="coupon_code" id="coupon_5_4">X</span>
                            <span class="coupon_code" id="coupon_5_5">X</span>
                            <span class="coupon_code" id="coupon_5_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_5" style="visibility: hidden;">risma3003</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="5" id="button_acak_5" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cols-2" style="padding-bottom: 150px;">
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 6</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_6_1">X</span>
                            <span class="coupon_code" id="coupon_6_2">X</span>
                            <span class="coupon_code" id="coupon_6_3">X</span>
                            <span class="coupon_code" id="coupon_6_4">X</span>
                            <span class="coupon_code" id="coupon_6_5">X</span>
                            <span class="coupon_code" id="coupon_6_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_6" style="visibility: hidden;">ambarahmad92</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="6" id="button_acak_6" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 7</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_7_1">X</span>
                            <span class="coupon_code" id="coupon_7_2">X</span>
                            <span class="coupon_code" id="coupon_7_3">X</span>
                            <span class="coupon_code" id="coupon_7_4">X</span>
                            <span class="coupon_code" id="coupon_7_5">X</span>
                            <span class="coupon_code" id="coupon_7_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_7" style="visibility: hidden;">yuwan</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="7" id="button_acak_7" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 8</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_8_1">X</span>
                            <span class="coupon_code" id="coupon_8_2">X</span>
                            <span class="coupon_code" id="coupon_8_3">X</span>
                            <span class="coupon_code" id="coupon_8_4">X</span>
                            <span class="coupon_code" id="coupon_8_5">X</span>
                            <span class="coupon_code" id="coupon_8_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_8" style="visibility: hidden;">mithakade</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="8" id="button_acak_8" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 9</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_9_1">X</span>
                            <span class="coupon_code" id="coupon_9_2">X</span>
                            <span class="coupon_code" id="coupon_9_3">X</span>
                            <span class="coupon_code" id="coupon_9_4">X</span>
                            <span class="coupon_code" id="coupon_9_5">X</span>
                            <span class="coupon_code" id="coupon_9_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_9" style="visibility: hidden;">lindah2310</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="9" id="button_acak_9" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
                <div class="medium-2 columns">
                    <div class="cards card--winner">
                        <h2 class="head--card">Pemenang 10</h2>
                        <div class="box--coupon">
                            <span class="coupon_code" id="coupon_10_1">X</span>
                            <span class="coupon_code" id="coupon_10_2">X</span>
                            <span class="coupon_code" id="coupon_10_3">X</span>
                            <span class="coupon_code" id="coupon_10_4">X</span>
                            <span class="coupon_code" id="coupon_10_5">X</span>
                            <span class="coupon_code" id="coupon_10_6">X</span>
                        </div>
                        <div class="usr--name">
                            <span class="coupon_code" id="username_10" style="visibility: hidden;">arumizalea</span>
                        </div>
                        <br />
                        <div class="button--random">
                            <a href="#" data-seq="10" id="button_acak_10" class="link link__submit button_acak">Acak</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="medium-2 medium-offset-2 nopadd columns">
                    <h2>Pemenang 9</h2>
                    <span class="coupon_code" id="coupon_9_1">X</span>
                    <span class="coupon_code" id="coupon_9_2">X</span>
                    <span class="coupon_code" id="coupon_9_3">X</span>
                    <span class="coupon_code" id="coupon_9_4">X</span>
                    <span class="coupon_code" id="coupon_9_5">X</span>
                    <span class="coupon_code" id="coupon_9_6">X</span>
                    <br />
                    <span class="coupon_code" id="username_9" style="visibility: hidden;">Dita_Primadani</span>
                    <br />
                    <a href="#" data-seq="9" id="button_acak_9" class="link link__submit button_acak">Acak</a>
                </div>
                <div class="medium-2 nopadd columns" style="float: left">
                    <h2>Pemenang 10</h2>
                    <span class="coupon_code" id="coupon_10_1">X</span>
                    <span class="coupon_code" id="coupon_10_2">X</span>
                    <span class="coupon_code" id="coupon_10_3">X</span>
                    <span class="coupon_code" id="coupon_10_4">X</span>
                    <span class="coupon_code" id="coupon_10_5">X</span>
                    <span class="coupon_code" id="coupon_10_6">X</span>
                    <br />
                    <span class="coupon_code" id="username_10" style="visibility: hidden;">alluka</span>
                    <br />
                    <a href="#" data-seq="10" id="button_acak_10" class="link link__submit button_acak">Acak</a>
                </div>
            </div> -->
            <img class="about__ornamen" src="./img/ornamen-about-us.png" />
        </div>
        <!-- -------------------------------CONTENT------------------------------- -->



        <!-- -------------------------------FOOTER------------------------------- -->
        <div class="footer">
            <div class="wrap footer-content">
                <div class="copyright push-left">2015 PANDUAN BUNDA. All rights reserved</div>
                <div class="push-right">
                    <div class="social-icon">
                        <p>Our Channels: </p>
                        <a href="https://www.facebook.com/panduanbunda" target="_BLANK">
                            <div class="soc facebook-icon"></div>
                        </a>
                        <a href="https://twitter.com/panduanbunda" target="_BLANK">
                            <div class="soc twitter-icon"></div>
                        </a>
                        <a href="https://www.instagram.com/panduanbunda" target="_BLANK">
                            <div class="soc instagram"></div>
                        </a>
                        <a href="https://plus.google.com/u/0/113836416276475702549/posts" target="_BLANK">
                            <div class="soc gplus-icon"></div>
                        </a>
                        <a href="http://www.konimexstore.com/" target="_BLANK">
                            <div class="konimex-icon"></div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------FOOTER------------------------------- -->

        <div class="js-off-canvas-exit"></div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="./js/custom.js"></script>
</body>

</html>