<footer class="main-footer">
    <div class="pull-right hidden-xs">
     	<b>Version</b> 1.1.0
    </div>
    <strong>Copyright &copy; 2016-2017 <a href="http://microad.co.id">PT. Microad Indonesia</a>.</strong> All rights
    reserved.
 </footer>