
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel -->
        <div class="user-panel">

            <div class="pull-left image">
                <img src="{{ this.params['user']['image'] }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ this.params['user']['fullname'] }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." id="search__menu">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            {% for menu in this.params['menus'] %}

                {% set class = '' %}
                {% if this.params['menuCurrent'] == menu.code %}
                    {% set class = 'active' %}
                {% endif %}


                {% if menu['child'] is defined %}

                    <li class="treeview {{ class }}">
                        <a href="#">
                            <i class="{{ menu.icon }}"></i> <span>{{ menu.name }}</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>

                        <ul class="treeview-menu">
                            {% for child in menu['child'] %}

                                {% set classChild = this.params['menuChildCurrent'] == child.code ? 'active' : null %}

                                <li class="{{ classChild }}"><a href="{{ url([child.link]) }}"><i class="{{ child.icon }}"></i> <span>{{ child.name }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>

                {% else %}

                    <li class="{{ class }}"><a href="{{ url([menu.link]) }}"><i class="{{ menu.icon }}"></i> <span>{{ menu.name }}</span></a></li>

                {% endif %}

            {% endfor %}
        </ul>
        
    </section>
    <!-- /.sidebar -->
</aside>

{% set js %}
    $('#search__menu').on('keyup', function(){

        var value = $(this).val().toLowerCase();
        $('.sidebar-menu > li').each(function(index){

            if ( index !== 0 )
            {
                $list = $(this);

                var id = $list.find("a:first").text().toLowerCase();
                if ( id.indexOf(value) !== 0 )
                {
                    $list.hide();
                } else {
                    $list.show();
                }
            }

        });
    });
{% endset %}

{{ this.registerJs(js) }}