{% set user = this.params['user'] %}
<header class="main-header">

    <!-- Logo -->
    <a href="{{ url(['site/index']) }}" class="logo">

        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>{{ this.params['project']['firstname']|slice(0,1)|upper }}</b>{{ this.params['project']['lastname']|slice(0,2)|upper  }}</span>

        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>{{ this.params['project']['firstname'] }}</b>{{ this.params['project']['lastname'] }}</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">

        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        {% if this.getNewMessagesCount() > 0 %}
                            <span class="label label-success">{{ this.getNewMessagesCount() }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{ this.getNewMessagesCount() }} messages</li>
                        <li>

                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">

                                {% for message in this.getNewMessages() %}
                                    <li>
                                    <!-- start message -->
                                        <a href="{{ url('message/reply', {'id': message.id}) }}">
                                            <div class="pull-left">
                                                <img src="{{ baseUrl }}/backend/img/avatar3.png" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                {{ message.name }}
                                                <small><i class="fa fa-clock-o"></i> {{ Func.timeElapsed(message.created_at) }}</small>
                                            </h4>
                                            <p>{{ message.subject|slice(0,30) }}...</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="{{ baseUrl }}/backend/message">See All Messages</a></li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user['image'] }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ user['fullname'] }}</span>
                    </a>
                    <ul class="dropdown-menu">
                    <!-- User image -->
                        <li class="user-header">
                            <img src="{{ user['image'] }}" class="img-circle" alt="User Image">

                            <p>
                                {{ user['fullname'] }} - {{ user['position'] }}
                                <small>Member since {{ user['created_at'] }}</small>
                            </p>
                        </li>
                      <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ url(['user/change-password'])}}" class="btn btn-default btn-flat">Change Password</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url(['site/logout']) }}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>