<div class="row expanded banner">
    <img class="banner__bg--article" src="{{ Url.base() }}/{{ category.image_dir }}/{{ category.image }}"/>
    <div class="small-6 small-offset-6 medium-6 medium-offset-6 columns banner__desc banner__desc--responsive">
        <div class="small-12 medium-10 columns">
            <h1>{{ category.name }}</h1>
            <p class="hide-for-small-only">{{ category.description }}</p>
        </div>
    </div>
</div>

{{ this.render('/partials/breadcrumb.twig', {
'datas': {
'Artikel': baseUrl ~ '/article',
},
'currentTitle': category.name
}) | raw }}

<div class="row">
    <div class="medium-up-3" data-equalizer="thumb">

    	{% for article in articles %}
	        <div class="columns">
	            <div class="article-thumb" data-equalizer-watch="thumb">
	                <a href="{{ baseUrl }}/article/{{ category.slug }}/{{ article.slug }}">
	                    <div class="article-thumb__img">
	                        <img src="{{ baseUrl }}/{{ article.image_dir }}/normal_{{ article.image }}">
	                    </div>
	                    <h2 class="article-thumb__title">{{ article.title }}</h2>
	                    <div style="clear: both"></div>
	                </a>
	            </div>
	        </div>
    	{% endfor %}
        <div style="clear: both"></div>
    </div>
</div>

{% if pages.totalCount > 0 %}
    <div class="row text-center">
        <p class="pagination-pages">
        {{ pages.getPage() + 1 }} of {{ pages.getPageCount() }} Pages
        </p>
    	{{ LinkPager.widget( {
    		'pagination': pages, 
    		'maxButtonCount': 6,
    		'hideOnSinglePage': false,
    		'separator' : '...',
    		'activePageCssClass' : 'current',
    		'disabledPageCssClass' : 'disabled',
    		'nextPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-next.png"/>',
    		'prevPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-prev.png"/>',
    	} ) | raw }}

    </div>
{% endif %}

{% set js %}
    var thumb = $('.article-thumb .article-thumb__img').width();
    var hThumb = (thumb * 9 /16);
    $('.article-thumb .article-thumb__img').css('height',hThumb);
{% endset %}
{{ this.registerJs(js) }}
