  <!-- Lightning Bolt Begins -->
  <script type="text/javascript" id="lightning_bolt" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
  <!-- Lightning Bolt Ends -->

  <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '447295889291442');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=447295889291442&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId={{ this.facebookId }}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{{ this.render('/partials/breadcrumb.twig', { 
    'datas': { 
        'Artikel': baseUrl ~ '/article', 
        (article.category.name): baseUrl ~ '/article/' ~ article.category.slug 
    },
    'currentTitle': article.title
}) | raw }}

{% set url = Url.current({'lg': null}, true) %}

<!-- start article header -->
<div  data-magellan>
    <div class="row text-center relative">
        <div class="article--highlight">
            <p class="article__kategory">{{ article.category.name }}</p>
            <h1 class="article__title">{{ article.title }}</h1>
            <p class="article__date">{{ article.created_at|date('d F Y') }}</p>
            <div class="text-center show-for-small-only">
                <ul class="list">
                    <li class="list__each"><a href="{{ article.getLikeUrl() }}"><span>
                                <i class="fa {{ likeStatus|length > 0 ? 'fa-heart' : 'fa-heart-o' }}" aria-hidden="true"></i>
                                {#<div class="icon-heart{{ likeStatus|length > 0 ? '--like' : null}}"></div> #}
                            {{ article.likes_count }}</a></li>
                    <li class="list__each"><span><a href="#comment"><i class="fa fa-comment-o" aria-hidden="true"></i> {{ article.comments_count }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end article header -->

    <!-- start article image -->
    <div class="row expanded">
        <div class="medium-10 medium-offset-2 columns relative hide-for-small-only">
            <div class="medium-8 medium-centered columns relative text-right">
                <ul class="list">
                    <li class="list__each"><a href="{{ article.getLikeUrl() }}"><span>
                         <i class="fa  {{ likeStatus|length > 0 ? 'fa-heart' : 'fa-heart-o' }}" style="color: #ec7bab" aria-hidden="true"></i>
                        {#<div class="icon-heart{{ likeStatus|length > 0 ? '--like' : null}}"></div> #}
                        {{ article.likes_count }}</a></li>
                    <li class="list__each"><span><a href="#comment"><i class="fa fa-comment-o" aria-hidden="true"></i> {{ article.comments_count }}</a></li>
                </ul>
            </div>
        </div>
        <center>
            <img src="{{ baseUrl ~ '/' ~ article.image_dir ~ article.image }}" />
        </center>
    </div>
    <!-- end article image -->

    <div class="row desc">

        <!-- start share button -->
        <div class="medium-1 columns hide-for-small-only share-wrap">
            <ul class="list fixed">
                <p>Share</p>
                <li class="list__each"><div class="share-button-fb btn btn-success clearfix" data-href="{{ url }}"><i class="fa fa-facebook" aria-hidden="true"></i></div></li>
                <li class="list__each"><a href="{{ url }}" title="Title Article" class="tweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- end share button -->

        <div class="medium-11 medium-offset-1 columns">
            {{ article.content | raw }}
        </div>
        <!-- start share button -->
        <div class="medium-10 columns show-for-small-only">
            <ul class="list list--share">
                {#<p>Share</p>#}
                <li class="list__each">Share</li>
                <li class="list__each"><div class="share-button-fb btn btn-success clearfix" data-href="{{ url }}"><i class="fa fa-facebook" aria-hidden="true"></i></div></li>
                <li class="list__each"><a href="{{ url }}" title="Title Article" class="tweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- end share button -->
    </div>
    <div class="row expanded desc relative" style="background: #fffee9">
        <div class="row">
            <div class="medium-12 columns">
                <h3 class="desc__subtitle">Artikel Lainnya</h3>
            </div>
            <div class="small-up-1 medium-up-3" data-equalizer="thumb">

                {% for post in relatedPosts %}
                    <div class="columns">
                        <div class="article-thumb" data-equalizer-watch="thumb">
                            <a href="{{ baseUrl ~ '/article/' ~ post.category.slug ~ '/' ~ post.slug }}">
                                <div class="article-thumb__img">
                                    <img src="{{ baseUrl }}/{{ post.image_dir ~ 'normal_' ~ post.image }}">
                                </div>
                                <h2 class="article-thumb__title">{{ post.title }}</h2>
                                <div style="clear: both"></div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div style="clear: both"></div>
            </div>
            <div class="medium-8 medium-centered desc" id="comment" data-magellan-target="comment">
                <div class="medium-12 columns">
                    <div class="ornamen-line"></div>
                    <h3 class="desc__subtitle">Komentar Bunda</h3>
                </div>

                {#{% if this.user is not null %}#}

                    <!-- start comment form -->
                    <div class="medium-12 columns">
                        {% set form = active_form_begin({'action': baseUrl ~ '/article/comment' }) %}
                        <input type="hidden" value="{{ article.id }}" name="post_id">
                        <input type="hidden" value="{{ url }}" name="redirect">
                        <div class="each-comment">
                            <div class="each-comment__input" style="display:flex;">
                                <input type="text" name="content" placeholder="Tulis Komentar Bunda">
                                <input type="submit" style="text-align: center;font-weight: bold;padding: 10px;color: #3d7f39;cursor:pointer;">
                                <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>
                        {{ active_form_end() }}
                    </div>
                    <!-- end comment form -->

                {#{% endif %}#}

                <!-- start comment list -->
                {% for comment in comments %}
                    {% set participant = comment.participant %}
                    <div class="medium-12 columns">
                        <div class="each-comment">
                            <p class="each-comment__name">
                                <span>
                                    <img width="20" src="{{ participant.getAvatar('thumb_') }}"/>
                                </span> {{ participant.username }}
                            </p>
                            <p>{{ comment.content }}</p>
                            {% if (this.user is not null) and (this.user.id != comment.participant.id) %}
                                <div class="icon-heart{{ comment.like_status == true ? '--like' : null}} comment-like-button" data-id="{{ comment.id }}"></div>
                            {% elseif this.user is null %}
                                <a href="{{ url('article/comment-like') }}" class="icon-heart"></a>
                            {% endif %}
                            {#icon heart like#}
                            {#<div class="icon-heart--like"></div>#}
                        </div>
                    </div>
                {% endfor %}
                <!-- end comment list -->

                <!-- start loadmore comment list -->
                <div id="loadmore__render"></div>
                {% if commentCounts > 3 %}
                    <div class="medium-12 columns" id="loadmore__wrapper">
                        <div class="each-comment text-center">
                            <div class="loadmore" id="loadmore" data-start="6"><p>Lihat Komentar Lainnya</p></div>
                        </div>
                    </div>
                {% endif %}
                <!-- End loadmore comment list -->

            </div>
        </div>
    </div>
</div>

{% set js %}
    {#facebook#}
    $('.share-button-fb').on('click',function(e){
        e.preventDefault();
        FB.ui({
        method: 'feed',
        link: $(this).data('href')
        });
    });
    {#twitter#}
    $(document).on('click', 'a.tweet', function(e){
        e.preventDefault();
        var loc = $(this).attr('href');
        var title  = encodeURIComponent($(this).attr('title'));
        window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
    });

    $('#loadmore').click(function(){

        var start = $(this).attr('data-start');
        $.ajax({ 
            type: 'POST', 
            url: "{{ baseUrl ~ '/article/comment-loadmore' }}",
            dataType: "json",
            data: {
                "start": start,
                "id": {{ article.id }},
                "{{ app.request.csrfParam }}": "{{ app.request.csrfToken }}"
            },
            success: function (response) {
                $("#loadmore").attr('data-start', response.start)
                if ( $("#loadmore").attr('data-start') >= response.max )
                {
                    $("#loadmore__wrapper").hide();
                }
                console.log(response)
                render(response, 'append');
            },
            error: function () {
                
            }
        });

    });


    function render(response, type = 'html')
    {
        var comments = response.comments;
        var result = '';
        $.each(comments, function( index, comment ) {
            result += '<div class="medium-12 columns">' +
                       '<div class="each-comment">' +
                       '<p class="each-comment__name">' + 
                       ' <span> ' + 
                            ' <img width="20" src="{{ baseUrl }}/media/participant/avatarimg/' + 
                                comment.participant.id + 
                                '/thumb_' + comment.participant.avatarimg + '"/>' +
                       '</span> ' + comment.participant.username +
                       '</p>' +
                       '<p>' + comment.content + '</p>' +
                       {% if this.user is not null %}
                           '<div class="icon-heart' +( comment.like_status == true ? '--like' : '' )+ ' comment-like-button" data-id="' + comment.id + '"></div>' +
                       {% endif %}
                       '</div>'+
                       '</div>';
        });
        $('#loadmore__render').append(result);
    }
    var thumb = $('.article-thumb .article-thumb__img').width();
    var hThumb = (thumb * 9 /16);
    $('.article-thumb .article-thumb__img').css('height',hThumb);

    $(document).on( 'click', '.comment-like-button', function() { 

        var target = $(this);
        var id = target.attr('data-id');
        $.ajax({ 
            type: 'POST', 
            url: "{{ baseUrl ~ '/article/comment-like' }}",
            dataType: "json",
            data: {
                "id": id,
                "{{ app.request.csrfParam }}": "{{ app.request.csrfToken }}"
            },
            success: function (response) {

                if( response.like == true )
                {
                    target.removeClass('icon-heart');
                    target.addClass('icon-heart--like');
                } else {
                    target.removeClass('icon-heart--like');
                    target.addClass('icon-heart');
                }
                console.log(response)
            },
            error: function () {
                
            }
        });
    });

    {#breadcrumb custom#}
    $('.breadcrumbs').parent('nav').addClass('relative');
{% endset %}
{{ this.registerJs(js) }}