{{ this.render('/partials/breadcrumb.twig', {
'datas': {
},
'currentTitle': 'Artikel'
}) | raw }}
<h1 class="text-center">Jelajah<br/>Info Terbaik Dalam Dunia Ibu & Anak</h1>
<div class="row expanded section section--article-category">
    <div class="row">
        <div class="small-up-2 medium-up-3 xlarge-up-4 text-center" data-equalizer="thumb">

            {% for category in categories %}
                <div class="columns">
                    <div class="article-thumb" data-equalizer-watch="thumb">
                        <a href="{{ baseUrl }}/article/{{ category.slug }}">
                            <div class="article-thumb__img">
                                <img src="{{ baseUrl }}/{{ category.thumbnail_dir }}/{{ category.thumbnail }}">
                            </div>
                            <h2 class="article-thumb__title">{{ category.name }}</h2>
                            <div style="clear: both"></div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="medium-2 columns ornamen-top-left hide-for-small-only">
        <img src="{{ baseUrl }}/img/article/ornamen-flowers-purple-left.png"/>
    </div>
    <div class="medium-2 columns ornamen-top-right hide-for-small-only">
        <img src="{{ baseUrl }}/img/article/ornamen-flowers-purple-right.png"/>
    </div>
    <div class="medium-3 columns ornamen-bottom hide-for-small-only">
        <img src="{{ baseUrl }}/img/article/ornamen-flowers.png"/>
    </div>
</div>
{% set js %}
    var thumb = $('.article-thumb .article-thumb__img').width();
    var hThumb = (thumb * 9 /16);
    $('.article-thumb .article-thumb__img').css('height',hThumb);
{% endset %}
{{ this.registerJs(js) }}
