
{% spaceless %}
{{ register_asset_bundle('backend/assets/AppAsset') }} 

{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">

	<head>

	    <meta charset="{{ app.charset }}">
	    <meta http-equiv="refresh" content="1800">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {{ Html.csrfMetaTags | raw }}
	    <title>{{ Html.encode(this.title) }}</title>
	    {{ void(this.head) }}

	</head>

	<body class="hold-transition skin-black-light sidebar-mini">
		<!-- Site wrapper -->
		<div class="wrapper">

			{{ this.render('/partials/side-header.twig') | raw }}
			{{ this.render('/partials/side-bar.twig') | raw }}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				{{ this.render( '/partials/content-header.twig') | raw  }}

			    <!-- Main content -->
			    <section class="content"> 
			    	{{ this.render('/partials/alert.twig') | raw }}
			    	{{ content | raw }} 
			   	</section>
			    <!-- /.content -->
			</div>
			<!-- /.content-wrapper -->                                                                                 
			
			{{ this.render( '/partials/footer.twig' ) | raw }}
			{{ this.render( '/partials/side-control.twig' ) | raw }}

			{{ this.render( '/partials/modals/popupImage.twig' ) | raw }}
			{{ this.render( '/partials/modals/confirmDelete.twig' ) | raw }}
			
		</div>
		<!-- ./wrapper -->

{% set js %}
	    $('.dataTableAjax').dataTable({
	        "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
	        "iDisplayLength": 20,
	        "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
	        "bProcessing": true,
	        "bServerSide": true,
	        "sAjaxSource": "{{ url([ app.controller.id ~ '/list-of-data']) }}",
	        // set the initial value
	        "oLanguage": {
	            "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
	            "sLengthMenu": "_MENU_ records",
	            "oPaginate": {
	                "sPrevious": "Prev",
	                "sNext": "Next"
	            }
	        },
	        "ordering": false
	    });
{% endset %}
{{ this.registerJs(js) }}

	
	</body>
</html>
	{{ void(this.endBody()) }}
{{ void(this.endPage()) }}
{% endspaceless %}
