<!-- Button trigger modal -->
{{ register_asset_bundle('backend/assets/DashboardAsset') }} 
<div class="row">
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Participans</span>
                <span class="info-box-number">{{ participantTotal }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    
    <div class="col-md-3 col-sm-6 col-xs-12">
      	<div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Topic</span>
                <span class="info-box-number">{{ forumTopicTotal }}</span>
            </div>
	          <!-- /.info-box-content -->
      	</div>
        <!-- /.info-box -->
    </div>

    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
	      <div class="info-box">
		        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>

		        <div class="info-box-content">
			          <span class="info-box-text">Posts</span>
			          <span class="info-box-number">{{ postTotal }}</span>
		        </div>
		        <!-- /.info-box-content -->
	      </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-purple"><i class="fa fa-envelope-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Messages</span>
                <span class="info-box-number">{{ messageTotal }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

</div>

<div class="row">

	<div class="col-md-9">
        <!-- solid sales graph -->
      	<div class="box box-solid bg-teal disabled">
  	        <div class="box-header">
                <i class="fa fa-area-chart"></i>

  	            <h3 class="box-title">Graphinfo Today</h3>

		        <div class="box-tools pull-right">
		            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
		            </button>
		            <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
		            </button>
		        </div>
  	        </div>

  	        <div class="box-body border-radius-none">
  		          <div class="chart" id="line-chart" style="height: 400px;"></div>
  	        </div>

  	        <!-- /.box-body -->
  	        <div class="box-footer no-border">
  	        	<div class="row" style="color: #000">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{registerToday}}</h5>
                            <span class="description-text">Register</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{isOnline}}</h5>
                            <span class="description-text">Online</span>
                        </div>
                    <!-- /.description-block -->
                    </div>
                    <!-- ./col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{activityToday}}</h5>
                            <span class="description-text">Activity</span>
                        </div>
                      <!-- /.description-block -->
                    </div>
                  <!-- ./col -->
                </div>
  	        </div>
	        <!-- /.box-footer -->
      	</div>

        <div class="box box-teal">
            <div class="box-header">
                <i class="fa fa-comments-o"></i>

                <h3 class="box-title">Last participant post</h3>

                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                    <div class="btn-group" data-toggle="btn-toggle">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>

                    </div>
                </div>
            </div>

            <div class="box-body chat" id="chat-box">

                {% for post in lastParticipantPost %}
                    <!-- chat item -->
                    <div class="item">
                        <img src="{{ baseUrl }}/backend/img/avatar5.png" alt="user image" class="online">

                        <p class="message">
                            <a href="{{ url('participant/detail', { 'id': post.participant_id }) }}" class="name">
                                <small class="text-muted pull-right">
                                    <i class="fa fa-clock-o"></i> {{ post.created_at|date('M/d H:i') }}
                                </small>
                                {{ post.participant.fullname }}
                            </a>
                            <i>"<a href=#>{{ post.topic.name }}</a>" - &nbsp;</i>
                            {{ post.content }}
                            <br>
                        </p> 
                            <a href="#" 
                                data-action="{{ url('forum-post/delete', { 'id': post.id }) }}" 
                                data-toggle="modal" 
                                data-target="#confirmDelete"
                                class="btn btn-danger btn-xs"> 
                                Remove
                            </a>

                    </div>
                    <!-- /.item -->
                {% endfor %}
            </div>

            <div class="box-footer text-center">
                <a href="{{ url(['forum-post/index']) }}"> View More </a>
            </div>

        </div>
          <!-- /.box (chat box) -->
	</div>

    <div class="col-md-3">
        {# 
        <div class="box box-success">
            <div class="box-header">
                <i class="fa fa-comments-o"></i>

                <h3 class="box-title">Message</h3>

                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                    <div class="btn-group" data-toggle="btn-toggle">
                        <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                    </div>
                </div>
            </div>
            <div class="box-body chat" id="chat-box">

                {% for i in range(0,3) %}
                <!-- chat item -->
                <div class="item">
                    <img src="{{ baseUrl }}/backend/img/avatar5.png" alt="user image" class="online">

                    <p class="message">
                        <a href="#" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                        Mike Doe
                        </a>
                        I would like to meet you to discuss the latest news about
                        the arrival of the new theme. They say it is going to be one the
                        best themes on the market
                    </p>
                </div>
                <!-- /.item -->
                {% endfor %}
            </div>
            <!-- /.chat -->
            <div class="box-footer text-center">
                <a href="{{ url(['message/index']) }}">View more</a>
            </div>
        </div> #}
        <!-- /.box (chat box) -->

		<div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-file-image-o"></i>

              <h3 class="box-title">Our Gallery</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% set i = 0 %}
                        {% for gallery in galleries %}
                              <li data-target="#carousel-example-generic" data-slide-to="{{ i }}" class="{{ i == 0 ? 'active' : '' }}"></li>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">

                        {% set i = 0 %}
                        {% for gallery in galleries %}
                                <div class="item {{ i == 0 ? 'active' : '' }}">
                                <img src="{{ gallery.thumbnail }}" alt="First slide">

                                <div class="carousel-caption">
                                  {{ gallery.name}}
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                      <span class="fa fa-angle-right"></span>
                    </a>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>

</div>

{% set js %}

var line = new Morris.Line({
    element: 'line-chart',
    resize: true,
    data: JSON.parse('{{ visitorGraph|raw }}') ,
    parseTime: false,
    xkey: 'date',
    ykeys: ['visitorCount', 'participantCount', 'activityCount'],
    labels: ['Visitors', 'Participants', 'Activity'],
    lineColors: ['#FFD38F', '#8FEDFF', '#EBEBE8'],
    lineWidth: 2,
    hideHover: 'auto',
    gridTextColor: "#fff",
    gridStrokeWidth: 0.4,
    pointSize: 4,
    pointStrokeColors: ["#fff"],
    gridLineColor: "#efefef",
    gridTextFamily: "Open Sans",
    gridTextSize: 10
});

var now = new Date();
var hrs = now.getHours();
var msg = "";

if (hrs >  0) msg = "Mornin' Sunshine!"; // REALLY early
if (hrs >  6) msg = "good morning!";      // After 6am
if (hrs > 12) msg = "good afternoon!";    // After 12pm
if (hrs > 17) msg = "good evening!";      // After 5pm

$('#greeting').text(msg);

{% endset %}

{{ this.registerJs( js ) }}