
{{ use('yii\helpers\Html') }}
{{ use('common\widgets\Alert') }}
{{ use('Yii') }}

{{ register_asset_bundle('frontend/assets/AppAsset') }}

{{ void(this.beginPage()) }}
{#{% spaceless %}#}
<!DOCTYPE html>
<html lang="{{ app.language }}">

<head>

    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel=icon href={{ baseUrl }}/img/favicon.png sizes="32x32" type="image/png">
    {{ Html.csrfMetaTags | raw }}
    {{ this.meta() | raw }}

    {{ void(this.head) }}
</head>

<body>
<div class="title-bar hide-for-medium" data-equalizer="menu-small">
    <div class="small-9 columns text-center" data-equalizer-watch="menu-small">
        <a href="{{ baseUrl }}">
            <span class="title-bar-title"><img src="{{ baseUrl }}/img/logo-bunda-konicare.png"/></span>
        </a>
    </div>
    <div class="small-3 columns title-bar-right" data-equalizer-watch="menu-small">
        <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
            <button class="button" type="button" data-toggle="example-dropdown"  data-equalizer-watch="menu-small"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="dropdown-pane dropdown-search" id="example-dropdown" data-dropdown data-options="autoFocus:true;vOffset:4">
                {% set form = active_form_begin({ 'action': baseUrl ~ '/search', 'method': 'GET'}) %}
                <div class="input-group">
                    <input class="input-group-field" type="text" name="keywords" placeholder="Cari disini">
                    <div class="input-group-button">
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true"><div class="icon icon--close-thin"></div></span>
                        </button>
                    </div>
                </div>
                {{ active_form_end() }}
            </div>
        </div>
        <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
            <button class="menu-icon" type="button" data-toggle="my-info"></button>
        </div>
    </div>
</div>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
        <div class="off-canvas position-right show-for-small-only" id="my-info" data-off-canvas="" data-position="right" aria-hidden="true" data-offcanvas="lxvmpo-offcanvas">
            <div class="row column nopadd" style="height: 100%!important;">
                <ul class="vertical menu" data-drilldown data-options="backButtonPosition:bottom">
                    {#<li class="menu-close">#}
                        {#<a>#}
                            {#<button class="close-button icon icon--close-thin" aria-label="Dismiss alert" type="button" data-close>#}
                                {#&#123;&#35;<div class=""></div>&#35;&#125;#}
                            {#</button>#}
                        {#</a>#}
                    {#</li>#}
                    <li class="{{ this.currentMenu == 'about-us' ? 'current' : '' }}"><a href="{{ baseUrl }}/site/about">Tentang Kami</a></li>
                    <li class="{{ this.currentMenu == 'produk' ? 'current' : '' }}"><a href="{{ baseUrl }}/product">Produk</a></li>
                    <li class="{{ this.currentMenu == 'article' ? 'current' : '' }}">
                        <a href="{{ baseUrl }}/article">Artikel</a>
                        <ul class="vertical menu">
                            <li class="submenu current"><a>Artikel</a></li>
                            {% for articleCategory in this.articleCategories() %}
                                <li class="submenu"><a href="{{ baseUrl }}/article/{{ articleCategory.slug }}">{{ articleCategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="{{ this.currentMenu == 'forum' ? 'current' : '' }}"><a href="{{ baseUrl }}/forum">Obrolan Bunda</a></li>
                    <li class="{{ this.currentMenu == 'news-activity' ? 'current' : ''}}"><a href="{{ baseUrl }}/activity">Berita & Aktivitas</a></li>
                    {#new#}
                    <li class="{{ this.currentMenu == 'profile' ? 'current' : '' }}">
                        <a href="#">Profile</a>
                        <ul class="vertical menu">
                            {% if this.user is empty %}
                                <li class="submenu"><a class="nav__item--login" href="{{ baseUrl }}/participant/login">Login</a></li>
                            {% else %}
                                <li class="submenu"><a href="{{ baseUrl }}/participant/detail">User Profile</a></li>
                                <li class="submenu"><a href="{{ baseUrl }}/participant/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {# <li class=""><a href="{{ baseUrl }}/privacy-policy">Privacy Policy</a></li>
                    <li class=""><a href="{{ baseUrl }}/term-and-conditions">Term & Conditions</a></li> #}
                    {#end new#}
                    <li class="{{ this.currentMenu == 'contact-us' ? 'current' : ''}}"><a href="{{ Url.base }}/contact-us">Kontak Kami</a></li>
                    <li class="m-socmed m-socmed--first" style="font-size: 12px;">Ikuti akun Media Sosial kami<a href="{{ this.facebookUrl }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="m-socmed"><a href="{{ this.twitterUrl }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="m-socmed m-socmed--last"><a href="{{ this.instagramUrl }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content="">

            {{ this.render('/partials/header.twig')|raw }}
            {{ this.render('/partials/alert.twig')|raw }}

            {{ content | raw }}
            
            {{ this.render('/partials/footer.twig')|raw }}
            <div class="js-off-canvas-exit"></div>
        </div>
    </div>
</div>

{{ void(this.endBody()) }}


{% set js %}
{#$(document).load($(window).bind("resize", checkPosition));#}

{#function checkPosition()#}
{#{#}
$(window).on("resize", function () {
    {#dropdown-pane is-open#}
    var header = $('.title-bar.hide-for-small-only').height();
    var topDown = header;
    $('.dropdown-pane.is-open').css('top' , header);
    {#desktop#}
    var dHeaderTop = {
        marginTop : header + 4,
    };
    $('.off-canvas-content').css(dHeaderTop);
    {#mobile#}
    var mHeader = $('.title-bar.hide-for-medium').height();
    var pHeaderTop = {
        paddingTop : mHeader + 4,
    };
    var mHeaderCustom = mHeader + 4;
    var menuClose = {
        height: mHeaderCustom,

    }
    $('.off-canvas-content').css('padding-top', mHeader);
    $('.off-canvas').css('margin-top', mHeaderCustom);
    var iconWrap = $('.title-bar-right').height();
    var iconSearch = $('.icon--search').height();
    var iconSearchPadd = ((iconWrap - iconSearch) / 2);
    var iconMenu = $('.title-bar.hide-for-medium .menu-icon').height();
console.log(iconMenu);
    var iconMenuPadd = ((iconWrap - iconMenu) / 2);
    $('.title-bar.hide-for-medium .menu-icon').css('margin-top', iconMenuPadd);
    $('.is-drilldown-submenu').css('marginTop',mHeader + 4);
    $('.menu-close > a').css(menuClose);
    var iconCloseMenu = $('.menu-close > a .icon--close-thin').height();
    var iconCloseMenuPadd = ((mHeader - iconCloseMenu) / 4);
    $('.menu-close > a .icon--close-thin').css('margin-top', iconCloseMenuPadd);
{#}#}
}).resize();
{% endset %}
{{ this.registerJs(js,5) }}
</body>
</html>
{{ void(this.endPage()) }}
{#{% endspaceless %}#}