
{{ use('yii\helpers\Html') }}
{{ use('common\widgets\Alert') }}
{{ use('Yii') }}

{{ register_asset_bundle('frontend/assets/AppAsset') }}

{{ void(this.beginPage()) }}
{#{% spaceless %}#}
<!DOCTYPE html>
<html lang="id-ID">

<head>

    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel=icon href={{ baseUrl }}/img/favicon.png sizes="32x32" type="image/png">
    {{ Html.csrfMetaTags | raw }}
    {{ this.meta() | raw }}

    {{ void(this.head) }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-61195509-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
<!-- 
Start of global snippet: Please do not remove
Place this snippet between the <head> and </head> tags on every page of your site.
-->
<!-- Global site tag (gtag.js) - Google Marketing Platform -->
<script async src=""https://www.googletagmanager.com/gtag/js?id=DC-9538249""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'DC-9538249');
</script>
<!-- End of global snippet: Please do not remove -->	

<!--
Event snippet for Bunda Konicare | Pageview on https://bundakonicare.com/: Please do not remove.
Place this snippet on pages with events you’re tracking. 
Creation date: 12/20/2019
-->
<script>
  gtag('event', 'conversion', {
    'allow_custom_scripts': true,
    'send_to': 'DC-9538249/pagev0/bunda0+standard'
  });
</script>
<noscript>
<img src=""https://ad.doubleclick.net/ddm/activity/src=9538249;type=pagev0;cat=bunda0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?"" width=""1"" height=""1"" alt=""""/>
</noscript>
<!-- End of event snippet: Please do not remove -->

<div class="title-bar hide-for-medium" data-equalizer="menu-small">
    <div class="small-9 columns text-center" data-equalizer-watch="menu-small">
        <a href="{{ baseUrl }}">
            <span class="title-bar-title"><img src="{{ baseUrl }}/img/logo-bunda-konicare.png"/></span>
        </a>
    </div>
    <div class="small-3 columns title-bar-right" data-equalizer-watch="menu-small">
        <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
            <button class="button" type="button" data-toggle="example-dropdown"  data-equalizer-watch="menu-small"><i class="fa fa-search"></i></button>
            <div class="dropdown-pane dropdown-search" id="example-dropdown" data-dropdown data-options="autoFocus:true;vOffset:4">
                {% set form = active_form_begin({ 'action': baseUrl ~ '/search', 'method': 'GET'}) %}
                <div class="input-group">
                    <input class="input-group-field" type="text" name="keywords" placeholder="Cari disini">
                    <div class="input-group-button">
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span><div class="icon icon--close-thin"></div></span>
                        </button>
                    </div>
                </div>
                {{ active_form_end() }}
            </div>
        </div>
        <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
            <button class="menu-icon" type="button" data-toggle="my-info"></button>
        </div>
    </div>
</div>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
        <div class="off-canvas position-right show-for-small-only" id="my-info" data-off-canvas="" data-position="right" aria-hidden="true" data-offcanvas="lxvmpo-offcanvas">
            <div class="row column nopadd" style="height: 100%!important;">
                <ul class="vertical menu" data-drilldown data-options="backButtonPosition:bottom">
                    <li class="{{ this.currentMenu == 'about-us' ? 'current' : '' }}"><a href="{{ baseUrl }}/site/about">Tentang Kamu</a></li>
                    <li class="{{ this.currentMenu == 'produk' ? 'current' : '' }}"><a href="{{ baseUrl }}/product">Produk</a></li>
                    <li class="{{ this.currentMenu == 'article' ? 'current' : '' }}">
                        <a href="{{ baseUrl }}/article">Artikel</a>
                        <ul class="vertical menu">
                            <li class="submenu current"><a href="{{ baseUrl }}/article">Artikel</a></li>
                            {% for articleCategory in this.articleCategories() %}
                                <li class="submenu"><a href="{{ baseUrl }}/article/{{ articleCategory.slug }}">{{ articleCategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="{{ this.currentMenu == 'forum' ? 'current' : '' }}"><a href="{{ baseUrl }}/forum">Obrolan Bunda</a></li>
                    <li class="{{ this.currentMenu == 'news-activity' ? 'current' : ''}}"><a href="{{ baseUrl }}/activity">Berita & Aktivitas</a></li>
                    {#new#}
                    <li class="{{ this.currentMenu == 'profile' ? 'current' : '' }}">
                        <a href="#">Profile</a>
                        <ul class="vertical menu">
                            {% if this.user is empty %}
                                <li class="submenu"><a class="nav__item--login" href="{{ baseUrl }}/participant/login">Login</a></li>
                            {% else %}
                                <li class="submenu"><a href="{{ baseUrl }}/participant/detail">User Profile</a></li>
                                <li class="submenu"><a href="{{ baseUrl }}/participant/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {# <li class=""><a href="{{ baseUrl }}/privacy-policy">Privacy Policy</a></li>
                    <li class=""><a href="{{ baseUrl }}/term-and-conditions">Term & Conditions</a></li> #}
                    {#end new#}
                    <li class="{{ this.currentMenu == 'contact-us' ? 'current' : ''}}"><a href="{{ Url.base }}/contact-us">Kontak Kami</a></li>
                    <li class="m-socmed m-socmed--first" style="font-size: 12px;">Ikuti akun Media Sosial kami<a href="{{ this.facebookUrl }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="m-socmed"><a href="{{ this.twitterUrl }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="m-socmed m-socmed--last"><a href="{{ this.instagramUrl }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content="">

            {{ this.render('/partials/header.twig')|raw }}
            {{ this.render('/partials/alert.twig')|raw }}

            {{ content | raw }}
            {{ this.render('/partials/footer.twig')|raw }}
            <div class="js-off-canvas-exit"></div>
        </div>
    </div>
</div>

{{ void(this.endBody()) }}


{% set js %}
$(window).on("resize", function () {
    {#dropdown-pane is-open#}
    var header = $('.title-bar.hide-for-small-only').height();
    var topDown = header;
    $('.dropdown-pane.is-open').css('top' , header);
    {#desktop#}
    var dHeaderTop = {
        marginTop : header + 4,
    };
    $('.off-canvas-content').css(dHeaderTop);
    {#mobile#}
    var mHeader = $('.title-bar.hide-for-medium').height();
    var pHeaderTop = {
        paddingTop : mHeader + 4,
    };
    var mHeaderCustom = mHeader + 4;
    var menuClose = {
        height: mHeaderCustom,

    }
    $('.off-canvas-content').css('padding-top', mHeader);
    $('.off-canvas').css('margin-top', mHeaderCustom);
    var iconWrap = $('.title-bar-right').height();
    var iconSearch = $('.icon--search').height();
    var iconSearchPadd = ((iconWrap - iconSearch) / 2);
    var iconMenu = $('.title-bar.hide-for-medium .menu-icon').height();
    var iconMenuPadd = ((iconWrap - iconMenu) / 2);
    $('.title-bar.hide-for-medium .menu-icon').css('margin-top', iconMenuPadd);
    $('.menu-close > a').css(menuClose);
    var iconCloseMenu = $('.menu-close > a .icon--close-thin').height();
    var iconCloseMenuPadd = ((mHeader - iconCloseMenu) / 4);
    $('.menu-close > a .icon--close-thin').css('margin-top', iconCloseMenuPadd);

    $(".off-canvas").on("opened.zf.offcanvas", function(e) {
        console.log('open');
        $('button[data-toggle="example-dropdown"]').attr('disabled','');
        $('.dropdown-pane.dropdown-search').removeClass('is-open');
    }).on("closed.zf.offcanvas", function(e) {
        console.log('close');
        $('button[data-toggle="example-dropdown"]').removeAttr('disabled','');
    });
{#}#}
}).resize();
{% endset %}
{{ this.registerJs(js,5) }}
</body>
</html>
{{ void(this.endPage()) }}
{#{% endspaceless %}#}