<div class="box">
	

	{{ this.render('/partials/panel-header.twig') | raw }}
	
	<!-- /.box-header -->
	<div class="box-body">
		<div class="table-responsives">
			{% set form = active_form_begin({'action': ['setting/update']}) %}
				<input type="hidden" name="{{ app.request.csrfParam }}" value="{{ app.request.getCsrfToken()}}" />
				<table class="table table-striped table-bordered table-hover" id="">
					<thead>
						<tr>
							<th>Name</th>
							<th>Value</th>
							<th width="1%"></th>
						</tr>
					</thead>
					<tbody>
						{% for key, value in variables %}
							<tr>
								<td>{{ key }}</td>
								{% if key == 'new-forum' %}
									<td>{{ Html.dropDownList("Setting[][#{key}]", value, {'Enabled': 'Enabled', 'Disabled': 'Disabled'}, {'class':'form-control'}) | raw }}</td>
								{% else %}
									<td><input type="text" value="{{value}}" name="Setting[][{{key}}]" class="form-control"></td>
								{% endif %}
								<td>
									<a href="#" 
										data-action="{{Url.to( { '0': 'setting/delete/', "id": key} )}}" data-toggle="modal" 
                                        data-target="#confirmDelete" class="btn btn-flat btn-default">
                                            <i class="fa fa-times"></i> Delete
                                    </a>
                                </td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th></th>
							<th><button type="submit" class="btn btn-flat btn-default">Update</button></th>
						</tr>
					</tfoot>
				</table>
			{{ active_form_end() }}
		</div>
	</div>
<!-- /.box-body -->
</div>