{{ register_asset_bundle('frontend/assets/RegisterAsset') }}

<div class="section section--login">
    <div class="small-11 small-centered medium-6 xxlarge-4 columns nopadd medium-centered section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title section--login__title--green">
            <h3>User Profile</h3>
        </div>
        <div class="small-11 small-centered medium-12 columns nopadd form-wrap form-wrap--short">
            {% set form = active_form_begin({'options': { 'enctype': 'multipart/form-data' }}) %}
                <div class="row">
                    <div class="small-8 small-centered medium-12 columns">
                        <label>
                            {#Ganti Foto Profile#}
                            <input type='file' name="Participant[avatarimg]" id="inputProfile" style="display: none" />
                            <img class="medium-3 xxlarge-4 columns medium-centered profile__img" id="currentProfile" src="{{ participant.getAvatar('normal_') }}" alt="your image" />
                            <span class="input--label">Ganti Foto Profile</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-10 xxlarge-6 medium-centered columns">
                        <div class="row">
                            <label class="input__ornamen">
                                <span class="test" style="display: none">{{ participant.fullname }}</span>
                                Bunda
                                <input class="input__transparent input__transparent--name" type="text" id="name" name="Participant[fullname]" value='{{ participant.fullname }}' onkeypress="this.style.width = ((this.value.length + 1) * 7) + 'px';" required/>
                                <div class="icon__edit"></div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="input--desc">Poin Terkumpul</span>
                                <div class="input--poin">{{ participant.points|number_format }} pts</div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="medium-5 columns input--desc">Tanggal Lahir</span>
                                <div class="medium-7 columns input--wrap">
                                    <input class="input__transparent" type="text" id="birthdate" name="Participant[birthdate]" value="{{ participant.birthdate }}" required/>
                                    <div class="icon__edit"></div>
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="medium-5 columns input--desc">No. Telp</span>
                                <div class="medium-7 columns input--wrap">
                                    <input class="input__transparent" type="text" id="name" name="Participant[nohp]" value="{{ participant.nohp }}" required/>
                                    <div class="icon__edit"></div>
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="medium-5 columns input--desc">Provinsi</span>
                                <div class="medium-7 columns input--wrap">
                                    <select class="input__transparent-select" name="Participant[province_id]" id="province_id">
                                        {% for province in provinces %}

                                            {% if province.id == participant.province_id %}
                                                <option value="{{province.id}}" selected>{{ province.name }}</option>
                                            {% else %}
                                                <option value="{{province.id}}">{{ province.name }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                    {#<div class="icon__edit"></div>#}
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="medium-5 columns input--desc">Kota</span>
                                <div class="medium-7 columns input--wrap">
                                    <select class="input__transparent-select" name="Participant[regency_id]" id="regency_id">
                                        {% for regency in regencies %}

                                            {% if regency.id == participant.regency_id %}
                                                <option value="{{regency.id}}" selected>{{ regency.name }}</option>
                                            {% else %}
                                                <option value="{{regency.id}}">{{ regency.name }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                    {#<div class="icon__edit"></div>#}
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="medium-5 columns input--desc">Alamat Rumah</span>
                                <div class="medium-7 columns input--wrap">
                                    <textarea rows='4' class="input__transparent" id="address" name="Participant[address]">{{ participant.address }}</textarea>
                                    <div class="icon__edit"></div>
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <span class="medium-5 columns input--desc">Email Terdaftar</span>
                                <div class="medium-7 columns input--wrap">
                                    <input class="input__transparent" type="email" id="email" name="Participant[email]" value="{{ participant.email }}" required/>
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns input--label-wrap">
                                <label>
                                    <a href="{{ baseUrl }}/participant/change-password">
                                        <span class="input--label-big">Ganti Password</span>
                                    </a>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <ul>
                                <li><a href="{{ baseUrl }}/participant/detail" class="link link__submit link__submit--opt" type="submit">Cancel</a></li>
                                <li><button class="link link__submit link__submit--opt" type="submit">Save</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{ active_form_end() }}
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
    {#content min-height#}
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var header = $('.hide-for-small-only').height();
    var footer = $('footer').height();
    wrap = h - header - footer;
    $('.section--login').css('min-height',wrap);
    {#form name#}
    var test = $('.test').width();
    $('.input__transparent--name').css('width', (test + 2));
    {#form profile image#}
    var profile = $('.profile__img').width();
    $('.profile__img').css('height', profile);
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#currentProfile').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#inputProfile").change(function(){
        readURL(this);
    });
    {#form birthdate#}
    $('#birthdate').fdatepicker({
        initialDate: '02-12-1989',
        format: 'dd-mm-yyyy',
        disableDblClickSelection: true,
        leftArrow:'<<',
        rightArrow:'>>',
        closeIcon:'X',
        closeButton: true,
    });

    $('#province_id').on('change', function(){
        
        $('#regency_id').empty();
        
        $.post( '{{baseUrl}}/location/regency', { provinceId: $(this).val() } )
        .done( function(data) {
            $.each(data, function( key, regency ){
                $('#regency_id').append($("<option></option>").attr('value', regency.id).text(regency.name));
            });
        });

    });

{% endset %}
{{ this.registerJs(js) }}