<div class="section section--login">
    <div class="small-10 small-centered medium-4 medium-centered columns nopadd section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title">
            <h3>Log In</h3>
        </div>
        <div class="small-10 small-centered medium-8 medium-offset-2 columns nopadd form-wrap">
            {# <a href="{{ facebookUrlLogin }}" class="link link--facebook">Login Dengan Facebook</a>
            <div class="ornamen-wrap">
                <div class="ornamen-line"></div>
                <span>ATAU</span>
            </div> #}

            {% set form = active_form_begin({'action': baseUrl ~ '/participant/login?goto=' ~ goto}) %}

            {{ form.field( model, 'username').textInput( {'class': 'form-input', 'placeholder' : 'Username'} ).label(false) | raw }}
            {{ form.field( model, 'password').passwordInput( { 'placeholder' : 'Password'}).label(false) | raw }}
            {{ form.field( model, 'rememberMe', {'options': { 'class': 'text-left' }} )
            .checkbox( {
            'template': '<div class="checkbox icheck">{beginLabel}{input}{labelTitle}{endLabel}{error}{hint}</div>'
            } )
            .label('&nbsp; Ingat Saya') | raw }}
            <p>Lupa nama atau passwordmu ? <a class="form-wrap__link" href="{{ baseUrl }}/forgot-password">Klik Disini</a></p>
            <ul>
                <li><a href="{{ baseUrl }}/participant/register/step/1" class="link link__submit">Daftar Baru</a></li>
                <li><button class="link link__submit" type="submit">Log In</button></li>
            </ul>
            {{ active_form_end() }}
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var header = $('.hide-for-small-only').height();
    var footer = $('footer').height();
    wrap = h - header - footer;
    $('.section--login').css('min-height',wrap);
    $("#signinform-username").focus();
{% endset %}
{{ this.registerJs(js) }}