<div class="section section--login">
    <div class="medium-4 columns nopadd medium-centered section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title section--login__title--green">
            <h3>Restart Password!</h3>
        </div>
        <div class="medium-8 medium-offset-2 columns nopadd form-wrap">

            {% set form = active_form_begin() %}

            {{ form.field( model, 'newPassword').passwordInput( {'placeholder' : 'New Password'} ).label(false) | raw }}
            {{ form.field( model, 'rePassword').passwordInput( {'placeholder' : 'Re Password'} ).label(false) | raw }}

            <button class="link" type="submit">Submit</button>
            {{ active_form_end() }}
        </div>
        <img class="medium-10 medium-offset-2 columns nopadd ornamen" src="{{ baseUrl }}/img/ornamen-register.jpg"/>

        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
var header = $('.hide-for-small-only').height();
var footer = $('footer').height();
wrap = h - header - footer;
$('.section--login').css('min-height',wrap);
$('#forgotpassword-newPassword').focus();
{% endset %}
{{ this.registerJs(js) }}