<div class="section section--login">
    <div class="small-11 small-centered medium-4 columns nopadd medium-centered section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title">
            <h3>Register New Account</h3>
        </div>
        <div class="small-11 small-centered medium-8 medium-offset-2 columns nopadd form-wrap">
            <h3>Account Details</h3>
            <a href="{{ facebookUrlLogin }}" class="link link--facebook">Login Dengan Facebook</a>
            <div class="ornamen-wrap">
                <div class="ornamen-line"></div>
                <span>ATAU</span>
            </div>

            {% set form = active_form_begin() %}

            {{ form.field( model, 'username').textInput( {'class': 'form-input', 'placeholder' : 'Username'} ).label(false) | raw }}
            {{ form.field( model, 'email').textInput( {'placeholder' : 'Email'} ).label(false) | raw }}
            {{ form.field( model, 'password').passwordInput( {'placeholder' : 'Password'} ).label(false) | raw }}
            {{ form.field( model, 'confirmPassword').passwordInput( {'placeholder' : 'Confirm Password'} ).label(false) | raw }}

            <button class="link" type="submit">Next Step<img class="link--ornamen" src="{{ Url.base }}/img/icon-next.png"/></button>

            {{ active_form_end() }}
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var header = $('.hide-for-small-only').height();
    var footer = $('footer').height();
    wrap = h - header - footer;
    $('.section--login').css('min-height',wrap);
    $("#signupform-username").focus();
{% endset %}
{{ this.registerJs(js) }}