<div class="section section--login">
    <div class="medium-4 columns nopadd medium-centered section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title section--login__title--green">
            <h3>Failed!</h3>
        </div>
        <div class="medium-8 medium-offset-2 columns nopadd form-wrap">
            <p>Access key kamu sudah expired, silahkan kirim ulang kembali access key dibawah ini</p>

            {% set form = active_form_begin() %}
                <button type="submit" class="primary button">Kirim ulang access key</button>
            {{ active_form_end() }}
        </div>
        <img class="medium-10 medium-offset-2 columns nopadd ornamen" src="{{ baseUrl }}/img/ornamen-register.jpg"/>

        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
var header = $('.hide-for-small-only').height();
var footer = $('footer').height();
wrap = h - header - footer;
$('.section--login').css('min-height',wrap);
{% endset %}
{{ this.registerJs(js) }}