
{{ register_asset_bundle('frontend/assets/RegisterAsset') }} 


<div class="section section--login">
    <div class="small-11 small-centered medium-4 medium-centered columns nopadd section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title">
            <h3>Register New Account</h3>
        </div>
        <div class="small-11 small-centered medium-8 medium-offset-2 columns nopadd form-wrap">
            <h3>Profile Details</h3>
            <div class="ornamen-line" style="height: 2px"></div>

            {% set form = active_form_begin() %}

            {{ form.field( model, 'fullname').textInput( {'placeholder': 'Nama Lengkap'}).label(false) | raw }}

            {# Refrence: http://stackoverflow.com/questions/28234684/yii-2-radiolist-template #}
            {{ form.field( model, 'gender').radioList( {'Wanita': 'Wanita', 'Pria': 'Pria'} ) | raw }}

            {{ form.field( model, 'birthdate').textInput( {'placeholder': 'dd/mm/yyyy'} ) | raw }}
            {{ form.field( model, 'nohp').textInput( {'placeholder': 'No. Handphone/Mobile'} ).label(false) | raw }}
            {{ form.field( model, 'address').textarea( {'placeholder': 'Alamat Rumah'} ).label(false) | raw }}
            {{ form.field( model, 'province_id').dropDownList( provinces ).label(false) | raw }}
            {{ form.field( model, 'regency_id').dropDownList([]).label(false) | raw }}
            {# {{ form.field( model, 'zip').textarea( {'placeholder': 'Zip'} ).label(false) | raw }} #}

            <p>Dengan memilih tombol Register, Bunda akan didaftarkan sebagai member,dan telah membaca serta menyetujui
                <a class="form-wrap__link">Terms and Condition</a> dan <a class="form-wrap__link">Privacy Policy</a> Bunda Konicare</p>

            <ul>
                <li><button class="link link__submit" type="button" onclick="window.history.go(-1); return false;">Kembali</button></li>
                <li><button class="link link__submit" type="submit">Register</button></li>
            </ul>
            {{ active_form_end() }}
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var header = $('.hide-for-small-only').height();
    var footer = $('footer').height();
    wrap = h - header - footer;
    $('.section--login').css('min-height',wrap);

    jQuery(function($){
        $('#signupform-province_id').on('change', function(){
            
            $('#signupform-regency_id').empty();
            
            $.post( '{{baseUrl}}/location/regency', { provinceId: $(this).val() } )
            .done( function(data) {
                $.each(data, function( key, regency ){
                    $('#signupform-regency_id').append($("<option></option>").attr('value', regency.id).text(regency.name));
                });
            });

        });
        $('#signupform-birthdate').fdatepicker({
            format: 'dd/mm/yyyy',
            disableDblClickSelection: true,
            leftArrow:'<<',
            rightArrow:'>>',
            closeIcon:'X',
            closeButton: true,
        });
    });

    $("#signupform-fullname").focus();
{% endset %}
{{ this.registerJs(js) }}
