<div class="section section--login">
    <div class="medium-4 columns nopadd medium-centered section--login__wrap">
        <div class="medium-12 columns nopadd section--login__title section--login__title--green">
            <h3>Success!</h3>
        </div>
        <div class="medium-8 medium-offset-2 columns nopadd form-wrap">
            <p>Selamat! Kamu sudah bergabung dengan Bunda Konicare!
                Kamu akan otomatis diarahkan kembali kehalaman home untuk melanjutkan aktivitas kamu di BundaKonicare.com</p>
            <img class="spinner" src="{{ baseUrl }}/img/icon-load.png"/>
            <a href="{{ baseUrl }}" class="form-wrap__link">Klik disini apabila browser kamu tidak mengarahkan kembali ke halaman home secara otomatis</a>
        </div>
        <img class="medium-10 medium-offset-2 columns nopadd ornamen" src="{{ baseUrl }}/img/ornamen-register.jpg"/>

        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
var header = $('.hide-for-small-only').height();
var footer = $('footer').height();
wrap = h - header - footer;
$('.section--login').css('min-height',wrap);

setInterval(function(){ 
    window.location = "{{baseUrl}}";
}, 3000);

{% endset %}
{{ this.registerJs(js) }}