@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body *,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

body .off-canvas-content {
    background-image: url('../img/bg.png');
    background-size: 100% auto;
}

.row.cols-1,
.row.cols-2 {
    max-width: 1260px;
}
.about .medium-2.columns {
    width: 20%;
}
h2.head--card {
    font-size: 2rem;
    text-align: center;
}
.cards.card--winner {
    background: #FFF;
    padding: 1rem 0.8rem;
    border-radius: 8px;
    box-shadow: 6px 6px 1px 2px rgba(0,0,0,0.35);
    -webkit-box-shadow: 6px 6px 1px 2px rgba(0,0,0,0.35);
}
.box--coupon {
    margin-top: 1rem;
    text-align: center;
}
.box--coupon .coupon_code {
    font-size: 24px;
}
.usr--name {
    text-align: center;
    margin: 0 0 0.2rem;
}
.usr--name .coupon_code {
    font-size: 28px;
}
.button--random {
    text-align: center;
}

.button--random a.link {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    background-color: #ef5870d1;
    text-transform: uppercase;
    color: #fefffe;
    display: inline-block;
}
.button--random a.link:hover {
    background: #ef5870;
    color: #FFF;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


/*POPUP STYLE*/
.container-produk,
.produk-box {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.container-produk.slick-initialized,
.produk-box {
    visibility: visible;
    opacity: 1;
}

input#avatar {
    z-index: -1;
}

#popup-overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 900;
    display: none;
}

/*.popup{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 901;
	text-align: center;
	display: none;
	}*/



.popup {
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: 901;
    text-align: center;
    margin-top: 5%;
    display: none;
    position: absolute;
}

.popup .box {
    margin: 10% 0 0;
    padding: 10px 0;
    padding-top: 120px;
    border: 1px solid #fff;
    background-color: transparent;
    display: inline-block;
    color: #333;
}

#popup-login .box {
    background-color: #f9f5ec;
    border-radius: 20px;
    position: relative;
    width: 500px;
    color: #f05871;
    margin-top: 30px;
    padding-top: 80px;
}

#popup-forgot .box {
    background-color: #f9f5ec;
    border-radius: 20px;
    position: relative;
    width: 500px;
    color: #f05871;
}

#popup-tambahrs .box {
    background-color: #f9f5ec;
    border-radius: 20px;
    position: relative;
    color: #f05871;
    width: 700px;
}

#popup-tambahrs .box p {
    margin: 0 0 20px;
}

div#popup-fitur-update {
    background-color: transparent;
    height: 380px;
}


#popup-daftar-tanyadokter .box,
#popup-emailconfirm .box,
#popup-fitur-update .box {
    width: 670px;
    min-height: 100px;
    position: relative;
    border-radius: 20px;
    background: #f8f5ec;
    padding: 0;
    border: none;
    overflow: hidden;
    color: #ee5562;
    font-family: Gotham;
    font-size: 20px;
    font-weight: 600;
}

#popup-daftar-tanyadokter .box header,
#popup-emailconfirm .box header,
#popup-fitur-update .box header {
    background: #fea087 url(../images/1200/popup-daftar-tanyadokter-header.png) center no-repeat;
    overflow: hidden;
    padding: 50px 0;
}

#popup-daftar-tanyadokter .box content,
#popup-emailconfirm .box content,
#popup-fitur-update .box content {
    padding: 20px 100px;
    display: block;
}

#popup-daftar-tanyadokter .box content p,
#popup-emailconfirm .box content p,
#popup-fitur-update .box content p {
    padding: 0;
    margin: 20px 0 0;
}

#popup-daftar-tanyadokter .box content p a,
#popup-emailconfirm .box content p a,
#popup-fitur-update .box content p a {
    display: inline-block;
    width: 130px;
    background: #f65a54;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    margin: 0 5px;
    text-decoration: none;
}

#popup-daftar-tanyadokter .box content p a.white,
#popup-emailconfirm .box content p a.white,
#popup-fitur-update .box content p a.white {
    background: #fff;
    color: #01b2a7;
}

div.popup-login-container {
    margin-top: -100px;
    margin-bottom: 50px;
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

div.login-logo {
    display: inline-block;
    background-image: url(../images/1200/logo-popup-panduanbunda.png);
    height: 83px;
    width: 351px;
    position: relative;
    bottom: 30px;
}

div.tambahrs-logo {
    display: inline-block;
    background-image: url(../images/1200/btn-temukanrumahsakit.png);
    background-size: 100% 100%;
    height: 83px;
    width: 230px;
}

div.login-container,
div.tambahrs-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

div.tambahrs-container .input-block {
    margin-bottom: 10px;
}

.btn-green {
    margin-top: 10px;
    background-color: #6dc6aa;
    font-weight: bold;
    color: #FFF;
    border: none;
    border-radius: 40px;
    padding: 15px 40px;
    font-size: 20px;
    width: 100%;
}

#submittambahrs {
    background: url(../images/1200/btn-tambah.png);
    border: 0;
    height: 47px;
    width: 167px;
}

.reset-password {
    color: #000;
    text-align: center;
    margin: 45px auto;
    background-color: #fff;
    border-radius: 25px;
    width: 500px;
    padding: 20px;
}

.reset-password table {
    width: 100%;
}

.reset-password table tr td input {
    width: 100%;
}

.reset-password table tr td {
    padding: 10px 0;
    text-align: left;
}

.reset-password input {
    border: 1px solid #ede7e9;
    border-radius: 8px;

    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

div.login-container input[type="text"],
div.login-container input[type="email"],
div.login-container input[type="password"] {
    border: 1px solid #ede7e9;
    border-radius: 8px;

    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

div.login-container input[type="submit"] {
    background: url(../images/1200/btn-login.png);
    border: 0;
    height: 47px;
    width: 358px;
}

table.tabel-login {
    width: 100%;
}

table.tabel-login tr>td:first-child {
    text-align: left;
}

table.tabel-login tr>td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#popup-register .box {
    background-color: #f9f5ec;
    border-radius: 20px;
    width: 650px;
    position: relative;
    margin-top: 35px;
    z-index: 10;
}


#popup-register .box h1.divider {
    margin-top: -40px;
    font-size: 30px;
    font-weight: bold;
}

div.register-container {
    color: #f05871;
    width: 100%;
    padding: 20px;
    display: table;
    text-align: left;
}

div.register-container input {
    height: 30px;
}

div.register-container td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

div.register-container-left {
    display: table-cell;
    /*float: left;*/
    width: 45%;
    position: relative;
    left: 70px;
}

/*	div.register-container-left>table>tbody>tr>td>td{
			padding-left: 20px;
			}*/

div.register-container-right {
    display: table-cell;
    /*float: right;*/
    width: 45%;
}

div.profilupload {
    width: 200px;
    height: 100px;

    background-color: #fff;
    border-radius: 10px;
    /*border: 1px solid #D3D3D3;

			background-image: url(../images/1200/icon-camera.png);*/
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
}

div.profilupload img {
    width: 100%;
    border-radius: 10px;
}

div.register-captcha {
    display: inline-block;
}

div.captcha-container {
    display: block;
    border: transparent;
    padding: 3px;
}

div.captcha-container .captcha {}

div.captcha-container .captcha img {
    width: 100%;
    display: block;
}

div.captcha-container .captcha input {
    display: block;
}

div.fblogin {
    background: url(../images/1200/btn-connectfb.png);
    height: 47px;
    width: 358px;

    display: inline-block;
}

.pinkselection {
    display: inline-block;
    padding: 0;
    margin: 0 5px 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    border-radius: 5px;

    background: #fff url(../images/1200/dropdown.png) no-repeat 100% 50%;
}

.pinkselection select {
    padding: 5px 8px;
    padding-right: 25px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pinkselection select:focus {
    outline: none;
}

.fullselect {
    width: 60%;
    display: inline-block;
}

/*==================== BEGIN =========================*/

input[type="text"].panduanbunda,
input[type="password"].panduanbunda {
    border: 1px solid #ede7e9;
    border-radius: 8px;

    height: 30px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

textarea.panduanbunda {
    border: 1px solid #ede7e9;
    border-radius: 8px;
    width: 100%;

    padding-left: 5px;
    padding-right: 5px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;

    -webkit-font-smoothing: antialiased;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-repeat:  no-repeat;*/
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #ecead5;
}

::selection {
    background: #bfa57c;
    color: #fff;
}

body {
    color: #FFF;
    font: 14px/23px Gotham;
}

html,
body {
    /*overflow-x:auto !important;*/
}

.clearfix {
    clear: both;
}

h1,
h2,
h3,
h4,
b {
    font-weight: bold;
    font-family: Gotham;
}

h2 {
    font-size: 28px;
    padding-bottom: 60px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

b {
    font-weight: 500;
    font-size: 16px;

    color: #c3522f;
}

.push-right {
    float: right;
}

.push-left {
    float: left;
}

.aligntop {
    vertical-align: top;
}

div.page {
    overflow: hidden;
}

.banneroverlay {
    position: absolute;
    top: 0;
    /*z-index:100;*/
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    /*background-image: url(../images/1200/top-overlay.png);*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    width: 100%;
    height: 100px;
}

.banner {
    position: relative;
    width: 100%;
    overflow: visible;

    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: rgba(255, 255, 255, .6);
    /*text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);*/

    background: #5b4d3d;
    /*box-shadow: 0 1px 2px rgba(0,0,0,.25);*/
}

.banner ul {
    list-style: none;
    width: 300%;
}

.banner ul li {
    display: block;
    float: left;
    width: 33%;
    padding: 200px 0 180px;

    min-height: 350px;

    background-size: cover;
    background-position: center;

    /*		-webkit-background-size: 100% 100%;*/
    /*-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;*/
    /*		background-size: 100% 100%;*/

    box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .1);
}

.banner h1,
.banner h2 {
    width: 100%;
    font-size: 42px;
    line-height: 48px;
    text-shadow: 1px 1px 1px #C0C0C0;
    margin-bottom: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #33bebd;
}

.articlepage-container-bottom {
    position: relative;
}

.banner .wrap {
    text-align: left;
    min-height: 185px;
    padding-left: 430px;
    height: 300px;
}

.banner .slider-bacaselengkapnya {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    background: linear-gradient(#f2798d, #ef5870);

    color: #fff;


    border-radius: 10px;
    /*background-color: #FFF;*/
    text-transform: capitalize;

    display: inline-block;

    font-size: 18px;
    font-weight: bold;
}

.banner .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
}

.banner .btn:hover {
    background: rgba(255, 255, 255, .05);
}

.banner .btn:active {
    -webkit-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -moz-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -ms-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -o-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
}

.banner .btn,
.banner .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
}

.banner .dots {
    position: relative;
    left: 29px;
    bottom: 154px;
    height: 50px;
}

.banner .dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #f27488;
    border-radius: 6px;

    cursor: pointer;
    /*opacity: .4;*/

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.banner .dots li.active {
    background: #f27488;
    opacity: 1;
}

div.bannerblur {
    height: 100px;
    background-image: url(../images/1200/bg-blur.png);
    background-size: 100% 100%;
}

div.mobilenav {
    display: none;
    z-index: 400;
}

.logomobilemiddle {
    display: none;
}

div.searchnav {
    z-index: 400;
}

div.login-wrapper {
    position: absolute;
    z-index: 200;
    top: 0px;
    width: 100%;
}

div.top-login {
    position: relative;
    z-index: 100;
    float: right;
}

.anniv-logo {
    position: absolute;
    right: -70%;
    top: 0;
}

div.top-login h3 {
    display: inline-block;
    text-decoration: none;
    color: #ef5870;
    font-size: 13px;
}

.avatar-frame {
    display: table-cell;
    /*border: 2px solid #fff;*/
}

.top-login-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    position: relative;
    left: 88px;
    bottom: 61px;
}

.healthymeter-navbar {
    font-size: 14px;
}

.namelogin {
    position: relative;
    font-size: 15px;
}

.avatar-frame-navbar,
.avatar-frame-navbar img {
    width: 35px;
    height: 35px;
    background-color: #fff;
    -webkit-border-radius: 30px;
    /* Saf3+, Chrome */
    border-radius: 30px;
    /* Opera 10.5, IE 9 */
}

.avatar-frame,
.avatar-frame img {
    width: 35px;
    height: 35px;
    margin-top: -8px;
    -webkit-border-radius: 30px;
    /* Saf3+, Chrome */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
    border-radius: 30px;
    /* Opera 10.5, IE 9 */
}

.avatar-frame img {

    border: 2px solid #fff;
}

.avatar-frame.mobile img {
    border: 2px solid #fff;
    width: 60px;
    height: 60px;
    margin-top: 0;
}

.features {
    overflow: hidden;
    padding: 50px 0;

    background: #f7f7f6;
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, .03);
}

.features li {
    position: relative;
    padding: 0 25px 0 40px;
    list-style: none;

    width: 25%;
    float: left;
}

.features li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 24px;
    height: 22px;

    background: url('img/icons.png');
}

.features li.browser:before {
    background-position: 0 -44px;
}

.features li.height:before {
    background-position: 0 -22px;
}

.features li.responsive:before {
    background-position: 0 -66px;
}

.features b {
    display: block;
    padding-bottom: 6px;
}

.how {
    padding: 60px 0;
}

.how h2 {
    color: #7c6853;
}

.how h3 {
    padding-bottom: 8px;

    color: #7b6b53;
    font-size: 20px;
    line-height: 10px;
}

.how li {
    position: relative;
    width: 375px;
    margin: 0 0 40px 15px;
    padding-left: 10px;
}

.how pre {
    position: absolute;
    left: 450px;
    top: 0;

    width: 495px;
    padding: 20px 25px;

    background: #f8f5f0;
    color: #8a785d;

    font-size: 12px;
    line-height: 18px;

    border-radius: 5px;
    box-shadow: inset 0 2px 2px rgba(180, 157, 125, .15), inset 0 0 1px rgba(0, 0, 0, .2);
}

.how p {
    padding-bottom: 15px;
}

.options {
    padding: 60px 0;

    background: #39342d;
    color: #7b7368;

    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.options a {
    opacity: .7;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    text-decoration: none;
}

.options a:hover {
    opacity: 1;
    border-bottom-color: rgba(255, 255, 255, .3);
}

.options p {
    font-size: 16px;
    line-height: 25px;

    padding-bottom: 20px;
}

.options h2 {
    color: #fff;
    padding-bottom: 15px;
}

.options pre {
    padding: 20px 25px;

    background: #342f29;
    color: #988f81;

    font-size: 13px;
    line-height: 19px;

    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .15), inset 0 0 1px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.options pre span {
    color: #706657;
}

.wrap {
    margin: 0 auto;
    width: 960px;
}

.wrap:before,
.wrap:after {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
(max-width: 900px) {}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .features li:before {
        background: url('img/icons@2x.png');
        background-size: 100%;
    }
}

.page-head-menu {
    position: relative;
    background-color: transparent;
    height: auto;
}

div.logocontainer {
    text-align: center;
    height: 40px;
}

div.logo-img {
    background-image: url('../images/1200/logo-panduanbunda.png');
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    top: -80px;
    height: 131px;
    width: 526px;
    z-index: 201;
}

/*MENU START*/

ul.mainmenu {
    list-style: none;
    text-align: center;
    font-size: 11px
}

ul.mainmenu>li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

ul.mainmenu>li>a {
    text-decoration: none;
    color: #fff;

    font-weight: bold;
}

ul.mainmenu>li>ul {}

ul.mainmenu a.active {
    color: #f15a69;
}

ul.mainmenu a:hover {
    color: #f15a69;
}

/*MENU END*/


/*DROPDOWN*/

.dropdown {
    width: auto;
    height: 60px;
    display: inline-block;
    margin: auto;
    position: relative;
    font-size: 11px;
    float: right;
    /* bottom: 550px;*/
}

/* .dropdown .separator{
	padding-left: 30px;
	} */
/*.atas{
	position: fixed;
}
*/

.dropdown .separator-dash {}

.face-logo {
    display: inline-block;
    padding: 13px;
}

.loginregister {}

.face-logo img {
    max-width: 135px;
}

.dropdown ul {
    list-style: none;
    display: inline-table;
    position: relative;
    background: transparent;
}

.dropdown ul li:hover>ul {
    display: block;

}

.dropdown ul ul li:hover {
    border-bottom: 1px solid #ef5870;
}

.dropdown ul:after {
    content: "";
    clear: both;
    display: block;
    /*opacity: 50%;*/
}

.dropdown>ul>li {
    display: inline-block;
}

.dropdown ul li a {
    padding: 2rem 1rem;
    text-decoration: none;
    color: #ef5870;
    display: inline-block;
    cursor: pointer;
}

.dropdown ul li a h3.list-menu {
    color: #FFF;
}

.dropdown ul ul {
    background: #ffffff;
    border-radius: 5px;
    /*-webkit-border-radius: 20px;*/
    padding: 0;
    position: absolute;
    top: 85%;
    display: none;
}

.dropdown ul ul li {
    float: none;
    border-top: 1px solid rgba(201, 76, 76, 0.3);
    position: relative;
}

.dropdown ul ul li a {
    padding: 7px 20px;
}

.dropdown ul ul div {
    padding: 0px;
}

.dropdown ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.top-grid-center {
    text-align: center;
}

.top-grid-left {
    /*width: 20%;*/
}

.top-grid-left,
.top-grid-center {
    float: left;
}

.top-grid-right {
    float: right;
}

.top-grid-right ul>li {
    float: left;
}

.dropdown.top-grid-right ul ul {
    background: #ffffff;
    border-radius: 5px;
    /* -webkit-border-radius: 20px; */
    padding: 0;
    position: absolute;
    top: 70%;
    display: none;
}




/*END OF DROPDOWN*/
/*DOODLE*/

div.top-airplane-left {
    background-image: url('../images/1200/top-airplane-left.png');
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    display: inline-block;
    top: 10px;
    left: -50px;
    height: 67px;
    width: 245px;
}

div.top-airplane-right {
    background-image: url('../images/1200/top-airplane-right.png');
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    z-index: 0;
    top: 10px;
    /*right: -25px;*/
    right: 0;
    height: 75px;
    width: 198px;
}

div.bottom-airplane-left {
    background-image: url('../images/1200/bottom-airplane-left.png');
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    z-index: 0;
    top: 10px;
    left: -80px;
    height: 67px;
    width: 245px;
}

div.bottom-airplane-right {
    background-image: url('../images/1200/bottom-airplane-right.png');
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    z-index: 0;
    top: 10px;
    /*right: -35px;*/
    right: 0;
    height: 75px;
    width: 198px;
}

/*DOODLE END*/

.navbar-color .dropdown>ul>li>a {
    color: #fff;
}

.login-wrapper.navbar-color {
    background-color: #ef5870;
}

/*SUBMENU*/
div.page-head-submenu {
    background-color: #f05871;
    width: 100%;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*BREADCRUMB*/
div.breadcrumb {
    float: left;
    text-transform: uppercase;
}

div.breadcrumb a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/*Searchbox popup*/
#popup-search div.big-searchbox {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    position: relative;
    color: #fda087;
}

#popup-search div.big-searchbox input[type="text"] {
    width: 80%;
    background-color: #fff;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    -webkit-box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, 0.75);

    height: 40px;
    padding-left: 20px;
    padding-right: 45px;
}

#popup-search div.big-searchbox img {
    position: absolute;
    top: 12%;
    height: 80%;
    right: 11%;
    z-index: 1;
}

/*searchbox*/
div.searchbox {
    position: relative;
    float: right;
    color: #fda087;
}

div.searchbox input[type="text"] {
    background-color: #fff;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px;
    padding-left: 5px;
    padding-right: 23px;
}

div.searchbox img {
    position: absolute;
    top: 3px;
    height: 80%;
    right: 5px;
    z-index: 1;
}

div.big-searchbox {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    color: #fda087;
}


div.big-searchbox input[type="text"] {
    width: 80%;
    background-color: #fff;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    -webkit-box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, 0.75);

    height: 40px;
    padding-left: 20px;
    padding-right: 45px;
}

div.big-searchbox img {
    position: absolute;
    top: 12%;
    height: 80%;
    right: 11%;
    z-index: 1;
}

/*SUBMENU ENDS*/
/*==========REGOSTER MENU CSS==============*/

.background-register {
    background: url(../images/1200/logo-panduanbunda.png) no-repeat;
    background-size: 25%;

}

/*REGISTER ENDS*/

/*==========GALERI PAGE CSS==============*/
.wrap-galeri {
    margin-bottom: 80px;
}

.galerimenu {
    /*padding-bottom: 50px;*/
    text-align: center;
    /*width: 960px;
    height: 475px;
	display: inline-block;
	position: relative;
	left: 33%;
	margin: 0 0 0 -317px;*/
}

.galerimenu.home {
    padding-bottom: 40px;
}

#loadMore {
    /*padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;*/
}

div.galerimenu.landing {
    height: 422px;
    overflow: hidden;
    margin-bottom: 40px;
}

.gallery-box {
    width: 210px;
    height: 201px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 4px;
    margin-right: 0px;
    margin-bottom: -7px;
    border: solid 1px #ccc;
}

.gallery-box img {
    height: 100%;
    width: 100%;

}

.btn-galeri {
    width: 232px;
    height: 60px;
    padding-bottom: 30px;
    background-image: url(../images/1200/btn-galeri.png);
    background-repeat: no-repeat;

    /*margin-top: 50px;*/
    margin-right: auto;
    margin-left: 372px;

}

/* GALERI ENDS*/

div.page-content {
    /*padding-top: 1px;*/
    /*padding-bottom: 150px;*/
    /*min-height: 400px;*/
    min-height: 80vh;
    /*margin-top: 50px;*/
    height: 100%;
    background-color: #ecead5;
    /*padding-bottom: 20px;*/
    width: 100%;
}

div.konimexbanner {
    width: 960px;
    margin-top: 40px;
}

div.konimexbanner img {
    width: 92%;
    margin-top: 20px;
    position: relative;
    margin-left: 30px;
}

/*FOOTER*/

div.footer-banner {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 86px;
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 40px;
}

div.footer {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 86px;
    background-color: #363636;

    padding-top: 25px;
    padding-bottom: 40px;
}

div.footer-dod {
    position: relative;
    z-index: 0;
    background-size: auto 100%;
    top: -116px;
    width: 100%;
    height: 91px;
}

div.footer-content {
    margin-top: 0px;
    color: #FFF;
}

div.social-icon {
    /*display: inline-block;*/
    float: left;
}

div.social-icon div.soc {
    /*display: inline-block;*/
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

div.social-icon p {
    float: left;
    margin-top: 4px;
}

.facebook-icon {
    background-image: url(../img/btn-fb.png)
}

.gplus-icon {
    background-image: url(../img/btn-gplus.png);
}

.twitter-icon {
    background-image: url(../img/btn-twitter.png);
}

.facebook-icon:hover {
    background-image: url(../img/btn-fb-active.png);
    cursor: pointer;
}

.gplus-icon:hover {
    background-image: url(../img/btn-gplus-active.png);
    cursor: pointer;
}

.twitter-icon:hover {
    background-image: url(../img/btn-twitter-active.png);
    cursor: pointer;
}

.instagram {
    background-image: url(../img/btn-instagram.png);
    cursor: pointer;
    background-size: 30px 30px;
}

.instagram:hover {
    background-image: url(../img/btn-instagram-active.png);
}


div.konimex-icon {
    background-size: 100% 100%;
    background-image: url(../img/logo-konimex.png);
    float: left;
    margin-top: -15px;
    margin-left: 40px;
    height: 60px;
    width: 175px;
}

.copyright {
    margin-top: 5px;
}



/*FOOTER ENDS*/

/*ARTIKEL CSS*/
div.articlecontent-page>h1 {
    padding-top: 20px;
    margin: 0px;
    color: #ef5870;
}

div.articlecontent-page>h4 {
    padding-top: 3px;
    padding-bottom: 10px;
    margin: 0px;
    color: #ef5870;
    font-size: 14px;
}

.articlepage-container-left {
    float: left;
    position: relative;
    width: 70%;
    z-index: 5;
}

.articlepage-container-right {
    float: left;
    position: relative;
    width: 30%;
    z-index: 5;
}


div.recommended-wrapper>.tablewrapper {
    padding: 0px 5px;
    vertical-align: top;
    width: 100%;
}


.articles-featured-image-border {
    border-style: solid;
    border-color: #000;
    width: 660px;
    height: 360px;
}

.articles-featured-image-border img {}

.line-divider-register {
    border-top: 4px solid #f05871;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 420px;
    height: 10px;
    position: relative;
    right: 160px;
}

div.fblogin-register {
    background: url(../images/1200/btn-connectfb.png);
    height: 47px;
    width: 358px;
    display: inline-block;
    position: relative;
}

.artikel-terkait>h1 {
    color: #ef5870;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}

.bintang-artikel-kiri {
    position: absolute;
    top: 30px;
    left: 8%;
}

.bintang-artikel-kanan {
    position: absolute;
    top: 30px;
    right: 8%;
}

.box-img-artikel {
    height: 160px;
    border: transparent;
    width: auto;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 8px;

}

.box-img-artikel img {
    width: 100%;
}


/*END ARTIKEL CSS*/


/*CONTENT*/
div.page-content {
    background-image: url(../images/1200/bg.png);
    background-size: 100% auto;
}

.line-divider {
    border-top: 1px solid #f05871;
    margin-bottom: 10px;
    margin-top: 10px;

    width: 100%;
    height: 10px;
}

.dividerartikel {
    text-transform: uppercase;
    color: #f05871;
    /*width:100%;
    margin:20px auto;
    margin-bottom: 10px;
    margin-top: 20px;*/
    font-size: 42px;
    /* overflow:hidden;*/
    text-align: center;
    line-height: 1.2em;
}

h1.dividerartikel {
    position: relative;
    padding-top: 8%;
    padding-bottom: 1%;
}

.divider {
    text-transform: uppercase;
    color: #f05871;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 30px;
    /*margin-top: 20px;*/
    font-size: 33px;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em;
}

.divider:before,
.divider:after {
    /* content:"";*/
    vertical-align: top;
    display: inline-block;
    width: 60%;
    height: 0.65em;
    border-bottom: 4px dashed #ffa185;
    margin: 0 2% 0 -57%;
}

.divider:after {
    margin: 0 -55% 0 2%;
}

.green-line {
    color: #03acaf;
}

.green-line:before,
.green-line:after {
    border-bottom: 4px dashed #03acaf;
}

div.appsmenu {
    /*padding: 50px 0px 50px;*/
    text-align: center;
    width: 633px;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0 0 0 -317px;
    margin-bottom: 30px;
}

div.appsmenu div {
    display: inline-block;
    margin: 10px 10px;
    width: 274px;
    height: 90px;
}

/*SEGITIGA*/
.triangle-up-1 {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 35px;
    left: 18px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #fff;
}

.triangle-down {
    width: 0;
    height: 0;
    display: inline-block;
    margin-left: 5px;
    /* 	position: relative;
	bottom: 36px;
	left: 81px; */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #ef5870;
}

.triangle-down-1 {
    width: 0;
    height: 0;
    display: inline-block;
    margin-left: 5px;
    /* 	position: relative;
	bottom: 36px;
	left: 81px; */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}

/* .dropdown .triangledown{
	margin-left: 5px;
	} */
/* .triangle-down-2{
	width: 0;
	height: 0;
	position: relative;
	bottom: 36px;
	left: 67px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #ef5870;
	} */

/*END OF SEGITIGA*/

/*BACKGROUND POPUP REGISTER*/
.background-logo-popup img {
    width: 400px;
    left: 130px;
    position: absolute;
    top: -38px;
}

.bintang-kanan-popup img {
    width: 305px;
    left: 345px;
    z-index: -1;
    position: absolute;
    top: -14px;

}

.bintang-kiri-popup img {
    width: 305px;
    right: 345px;
    position: absolute;
    top: -14px;
    z-index: -1;

}

/*END OF POPUP REGISTER*/



/* FITUR PANDUAN BUNDA*/
.background-fiture-panduanbunda {
    width: 100%;
    /*min-height: 80vh;*/
    background: linear-gradient(#fddc4f, #ffc000);
    padding: 1px;
    object-fit: contain;
    /*height: 414px;*/
}

.background-bintang-kiri {
    background: url(../images/1200/bintang-kiri.png) no-repeat left;
}

.background-bintang-kanan {
    background: url(../images/1200/bintang-kanan.png) no-repeat right;
}

.background-bintang-kanan {
    float: right;
}

.background-bintang-kiri {
    float: left;
}

.background-bintang-kiri-bawah {
    background: url(../images/1200/bintang.png) no-repeat;
    position: absolute;
    left: 64px;
    height: 500px;
    width: 200px;
    top: 895px;
}

.background-bintang-kanan-bawah {
    background: url(../images/1200/bintang-kanan-bawah.png) no-repeat;
    position: absolute;
    right: 20px;
    height: 513px;
    width: 153px;
    top: 895px;
}

.wrap-btn-galeri {}

/*END FITUR PANDUAN BUNDA*/
div.gejalapunyacerita {
    background: #fff url(../images/1200/btn-gejalapunyacerita.png) no-repeat center;
    background-color: #ffff;
    border-radius: 4px;
    background-size: 120px;
}

div.jadwalkeluargasehat {
    background: transparent url(../images/1200/btn-jadwalkeluargasehat.png) no-repeat center;
    background-color: #ffff;
    border-radius: 4px;
    background-size: 100px;
}

div.temukanrumahsakit {
    background-image: url(../images/1200/btn-temukanrumahsakit.png);
}

.appsmenu .tanyadokter {
    background: transparent url(../images/1200/btn-tanyadokter.png) no-repeat center;
    background-color: #ffff;
    border-radius: 4px;
    background-size: 100px;
}

.appsmenu .healthymeter {
    background: transparent url(../images/1200/btn-healthymeter.png) no-repeat center;
    background-color: #ffff;
    border-radius: 4px;
    background-size: 120px;
}

div.articles-container {
    position: relative;
    width: 100%;
    /*padding-bottom: 100px;*/
    max-height: 768px;
    overflow-x: auto;
    overflow-y: auto;
}

.scrollbarbottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: url(../images/1200/bottom-transparent.png);
    background-size: 100% 100%;
    height: 100px;
}

#resetpass-page-container,
#indekspenyakit-page-container,
#article-page-container,
#sikecil-page-container,
#inspirasisehat-page-container,
#katadokter-page-container,
#index-page-container,
#search-page-container,
#kontak-page-container {
    margin-top: 60px;
}


#profile-page-container,
#produk-page-container,
#galeri-page-container,
#healthymeter-page-container,
#tanyadokter-page-container {
    background: #fbf7e7;
    margin-top: 60px;
}


#tanyadokter-page-container>.bintang-artikel-kiri,
#tanyadokter-page-container>.bintang-artikel-kanan,
#tanyadokter-page-container>h1.divider.fitur.tanya-dokter {
    display: none;
}

#healthymeter-page-container>.bintang-artikel-kiri,
#healthymeter-page-container>.bintang-artikel-kanan,
#healthymeter-page-container>h1.divider.fitur.tanya-dokter {
    display: none;
}

div.articles-wrap {
    display: inline-block;
    text-align: center;
}

div.box-article {
    display: inline-block;

    margin: 0 6px 13px 6px;

    width: 30%;
    /*min-height: 300px;*/
    background-color: #fff;
    border-radius: 10px;

    color: #000;
    vertical-align: top;
}

div.box-article.landing {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;

    width: 23%;
    /*min-height: 300px;*/
    background-color: #fff;
    border-radius: 10px;

    color: #000;
}

.box-article-index.blogBox.moreBox {
    width: 23%;
    margin-left: 12px;
    margin-bottom: 6px;
}

.box-article.blogBox.moreBox {
    /*  width: 23%*/
    margin-left: 12px;
    margin-bottom: 6px;
    overflow: hidden;
}

.box-article.blogBox.moreBox.artikelbox {
    /* width: 30%;*/
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: auto;
}


div.articles-wrapper {
    width: 100%;

    display: inline-block;
    text-align: center;
    /*	padding-bottom: 100px;*/
}

div.articles-wrapper>a {
    text-decoration: none;
}

div.box-article img,
div.box-videoitem img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    /*max-height: 150px;*/
    position: relative;
    width: 100%;
}

div.box-article div.article-box-desc-wrap {
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    position: relative;
}

.tags {
    position: absolute;
    bottom: 6px;
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
}

.article-box-p {
    margin: 0px;
    height: 163px;
}

.tags-article {
    color: #000;
    position: absolute;
    bottom: 6px;
    left: 28px;

    font-size: 0.8em;
    font-weight: bold;
}

.article-box-desc-wrap.fonthome>h1 {
    font-size: 18px;
    line-height: 19px;
}

.article-box-desc-wrap p.readmore {
    text-decoration: none;
    color: #ef5870;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
}

p.readmore.artikelterkait {
    bottom: 60px;
}

p.tags.tagsartikelterkait {
    bottom: 45px;
}

.tags-article.tagsartikelterkait {
    bottom: 45px;
}

div.article-label {
    /*	padding-left: 10px;
	padding-right: 10px;*/
    color: #000;
    border-radius: 5px;
    background-color: transparent;
    /*text-transform: uppercase;*/

    /*position: absolute;*/
    position: relative;
    bottom: 22px;
    left: 34px;

    font-size: 0.8em;
    font-weight: bold;
}

h1.fitur.tanya-dokter {
    margin-bottom: 0px;
    margin-top: 42px;
}

.sikecil-label {
    /*background-color: #6cc6aa !important;*/
    background-color: transparent;
}

.katadokter-label {
    /*background-color: #76acda !important;*/
    background-color: transparent;
}

.inspirasisehat-label {
    /*background-color: #eba5c1 !important;*/
    background-color: transparent;
}

.konimexanak-label {
    /*background-color: #ec5864 !important;*/
    background-color: transparent;
}

div.box-article h1,
div.box-videoitem h1 {
    margin-bottom: 2px;
    margin-top: 0px;
    color: #ef5870;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

div.bottombg {
    background-image: url(../images/1200/bottom-transparent.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: 100;
}

div.main-video-container {
    color: #000;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

div.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
}

.videoWrapper>video {
    height: 540px;
}

div.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.main-video-container div.video-desc {
    padding: 20px 30px 30px 30px;
    color: #ff9c82;
}

div.video-desc h1 {}

div.btn-seemore {
    width: 232px;
    height: 49px;

    background-image: url(../images/1200/btn-lihatvideolain.png);
    background-repeat: no-repeat;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

div.carouselcontainer {
    position: relative;
}

div.videocarousel {
    margin-top: 20px;
}

div.box-videoitem {
    cursor: pointer;
    height: 400px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
}

div.video-box-desc-wrap {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div.videoleft {
    position: absolute;
    top: 32%;
    left: -70px;
    height: 51px;
    width: 51px;

    background-image: url(../images/1200/btn-carousel-left.png);
}

div.videoright {
    position: absolute;
    top: 32%;
    right: -80px;
    height: 51px;
    width: 51px;

    background-image: url(../images/1200/btn-carousel-right.png);
}

/*============EDIT PROFILE CSS=============*/

div.edit-profile {
    border-radius: 10px;
    background-color: #fff;
    color: black;
}

div.edit-profile h3 {
    color: #f05871;
}

div.edit-profile h3#wajibdisi {
    float: right;
}

div.editprofile-container {
    padding: 25px;
}

div.editprofile-container td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.editprofile-container-left {
    float: left;
    width: 45%;
}

div.editprofile-container-right {
    float: right;
    width: 45%;
}

div.register-container input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    border-radius: 5px;
    border: 1px solid #eaebe5;
    /*	width:100%;*/
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

div.register-container input[type="submit"],
div.editprofile-container input[type="submit"] {
    border: none;
    background: url(../images/1200/btn-submit.png);
    background-repeat: no-repeat;
    width: 122px;
    height: 55px;
    position: relative;
    background-size: 120px;
    background-position: center;
}

div.editprofile-container input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

/*==== REGISTER ==*/
.col-8 {
    width: 80%;
    margin: 0 auto;
}

.col-5 {
    float: left;
    width: 49.7%;
    display: inline-block;
}

.form-group {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.form-group label {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.form-group input {
    width: 60%;
    display: inline-block;
}

.form-group.profile input[type=radio] {
    width: 15px;
    height: 15px;

}

.form-group input[type=radio] {
    width: 0;
    height: 0;
    display: inline-block;
}

.form-group hr {
    background: #f2798d;
    height: 2px;
    border: transparent;
}

.align-top {
    vertical-align: top;
}

.align-centered {
    text-align: center;
}

/*=============PROFILE DETAIL CSS ====================*/


.judul-result {
    margin: 20px auto 30px;
    font-size: 38px;
    width: 260px;
}

h1.divider.judul-halaman.index {
    margin: 20px auto 8px;
    padding: 3.6rem 0.5rem 1rem;
    font-size: 38px;
    width: 285px;
}

.judul-halaman {
    margin: 40px auto;
    font-size: 25px;
}

.judul-halaman-reset {
    width: 200px;
    font-size: 23px;
    margin-top: 34px;
    margin-bottom: 0;
}

.judul-halaman-artikel {
    margin: 40px auto;
    font-size: 40px;
}

.judul-kontak {
    margin: 30px auto;
    margin-top: 97px;
    font-size: 40px;
}

.judul-index {
    margin: 30px auto;
    margin-top: 109px;
    font-size: 23px;
}

.image-slider-wrapper {
    width: 400px;
    height: 320px;
    border-style: solid;
    border-color: #000;
}



h2.divider.judul-halaman {
    margin: 0;
    font-size: 22px;
    text-transform: none;
    margin-top: -16px;
    padding-bottom: 35px;
}

div.profile-detail {
    margin: 0 auto;
    margin-bottom: 20px;
    color: #737373;
    width: 649px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px #ccc;

}

div.profile-detail .profilename-mobile {
    display: none;
}

div.profile-detail .point-wrapper {
    position: absolute;
    left: 59%;
    background: url(../images/1200/point.png) no-repeat;
    height: 110px;
    width: 105px;
    top: 33%;
    vertical-align: middle;
    line-height: 110px;
    text-align: center;
    font-weight: bold;
    font-family: Gotham;
    color: #fff;
}

div.profile-detail .profile_pic_wrapper {
    position: relative;
    width: 250px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

div.profile-detail .profile_pic_wrapper img {
    width: 100%;
}

.btn-edit {
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #f2798d, #ef5870);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-family: Gotham;
    margin-top: 20px
}

div.profile-detail .button-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 20px;
}

div.profile-detail .btn-content {
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #ffffff, #faf3e6);
    color: #ccc;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    width: 49.6%;
    text-align: center;
}

div.profile-detail .btn-content-wrapper {
    width: 100%;
}

div.profile-detail .oval {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: solid 3px #ef5870;
    font-family: Gotham;
    display: inline-block;
    color: #ef5870;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
}

div.profile-detail .image-content {
    height: 32px;
    display: inline-block;
}

div.profile-detail .image-content img {
    vertical-align: middle;
    height: 32px;
}


div.profile-detail .profile_detail_data {
    position: relative;
    width: 300px;
    display: inline-block;
    float: left;
}

div.profile-detail p#profil_edit_link {
    text-align: right;
    padding: 10px 10px 10px 10px;

}

div.detail-profile {
    margin-bottom: 20px;
    width: 62%;
}

div.detail-profile p {
    margin: 0;
}

div.profile-detail h2.profilename {
    color: #f05871;
    margin-bottom: 20px;
    padding-bottom: 0px;
    font-size: 18px;
}


/*==========ARTIKEL PAGE CSS==============*/

.articles-wrapper.blogBox.moreBox {
    padding-bottom: 40px;

}

button#load-more,
button#load-more-artikel,
button#load-more-artikel-home {
    margin-top: 20px;
    width: 210px;
    height: 55px;
    border-radius: 10px;
}

button#loader,
button#loader-artikel,
button#loader-artikel-home {
    margin-top: 20px;
    width: 210px;
    height: 55px;
    border-radius: 10px;
}

.btn-artikel {
    width: 232px;
    height: 60px;
    padding-bottom: 30px;
    background-image: url(../images/1200/btn-artikel.png);
    background-repeat: no-repeat;

    /*margin-top: 50px;*/
    margin-right: auto;
    margin-left: 372px;
}

div#button-area {
    text-align: center;

}

div.articlepage-container {
    position: relative;
    left: 30px;
    /*	margin-bottom: 45px;*/
}

div.article-featured-image {
    position: relative;
    z-index: 0;
    height: 360px;
    width: 660px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.articlecontent-wrapper {
    position: relative;
    z-index: 10;

    margin-top: 400px;
    margin-left: 50px;
    height: 620px;
}

div.social-share {
    position: relative;
    left: 0;
    bottom: 30px;
    float: right;
}

.box-article.fixmargin {
    margin: 0 8px 13px 8px;
}

.box-article.landing.fixmargin {
    margin: 0 8px 13px 11px;
    ;
}

div.social-share>div {
    display: table-cell;
    vertical-align: middle;
}

.shareicon {
    position: relative;
    top: 6px;
}

div.shareicon>* {
    display: inline-block;
    margin-left: 10px;
}

div.btn-fb2 {
    cursor: pointer;
    width: 30px;
    height: 30px;

    background-image: url(../images/1200/fb.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div.btn-fb2:hover {
    background-image: url(../images/1200/fb.png);
}

div.btn-twitter2 {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../images/1200/twitter.png);
    background-repeat: no-repeat;
}

div.btn-twitter2:hover {
    background-image: url(../images/1200/twitter.png);
}

div.articlecontent-wrapper div.article-label {
    position: static;
    display: inline-block;
    /*	text-transform: uppercase;*/
    color: #000;
    font-weight: bold;

}

.baner-bawah img {
    width: 886px;
    height: 158px;
    margin: 30px;


}

div.articlecontent-wrapper>h1 {
    text-shadow: 1px 1px 1px #C0C0C0;
    position: relative;
    bottom: 400px;
    right: 200px;
    text-transform: capitalize;
    margin: 150px;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 30px;
    line-height: 32px;
    background-color: #fff;
    color: #ef5870;
}

div.articlecontent-wrapper>h4 {
    /*margin-bottom: 20px;*/
    color: #ef5870;
    background-color: #fff;
    position: relative;
    bottom: 550px;
    right: 200px;
    margin: 150px;
    padding-left: 25px;
}

div.articlecontent-page {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 40px;
    width: 660px;
    position: relative;
    padding-bottom: 20px;
    /*	*/
    /*		right: 50px;*/


}

.articlecontent-page>h3 {
    font-size: 12px;

}

.articlecontent-page>ol,
.articlecontent-page>ul {
    padding-left: 20px;
}

div.recommended-wrapper {
    text-align: center;
    width: 220px;
}

.tablewrapper {
    display: inline-block;
    padding: 0px 5px;
    vertical-align: top;
    width: 24%;
}

div.recommended-wrapper div.box-article {
    text-align: left;
    position: relative;
    display: inline-block;
    margin-left: 0px !important;
    height: 330px;
    width: 100%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


/*======================== PRODUK KONIMEX ANAK ==================================*/

div.produk-wrapper {
    position: relative;
    width: 100%;
    max-height: 768px;
    overflow-x: auto;
    overflow-y: auto;
}

div.box-produk {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    color: #000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: auto !important;
}

div.image-produk {
    display: inline-block;
    width: 100%;
    background-color: #ececec;
    text-align: center;
    padding: 20px 0;
}

div.image-produk img {
    height: 200px;
    display: inline-block;
}

div.deskripsi-produk {
    width: 70%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
}

div.deskripsi-produk h1 {
    margin-top: 0;
}

div.produkcontent {
    padding-bottom: 20px;
}

div.productlink {
    margin-bottom: 20px;
}

div.readmore-accordion {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #fff;
    text-align: right;
}

.produk-container {
    position: relative;
}

.produk-wrapper>div {
    padding-bottom: 100px;
}

/*SEARCH*/

#searchpage .box-produk {
    display: table;
    padding: 0;
}

#searchpage .box-produk h1 {
    color: #ff9d81;
}

.image-search {
    display: table-cell;
    background-color: #fff;
    width: 35%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.box-image-search {
    display: table-cell;
    background-color: #fff;
    width: 35px;
    width: 265px;
    height: 180px;
    border-style: solid;
    border-color: #000;
}

.deskripsi-search {
    position: relative;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}

.deskripsi-search .readmore-accordion {
    width: auto;
}

.deskripsi-search a {
    color: #000;
    text-decoration: none;
}

/*====================================== Produk New ========================================*/

.produk-box {
    position: relative;
    overflow: hidden;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    color: #000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.produk-image {
    width: 100%;
    background-color: #ececec;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    height: 300px;
}

.produk-image-wrapper {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.produk-image img {
    margin: 0 auto;
    height: 250px;
}

.produk-deskripsi {
    color: #666666;
    padding: 10px;
    background: #fff;
}

.produk-deskripsi h1 {
    font-size: 27px;
}

.produk-content {
    width: 100%;
    padding-top: 10px;
}

.produk-content p {
    height: 30px;
}

.produk-footer {
    width: 100%;
    text-align: right;
    padding-top: 10px;
}

.produk-footer a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

.container-produk {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

/*====================================== Produk Detail ========================================*/
#produk-detail-page-container {
    padding-bottom: 0;
    margin-top: 60px;
}

.wrap-full {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 60px;
    bottom: 110px;
    z-index: 1;
    display: none;
}

.wrap-gray {
    width: 50%;
    background: #ececec;
    height: 100%;
    float: left;
}

.wrap-white {
    width: 50%;
    display: inline-block;
    background: #fff;
    height: 100%;
    padding: 20px 40px 40px 40px;
}

.wrap-white h1 {
    color: #33bebd;
}

.produk-detail-desc {
    color: #666;
    margin: 20px 20px 20px 0;
    white-space: pre-line;
    line-height: 1.5;
    overflow: auto;
    height: 70%;
}

.produk-detail-img {
    margin: 20px 20px 20px 0;
    overflow: hidden;
    height: 660px;
}

.produk-image-detail {
    width: 100%;
    background-color: #ececec;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    height: 680px;
}

.produk-image-detail-wrapper {
    text-align: center;
    overflow: hidden;
    margin: auto;
    height: 660px;
}

.produk-image-detail-wrapper img {
    width: 400px;
}

/*====================================== indeks penyakit ========================================*/

.divider-result {
    margin-bottom: 50px;
}


div.listpenyakitwrap {
    min-height: 600px;
    max-height: 600px;

    overflow: auto;
}

div.listpenyakit {
    background-color: #FFF;
    border-radius: 5px;
    padding: 30px;
    color: #000;

    min-height: 600px;
}

div.listpenyakit .tophead {}

.listpenyakit h1 {
    color: #f4566f;
}

div.listpenyakit ul.hurufkondisi {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.hurufkondisi {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px #f4566f solid;
}

ul.hurufkondisi li {
    display: inline-block;
    cursor: pointer;
}

ul.hurufkondisi li a,
ul.kondisi li a {
    text-decoration: none;
    color: #000;
}

ul.hurufkondisi li a:hover,
ul.kondisi li a:hover {
    text-decoration: underline;
}

div.kondisiumum {}

div.kondisi-container {}

ul.kondisi {
    list-style: none;
}

ul.kondisi li {
    display: inline-block;
    width: 32%;
}


/*============================== KONTAK =====================================*/

div.kontak-container {
    font-size: 1.3em;
    width: 50%;
    min-height: 400px;
    background-color: #FFF;
    color: #000;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}


div.kontak-container span {
    font-weight: bold;
}

/* RUMAH SAKIT CARI CARI CARI CARI*/

#cari-rumahsakit {
    padding-top: 100px;
}

.find-rs-box {
    background-color: #f9f5ec;
    width: 100%;
    border-radius: 25px;
    min-height: 200px;
    padding: 75px 40px 40px 40px;

    position: relative;

    color: #f05871;

    text-align: center;
}

.cari-rs-box {
    background-color: #f9f5ec;
    width: 100%;
    border-radius: 25px;
    min-height: 200px;
    padding: 40px 40px 40px 40px;

    color: #f05871;

    text-align: center;
}

.find-rs-box p {
    font-size: 15px;
}

.header-temurs-container {
    position: absolute;
    top: -54px;
    left: 0px;
    width: 100%;

    text-align: center;
}

.header-temurs {
    display: inline-block;
    background-image: url(../images/1200/btn-temukanrumahsakit.png);
    width: 294px;
    height: 109px;
}

p.rsbox-header {
    margin-bottom: 20px;
}

input[type='submit'].carirs {
    background: url(../images/1200/btn-cari.png);

    border: none;
    width: 167px;
    height: 47px;
}

.rekomendasirs {
    color: #000;
    font-size: 13px;
}

.rekomendasirs a {
    color: #f05871;
}

.rs-item {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    border-bottom: #f05871 1px solid;
    padding-bottom: 20px;
}

.rs-pictures {
    display: table-cell;
    width: 30%;
}

.rs-pictures-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
}

.rs-description {
    display: table-cell;
    text-align: left;
    vertical-align: middle;

    color: #000;
}

.rs-description h3 {
    font-size: 20px;
    color: #f05871;
}

.rs-description p.tag {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #f05871;
}

.rs-container {
    height: 500px;
}

.upload-foto {
    background-size: cover;
}

.upload-avatar-overlay {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.icon-camera {
    cursor: pointer;
    display: table;
    width: 100%;
    height: 100%;
    background-image: url(../images/1200/icon-camera.png);
    background-position: center;
    background-repeat: no-repeat;
}

div.profile-poin {
    color: #f05871;
    margin-top: 15px;
}

div.profile-poin h2 {
    padding-bottom: 0;
    font-size: 20px;
}

div.profile-poin h1 {
    margin-top: 5px;
    font-weight: 900;
}

.profile-divider {
    width: 80%;
    margin: 15px auto;
    border-bottom: 1px solid #dbdec3;
}

.pages {
    font-size: 15px;
}

.pages span {
    margin-right: 5px;
    color: #ef5870;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
}

ul.page-num {
    display: inline-block;
    list-style: none;

}

ul.page-num li {
    display: inline-block;
    margin-right: 5px;
    height: 24px;
    width: 25px;
    background-color: #ef5870;
    border-radius: 63%;
    text-align: center;
    opacity: 0.5;
}

ul.page-num>li>a {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

ul.page-num li.active {
    opacity: 1;
}

ul.page-num li.active a {
    color: #fff;
    text-decoration: none;

}

.boxtanyadokter {
    display: inline-block;
    width: 740px;
    position: relative;
    left: 50%;
    margin: 100px 0 0 -370px;
    box-sizing: border-box;
    border-radius: 15px;
    background: #f8f5ec;
    margin-bottom: 100px;
    overflow: hidden;
    -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.boxtanyadokter header {
    display: block;
    background: #fea087;
    box-sizing: border-box;
    padding: 50px 0 50px 50px;
}

.boxtanyadokter header .dokter,
.boxtanyadokter header .desc {
    float: left;
    display: inline-block;
}

.boxtanyadokter header .dokter {
    text-align: center;
    width: 160px;
    margin: 0 20px 0 0;
}

.boxtanyadokter header .dokter .photo {
    display: inline-block;
    width: 123px;
    height: 123px;
    background: #ccc no-repeat center;
    border-radius: 50%;
}

.boxtanyadokter header .dokter h4 {
    color: #f05771;
    font-family: Gotham;
    font-size: 13px;
    font-weight: bold;
}

.boxtanyadokter header .desc {
    width: 510px;
    background: transparent url(../images/1200/header-tanyadokter.png) no-repeat left top;
    padding: 83px 100px 0 0;
    box-sizing: border-box;
}

.boxtanyadokter content {
    display: block;
    box-sizing: border-box;
    padding: 40px 50px;
    text-align: center;
}

.boxtanyadokter content input,
.boxtanyadokter content textarea {
    display: block;
    border: none;
    background: #fff;
    margin: 0 0 20px;
    padding: 10px;
    color: #01b2a7;
    font-family: Gotham;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.boxtanyadokter content textarea {
    resize: none;
    height: 150px;
}

.boxtanyadokter content input[type="reset"],
.boxtanyadokter content input[type="submit"] {
    display: inline-block;
    margin: 0 10px;
    background: #f65a54;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-family: Gotham;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
}

.boxtanyadokter content input[type="submit"] {
    background: #fff;
    color: #01b2a7;
}

.boxtanyadokter content .error {
    display: none;
    color: #f65a54;
    text-align: left;
    margin: 0 0 20px;
}

div.register-container input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

#notif-bar {
    box-sizing: border-box;
    padding: 5px;
    color: #f05871;
    text-align: center;
}

#notif-bar .btn {
    display: inline-block;
    padding: 1px 10px;
    margin: 0;
    background: #f05871;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#notif-bar a {
    color: #f05871;
}



/*#profile-data-wrapper{
	margin: 20px auto;
	width: 649px;
	height: 515px;
	object-fit: contain;
	border-radius: 8px;
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 30px;
	}*/


/*
@media(min-width: 480px) and (max-width: 619px){
	.background-bintang-kiri{
		right: 104;
	}
	}*/

@media(min-width: 1001px) {
    .display-mobile {
        display: none;
    }

}

@media(max-width: 1000px) {
    .display-desktop {
        display: none;
    }

    .banner.display-mobile ul li {
        padding: 0px;
        background-color: #fff;
    }

    .articlepage-container-left {
        float: none;
        position: relative;
        width: 100%;
        margin-bottom: 40px;
        z-index: 5;
    }

    .articlepage-container-right {
        float: none;
        position: relative;
        width: 100%;
        z-index: 5;

    }

    div.recommended-wrapper {
        text-align: center;
        width: 100%;
    }

    .background-logo-popup img {
        width: 190px;
        left: 50px;
        position: absolute;
        top: -32px;
    }

    .bintang-kiri-popup img {
        right: 142px;
        width: 144px;
        position: absolute;
        top: 10px;
    }

    .bintang-kanan-popup img {
        width: 144px;
        left: 142px;
        position: absolute;
        top: 10px;
    }

    .banner .wrap-mobile {
        text-align: center;
        padding-left: 0px;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        min-height: 250px;
    }

    .wrap-mobile h1 {
        font-size: 27px;
        line-height: 48px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #33bebd;
        width: 100%
    }

    div.konimexbanner img {
        width: 100%;
        margin: 0;
    }

}


@media(min-width: 1020px) and (max-width: 1279px) {
    div.appsmenu div {
        width: 284px;
    }

    .background-bintang-kiri {
        position: absolute;
        right: 700px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 700px;
        top: 50px;
    }
}

@media(min-width: 1280px) and (max-width: 1365px) {
    div.appsmenu div {
        width: 284px;
    }

    .backgrou.background-bintang-kiri {
        position: absolute;
        right: 710px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 710px;
        top: 50px;
    }

    .background-bintang-kiri-bawah {
        top: 1034px;
    }

    .background-bintang-kanan-bawah {
        top: 1034px;
    }

    .background-bintang-kiri {
        position: absolute;
        right: 700px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 700px;
        top: 50px;
    }
}

@media(min-width: 1366px) and (max-width: 1439px) {
    .background-bintang-kiri-bawah {
        top: 1034px;
    }

    .background-bintang-kanan-bawah {
        top: 1034px;
    }

    div.appsmenu div {
        width: 284px;
    }

    .background-bintang-kiri {
        position: absolute;
        right: 760px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 760px;
        top: 50px;
    }
}

@media(min-width: 1440px) and (max-width: 1679px) {
    .banner .dots {
        position: relative;
        left: 30px;
        bottom: 154px;
    }

    div.appsmenu div {
        width: 284px;
    }

    .background-bintang-kiri-bawah {
        top: 1034px;
    }

    .background-bintang-kanan-bawah {
        top: 1034px;
    }

    .background-bintang-kiri {
        position: absolute;
        right: 750px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 750px;
        top: 50px;
    }
}

@media(min-width: 1680px) and (max-width: 1919px) {

    div.appsmenu div {
        width: 284px;
    }

    .background-bintang-kiri-bawah {
        top: 1034px;
    }

    .background-bintang-kanan-bawah {
        top: 1034px;
    }

    .background-bintang-kiri {
        position: absolute;
        right: 870px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 870px;
        top: 50px;
    }

}

@media(min-width: 1920px) and (max-width: 2000px) {

    div.appsmenu div {
        width: 284px;
    }

    .background-bintang-kiri-bawah {
        top: 1034px;
    }

    .background-bintang-kanan-bawah {
        top: 1034px;
    }

    .background-bintang-kiri {
        position: absolute;
        right: 1020px;
        top: 50px;
    }

    .background-bintang-kanan {
        position: absolute;
        left: 1020px;
        top: 50px;
    }
}


/*OVERRIDES*/

.login-wrapper .wrap {
    width: 100%;
}