<div class="box">
	

	<div class="box-header">
	  	<h3 class="box-title">Detail</h3> 
	  	<div class="pull-right">
	  		<a href="javascript:history.go(-1);" class="btn btn-default btn-flat">Go Back</a>
	  	</div>
	</div>
	
	<!-- /.box-header -->
	<div class="box-body">
		<div class="col-md-3">

			<!-- Profile Image -->
			<div class="box box-primary">
				<div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="{{ avatar }}" alt="User profile picture">

					<h3 class="profile-username text-center">{{ fullname }}</h3>

					<p class="text-muted text-center">{{ username }} 
						{% if status > 0 %} 
							<small class="label bg-green">active</small>
						{% else %}
							<small class="label bg-red">Disactive</small>
						{% endif %}
					</p>

					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
						  <b>Point</b> <a class="pull-right">{{ point }}</a>
						</li>
						<li class="list-group-item">
						  <b>Total Activity</b> <a class="pull-right">{{ totalActivity }}</a>
						</li>
						<li class="list-group-item">
						  <b>Post</b> <a class="pull-right">{{ totalPost }}</a>
						</li>
					</ul>

					{% if status > 0 %} 
						<a href="{{ url('participant/disactivated', { 'id': id } ) }}" class="btn btn-danger btn-block"><b>Disactivated</b></a>
					{% else %}
						<a href="{{ url('participant/activated', { 'id': id } ) }}" class="btn btn-success btn-block"><b>Activated</b></a>
					{% endif %}
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<!-- About Me Box -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">About Me</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<strong><i class="fa fa-pencil margin-r-5"></i> Personal</strong>

					<p class="text-muted">
						Birthdate: {{ birthdate }}<br>
						Gender: {{ gender }}
					</p>

					<hr>

					<strong><i class="fa fa-book margin-r-5"></i> Contact</strong>

					<p class="text-muted">
						Email: {{ email }}<br>
						Phone 1: {{ phone1 }}<br>
						Phone 2: {{ phone2 }}
					</p>

					<hr>

					<strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

					<p class="text-muted">{{ location }}.</p>

				</div>
			<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<div class="col-md-9">
			<div class="nav-tabs-custom">
			  	<!-- Nav tabs -->
			  	<ul class="nav nav-tabs" role="tablist">
			    	<li role="presentation" class="active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activities</a></li>
			    	<li role="presentation"><a href="#redeem" aria-controls="redeem" role="tab" data-toggle="tab">Redeem</a></li>
			  	</ul>

				<!-- Tab panes -->
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="activity">
						<div class="table-responsives">
							<table class="table table-striped table-bordered table-hover" id="dataTable1">
								<thead>
									<tr>
										<th>No</th>
										<th>Post ID</th>
										<th>Type</th>
										<th>Action</th>
										<th>Created At</th>
										<th width="10%">Point</th>
									</tr>
								</thead>
								<tbody>
									{% set i = 1 %}
									{% for activity in activities %}
										<tr>
											<td>{{ i }}</td>
											<td>{{ activity.post_id }}</td>
											<td>{{ activity.type }}</td>
											<td>{{ activity.action }}</td>
											<td>{{ activity.created_at|date('d F Y H:i:s') }}</td>
											<td>{{ activity.point }}</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>No</th>
										<th>Post ID</th>
										<th>Type</th>
										<th>Action</th>
										<th>Created At</th>
										<th width="10%">Point</th>
									</tr>
								</tfoot>
							</table>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="redeem">
						<div class="table-responsives">
							<table class="table table-striped table-bordered table-hover" id="dataTable2">
								<thead>
									<tr>
										<th>No</th>
										<th>Product Name</th>
										<th>Address</th>
										<th>Date</th>
										<th width="10%">Point</th>
									</tr>
								</thead>
								<tbody>
									{% set i = 1 %}
									{% for history in redeemHistories %}
										<tr>
											<td>{{ i }}</td>
											<td>{{ history.product.product_name }}</td>
											<td>{{ history.address }}</td>
											<td>{{ history.created_at|date('d F Y H:i:s') }}</td>
											<td>{{ history.point }}</td>
										</tr>
										{% set i = i + 1 %}
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>No</th>
										<th>Product Name</th>
										<th>Address</th>
										<th>Date</th>
										<th width="10%">Point</th>
									</tr>
								</tfoot>
							</table>
						</div>
				    </div>
				</div>
		 	</div>

		</div>
	</div>
<!-- /.box-body -->
</div>