<div class="row">
	<div class="col-md-12">
      	<div class="box box-solid">
            <div class="box-header with-border">
          		  <h3 class="box-title">Choose date</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            	 {% set form = active_form_begin() %}

            	 <div class="row">
              		<div class="col-md-3">
  				            {{ form.field( model, 'month' ).dropDownList( month ) | raw }}
              		</div>
              		<div class="col-md-3">
                            {{ form.field( model, 'year' ).dropDownList( year ) | raw }}
              		</div>
              		<div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <br>
              			<button class="btn btn-primary bg-teal">&nbsp;Process&nbsp;</button>
                        </div>
              		</div>
            	 </div>

		          {{ active_form_end() }}

                    <div class="table-responsives">
                        <table class="table table-striped table-bordered table-hover" id="dataTable1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Participant</th>
                                    <th>Product</th>
                                    <th>Points</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 1 %}
                                {% for history in histories %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>
                                            <h4>{{ history.participant.fullname }}</h4>
                                            <small>
                                                Email: {{ history.participant.email }} / HP: {{ history.participant.nohp }} / Address: {{ history.address }}
                                            </small>
                                        </td>
                                        <td>{{ history.product.product_name }}</td>
                                        <td>{{ history.point }}</td>
                                        <td>{{ history.created_at|date('d F Y H:i:s') }}</td>
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Participant</th>
                                    <th>Product</th>
                                    <th>Points</th>
                                    <th>Created At</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
            <!-- /.box-body -->
     		</div>
          	<!-- /.box -->
    	</div>
    </div>

</div>