
<div class="row">
	 <div class="col-md-12">
      	<div class="box box-solid">
            <div class="box-header with-border">
          		  <h3 class="box-title">Choose date</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            	{% set form = active_form_begin() %}

            	<div class="row">
              		<div class="col-md-3">
  				        <div class="form-group">
  				            {{ this.datePicker( model, 'startDate', 'Start date' ) | raw }}
  				        </div>
              		</div>
              		<div class="col-md-3">
  				        <div class="form-group">
  				            {{ this.datePicker( model, 'endDate', 'End date' ) | raw }}
  				        </div>
              		</div>
              		<div class="col-md-2">
              			<button class="btn btn-primary bg-teal">&nbsp;Process&nbsp;</button>
              		</div>
            	</div>

		        {{ active_form_end() }}
            <!-- /.box-body -->
     		</div>
          	<!-- /.box -->
    	</div>
    </div>

</div>

<div class="row">

    <div class="col-md-12">
       <!-- solid sales graph -->
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-area-chart"></i>

                <h3 class="box-title">Activities</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body border-radius-none">
                  <div class="chart" id="activityChart" style="height: 400px;"></div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-8">
       <!-- solid sales graph -->
        <div class="box box-solid bg-teal disabled">
            <div class="box-header">
                <i class="fa fa-area-chart"></i>

                <h3 class="box-title">Visitors</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body border-radius-none">
                  <div class="chart" id="visitorChart" style="height: 300px;"></div>
            </div>
        </div>
    </div>

	<div class="col-md-4">
	   <!-- solid sales graph -->
      	<div class="box box-solid">
  	        <div class="box-header">
  		        <i class="fa fa-pie-chart"></i>

                <h3 class="box-title">Variant of visitors</h3>

		        <div class="box-tools pull-right">
		            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
		            </button>
		            <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
		            </button>
		        </div>
  	        </div>
  	        <div class="box-body border-radius-none">
  		          <div class="chart" id="visitorDeviceChart" style="height: 300px;"></div>
  	        </div>
  	    </div>
  	</div>

</div>

{{ register_asset_bundle('backend/assets/DashboardAsset') }}

{% set js %}

var line = new Morris.Line({
    element: 'activityChart',
    resize: true,
    data: JSON.parse('{{ activityGraph|raw }}') ,
    parseTime: false,
    xkey: 'date',
    ykeys: ['activityReadCount', 'activityCommentCount', 'activityLikeCount' ],
    labels: ['Read','Comment','Like'],
    lineColors: ['#39CCCC', '#EF1111', '#5E1ADB'],
    lineWidth: 2,
    hideHover: 'auto',
    gridTextColor: "#666",
    gridStrokeWidth: 0.4,
    pointSize: 4,
    pointStrokeColors: ["#fff"],
    gridLineColor: "#666",
    gridTextFamily: "Open Sans",
    gridTextSize: 10
});

var line = new Morris.Line({
    element: 'visitorChart',
    resize: true,
    data: JSON.parse('{{ visitorGraph|raw }}') ,
    parseTime: false,
    xkey: 'date',
    ykeys: ['visitorCount'],
    labels: ['Visitor'],
    lineColors: ['#fff'],
    lineWidth: 2,
    hideHover: 'auto',
    gridTextColor: "#fff",
    gridStrokeWidth: 0.4,
    pointSize: 4,
    pointStrokeColors: ["#fff"],
    gridLineColor: "#efefef",
    gridTextFamily: "Open Sans",
    gridTextSize: 10
});

var line = new Morris.Donut({
    element: 'visitorDeviceChart',
    resize: true,
    data: JSON.parse('{{ visitorDevicesGraph|raw }}') ,
    colors: ["#EF1111", "#807E83", "#5E1ADB", '#37C7C9'],
    hideHover: 'auto'
});
{% endset %}

{{ this.registerJs( js ) }}