<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId={{ this.facebookId }}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{{ this.render('/partials/breadcrumb.twig', { 
    'datas': { 
        (prefix): baseUrl ~ '/' ~ prefix,
    },
    'currentTitle': detail.title
}) | raw }}

{% set url = Url.current({'lg': null}, true) %}

<!-- start article header -->
<div  data-magellan>
    <div class="row text-center relative">
        <div class="article--highlight">
            <p class="article__kategory">{{ prefix }}</p>
            <h1 class="article__title">{{ detail.title }}</h1>
            <p class="article__date">{{ detail.created_at|date('d F Y') }}</p>
        </div>
    </div>
    <!-- end article header -->

    <!-- start article image -->
    <div class="row expanded">
        <center>
            <img src="{{ baseUrl ~ '/' ~ detail.image_dir ~ detail.image }}" />
        </center>
    </div>
    <!-- end article image -->

    <div class="row desc">

        <!-- start share button -->
        <div class="medium-1 columns hide-for-small-only share-wrap">
            <ul class="list fixed">
                <p>Share</p>
                <li class="list__each"><div class="share-button-fb btn btn-success clearfix" data-href="{{ url }}"><i class="fa fa-facebook" aria-hidden="true"></i></div></li>
                <li class="list__each"><a href="{{ url }}" title="Title Article" class="tweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- end share button -->

        <div class="medium-11 medium-offset-1 columns">
            {{ detail.content | raw }}
        </div>
        <!-- start share button -->
        <div class="medium-10 columns show-for-small-only">
            <ul class="list list--share">
                {#<p>Share</p>#}
                <li class="list__each">Share</li>
                <li class="list__each"><div class="share-button-fb btn btn-success clearfix" data-href="{{ url }}"><i class="fa fa-facebook" aria-hidden="true"></i></div></li>
                <li class="list__each"><a href="{{ url }}" title="Title Article" class="tweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- end share button -->
    </div>


    {% if relatedPosts is not empty %}
        <div class="row expanded desc relative" style="background: #fffee9">
            <div class="row">
                <div class="medium-12 columns">
                    <h3 class="desc__subtitle">Berita & Aktivitas Lainnya</h3>
                </div>
                <div class="small-up-1 medium-up-3" data-equalizer="thumb">

                    {% for post in relatedPosts %}
                        <div class="columns">
                            <div class="article-thumb" data-equalizer-watch="thumb">
                                <a href="{{ baseUrl ~ '/' ~ prefix ~ '/' ~ post.slug }}">
                                    <div class="article-thumb__img">
                                        <img src="{{ baseUrl }}/{{ post.image_dir ~ 'normal_' ~ post.image }}">
                                    </div>
                                    <h2 class="article-thumb__title">{{ post.title }}</h2>
                                    <div style="clear: both"></div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% set js %}
    {#facebook#}
    $('.share-button-fb').on('click',function(e){
        e.preventDefault();
        FB.ui({
        method: 'feed',
        link: $(this).data('href')
        });
    });
    {#twitter#}
    $(document).on('click', 'a.tweet', function(e){
        e.preventDefault();
        var loc = $(this).attr('href');
        var title  = encodeURIComponent($(this).attr('title'));
        window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
    });

    var thumb = $('.article-thumb .article-thumb__img').width();
    var hThumb = (thumb * 9 /16);
    $('.article-thumb .article-thumb__img').css('height',hThumb);

    {#breadcrumb custom#}
    $('.breadcrumbs').parent('nav').addClass('relative');
{% endset %}
{{ this.registerJs(js) }}