// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--regular;
}

header {
  text-align:center;
  padding: em(48px) 0;

}
footer {
  font-size: em(12px);
  background: $green-dark;
  color: $white;
}
.logo-konicare {
  position: relative;
  display: inline-block;
}
.logo-konicare:before {
  position: absolute;
  left: -10px;
  content: '';
  border-bottom: 108px solid #ffffff;
  border-left: 10px solid transparent;
  height: 0;
  width: 10px;
}
h1, h2, h3, h4 {
  font-family: $font-family--header;
  font-weight: $font-weight--light;
  color: $green;
}
h1 {
  font-size: em(42px);
  line-height: 1;
}
h3 {
  font-size: em(21px);
}
h4 {
  font-size: em(16px);
}
.wrap {
  display: table;
  &__middle {
    display: table-cell;
    vertical-align: middle;
  }
}
.list {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 999999;
  &__each {
    display: inline-block;
    span {
      font-family: $font-family--link;
      font-size: 16px;
      color: $grey-medium;
    }
    a {
      color: $grey-medium;
    }
  }
}
.relative {
  position: relative;
  z-index: 9;
  background: $white;
}
.fixed {
  position: fixed;
  z-index: 8;
  top: calc((100% - 122px)/2);
}
@media screen and  (max-width: 1024px) {
  h1 {
    font-size: em(28px);
    line-height: 1.1;
  }
  h2 {
    font-size: em(26px);
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: em(26px);
  }
  h2 {
    font-size: em(24px);
  }
}
@media screen and (max-width : 640px ) {
  h1 {
    font-size: em(18px);
  }
  footer {
    font-size: em(9px);
  }
  .list {
    display: block;
    padding-top: em(16px);
    &--share {
      border-top: 1px solid #c4f46a;
    }
    &__each {
      display: inline-block!important;
    }
  }
}