// ====================
// Global Config
// ====================

//font stacks
$font-url--header  : 'https://fonts.googleapis.com/css?family=Baloo';
$font-url--regular : 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700';
$font-url--link    : 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
$font-url--primary : 'https://fonts.googleapis.com/css?family=Slabo+27px';

$font-family--header : 'Baloo', cursive;
$font-family--regular : 'Quicksand', sans-serif;
$font-family--link : 'Montserrat', sans-serif;
$font-family--primary : 'Slabo 27px', serif;

//font weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;
$font-weight--black      : 900;

//describe base colors
$white          : #fefffe;
$black          : #0b0b0b;
$grey           : #464646;
$grey-light      : #8f8f8f;
$grey-medium    : #595959;

$green          : #3d7f39;
$green-dark   : #5d8b3d;
$green-medium    : #629242;
$green-light    : #73bf43;
$orange         : #f17440;
$light-orange   : #ff6c40;
$yellow         : #fffeee;
$purple         : #732b6a;
$purple-light   : #926bb1;

//color usage
$color-primary   : $grey;
$color-secondary : $green;
$color-accent    : $orange;
$color-shadow    : rgba($black,.2);
$orange-darker   : darken($light-orange, 10%);
$green-darker    : darken($green,10%);

//color palette modifiers
$palettes: (
  grey: (
    xx-light : lighten($grey,43%),
    x-light  : lighten($grey,35%),
    light    : lighten($grey,12%),
    base     : $grey,
    dark     : darken($grey,8%),
    x-dark   : darken($grey, 16%)
  ),
  black: (
    light    : lighten($black,10%),
    base     : $black,
    dark     : darken($black,10%)
  )
);

//UI colors
$ui-colors: (
  default   : $green-dark
);

//text
$base__font-size : 16px;
$base__line      : 24px;

//Path to Assets
$path--rel       : "../img";

//border radius
$radius      : 24px;