// ==========================================================================
// Main
// ==========================================================================
.site-logo {
  @include img-replace("logo-bunda-konicare.png",311px, 62px, inline-block);
}
.site-konimex {
  @include img-replace("logo-konimex-estore.jpg",150px, 68px, block);
  margin: 40px auto;
  text-align: center;
  @include transition(box-shadow .3s ease);
  &:hover {
    @include boxshadow(8px 8px 5px rgba(0,0,0,.2));
  }
}

.js-off-canvas-overlay {
  // z-index: 1000;
}

.title-bar {
  background: $green-light;
  padding: 0;
  border-bottom: 4px solid #f3e824;
  max-width: 100%!important;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  .nav__item {
    a {
      font-weight: $font-weight--regular;
      padding: 0rem 1rem;
    }
  }
  button {
    font-family: $font-family--regular;
    font-size: em(16px);
    font-weight: $font-weight--bold;
    color: $white;
  }
}
a {
  font-family: $font-family--link;
}
.social-media {
  background: $orange;
  a {
    padding: 0!important;
  }
}
.search-wrap {
  position: relative;
  &__icon {
    position: absolute;
    right: -5px;
    bottom: 8px;
  }
}

.search-tablet {
  button{
    font-size: em(12px);
    margin-top: 10px !important;
  }
}

footer {
  a {
    color: $white;
    font-family: $font-family--regular;
    &:hover {
      color: $white;
    }
  }
}
.icon {
  @include img-replace("icon.png", 38px, 38px, inline-block!important);
  background-color: $green-light;
  border-radius: $radius;
  &--search {
    width:30px;
    height: 30px;
    display: block;
    background-color: transparent;
    background-position: -68px 10px;
  }
  &--close {
    width: 30px;
    height: 30px;
    display: block;
    background-color: transparent ;
    background-position: -398px 8px;
    border: none;
  }
  &--close-thin {
    width: 30px;
    height: 30px;
    display: block;
    background-color: $orange;
    background-position: -428px 4px;
    border: none;
    border-radius: 0!important;
    right: 0.6rem!important;
  }
  &__edit {
    position: absolute;
    top: 10px;
    right: 24px;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px;
    background: url(../img/edit.svg);
    background-size: 16px 16px;
  }
}
.icon-forum {
  display: block;
  background-color: $green-light;
  border-radius: $radius;
  padding: 4px;
  width: 38px;
  height: 38px;
}
.icon-heart {
  @include img-replace("icon-heart.png", 19px, 19px, inline-block);
  &--like {
  @include img-replace("icon-heart-like.png", 19px, 19px, inline-block);
  }
}
.icon-comment {
  @include img-replace("icon-comment.png", 19px, 19px, inline-block);
}
.icon-konicare {
  position: relative;
  margin-right: -2px;
}
.share-button-fb {
  color: #ffffff;
  cursor: pointer;
}
.banner {
  position: relative;
  &__desc {
    @extend %pseudos;
    top: 20%;
  }
  p {
    font-size: em(18px);
    font-weight: $font-weight--bold;
    letter-spacing: 1px;
    color: $green;
    padding: 20px 0px;
  }
}
.product-thumb {
  display: block;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  @include transition(box-shadow .3s ease);
  &:hover {
    @include boxshadow(0px 0px 60px rgba(93,139,61,.2));
  }
  &__display {
    padding: 20px;
    img {
      display: inline-block;
    }
  }
  &__title {
    display: table;
    text-align: center;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: $radius + 10px;
    @include linearGradient50(rgba(255,250,152,1), rgba(195,244,105,0.2));
  }
  h4 {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 1.2;
  }
}
.select {
  display: block!important;
  width: auto;
  height: auto;
  border-color: transparent;
  border-radius: $radius;
  padding: em(4px) em(40px);
  @include linearGradientGeneral(#fffa98, #f3fde0);
  &__selected {
    font-family: $font-family--header;
    font-size: em(21px);
    color: $purple!important;
    border-bottom: none!important;
    &:hover , &:focus {
      color: $purple;
    }
    &:after {
      border-color: #5d8b3d transparent transparent!important;
    }
  }
  &__wrap {
    top: calc(100% + 20px)!important;
    @include linearGradientGeneral(#fffa98, #f3fde0);
    border: none;
    border-radius: 25px;
  }
  &__list {
    padding: em(4px) em(40px);
    &:last-child {
      .select__text {
        border-bottom: none;
      }
    }
  }
  &__text {
    font-family: $font-family--header;
    font-size: em(18px);
    color: #3d7f39;
    border-bottom: 1px solid #3d7f39!important;
    &:hover {
      color: $purple;
    }
  }
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}
.link {
  padding: 10px 20px 10px 15px;
  font-size: em(14px);
  font-weight: $font-weight--medium;
  letter-spacing: 1px;
  border-radius: $radius;
  background-color: $light-orange;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  @include transition(background-color .3s ease);
  &:hover {
    color: $white;
    background-color: $orange-darker;
  }
  &--facebook {
    width: 100%;
    display: block;
    padding: 10px;
    background: #3a61b4;
    text-transform: capitalize;
    &:hover {
      color: $white;
      background-color: #2b55af;
    }
  }
  &--ornamen {
    padding-left: em(10px);
  }
  &--reply {
    position: relative;
  }
    &--write {
      position: relative;
      padding-left: 50px;
      font-size: 12px;
      &:before {
        position: absolute;
        left: 30px;
        content: url(../img/forum/icon-write.png);
        width: 18px;
        height: 18px;
      }
    }
}
//section
.section {
  padding: em(100px) 0;
  p {
    color: #4b4c56;
  }
  &__title {
    color : $purple;
    margin-bottom: em(16px);
    line-height: 1.2;
    &--green {
      color : $green;
    }
    &--forum {
      font-size: em(18px);
    }
  }
  &--komposisi {
    position: relative;
    padding-top: em(50px);
    padding-bottom: 180px;
    .ornamen-right {
      @include ornamen(0,0,auto);
      z-index: -1;
    }
  }
  &--others {
    padding: em(50px) 0;
    background-image: url('#{$path--rel}/bg-other.jpg');
    background-repeat: repeat;
  }
  &--tvc {
    @include img-replace("bg-tvc.jpg",100%, 100%);
    background-size: cover;
    text-align: center;
    .section__title {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 3rem;
    }
  }
  &--arthighlight {
    padding: 3.25em 0 6.25em 0;
    @include linearGradientGeneral(rgba(255,254,211,0.6), rgba(255,255,232,0.6));
  }
  &--forumhighlight {
    padding: 3.25em 0 6.25em 0;
//    @include liearGradientMultiply(56deg, rgba(233,187,228,0.4),rgba(192,132,204,0.4), "bg-other.jpg");
      @include img-replace("bg-forum.jpg",100%, 100%);
      background-size: cover;
      text-align: center;
  }
  &--prodhightlight {
    padding: 3.25em 0 6.25em 0;
    background: $yellow;
  }
  &--bundahighlight {
    padding: 3.25em 0 6.25em 0;
    @include liearGradientMultiply(45deg, rgba(250,216,58,0.6),rgba(55,211,113,0.6), "bg-other.jpg");
  }
  &--login {
    @include img-replace("bg-login.jpg",100%,100%);
    background-size: cover;
  }
  &--contact-us {
    @include img-replace("bg-contact-us.jpg",100%,100%);
    background-size: cover;
   }
  &--article-category {
    @include img-replace("bg-other.jpg",300,300);
    background-size: cover;
    .row {
      position: relative;
      z-index: 3;
    }
  }
  &--forum {
  }
  &--not-found {
    position: relative;
    @include flexWrap(auto);
    .ornamen {
      @include ornamen(auto,0,0);
    }
    .wrap {
      position: relative;
      z-index: 8;
    }
    h3 {
      color: $grey-medium;
      padding: 15px 0;
    }
  }
  &--tnc {
    position: relative;
    padding: 0 0 100px 0;
    color: $grey-medium;
    font-size: 16px;
    text-align: center;
    h1 {
      display: inline-block;
      padding-bottom: 10px;
      @include borderGradient2 (#fffa98, #c3f469 , #fff , 2px);
    }
    ol , ul {
      text-align: left;
    }
    .row > ol > li , .row > ul > li {
      padding-top: 50px;
    }
   .row > ul > li {
      list-style: none;
    }
    .ornamen-left {
      @include ornamen(auto,0,0);
    }
    .ornamen-right {
      @include ornamen(0,0,auto);
    }

  }
}
//section
.section--login {
  &__wrap {
    background: $white;
    border-radius: $radius;
    text-align: center;
    max-width: em(500px);
    &--contact {
      max-width: auto!important;
    }
    .ornamen {
      float: right;
      border-bottom-right-radius: $radius;
    }
  }
  &__title {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    @include linearGradientGeneral(#ffe082, #fc9266);
    h3 {
      color: #fff;
      margin-top: em(8px);
    }
    &--green {
      @include linearGradientGeneral(#c3f469, #73bf43);
    }
  }
}

.section--contact-us {
  &__wrap {
    position: relative;
    background: $white;
    border-radius: 25px;
    text-align: center;
    padding: 16px 32px!important;
    &--ornamen {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &--contact {
      max-width: auto!important;
    }
  }
  &__title {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    h3 {
      font-size: 36px;
      color: $green;
      margin-top: em(8px);
      display: inline-block;
      padding: 0 20px;
    }
    &--green {
      @include linearGradientGeneral(#c3f469, #73bf43);
      }
  }
  &__underline {
    display:block;
    width: 100%;
    height: 2px;
    @include linearGradientGeneral(#fffa98, #c3f469)
  }
  span {
    font-weight: $font-weight--bold;
    color: $green;
    padding-left: 10px;
  }
}
//article
.article {
  padding: 0;
  &--highlight {
    padding: 0px;
  }
  &__kategory {
    font-family: $font-family--regular;
    font-weight: $font-weight--light;
    font-size: em(16px);
    text-transform: uppercase;
    color: #999999;
    letter-spacing: em(4px);
    margin-bottom: 8px;
  }
  &__title {
    font-size: em(32px);
    color: $green;
    text-transform: capitalize;
    &--purple {
      color: $purple;
    }
  }
  &__date {
    font-family: $font-family--link;
    font-weight: $font-weight--regular;
    font-size: em(12px);
    color: #999999!important;
  }
  &__link {
    font-weight: $font-weight--regular;
    font-size: em(16px);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $light-orange;
    border-left: 1px solid $green-light;
    border-right: 1px solid $green-light;
    border-radius: 25px;
    padding: 10px 20px;
    @include transition(border-width .1s ease);
    background: transparent;
    &:hover {
      color: $orange;
      border-width: 2px;
    }
  }
  &__footer {
    background: $purple-light;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3.75em;
    padding-right: 3.75em;
    a {
      display: block;
      font-size: em(14px);
      color: $white;
    }
  }
}
.article-thumb {
  background: $white;
  border: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(121, 130, 154, 0.15);
  @include transition(all .3s ease);
  margin: 0px auto 35px auto;
  &:hover {
    border: 5px solid transparent;
    @include borderGradient(#e5f783,#fffa98);
    border-image-slice: 1;
    @include boxshadow(10px 10px 7px rgba(0,0,0,.2));
  }
  img {
    width: 100%;
  }
  &__img {
    display: block;
    overflow: hidden;
  }
  &__title {
    font-family: $font-family--header;
    font-size: em(18px);
    padding: 10px;
    margin-bottom: 0;
  }
}
.desc {
  padding-top: 40px;
  padding-bottom: 40px;
  &__img {
    text-align: center;
    padding: 30px;
  }
  &__img-desc {
    font-weight: $font-weight--light;
    font-size: em(12px);
    color: #bdbdbd;
  }
  .share-wrap{
    left: 0;
    position: fixed;
  }
  .list {
    text-align: center;
    .share-button-fb {
      color: #868686;
      cursor: pointer;
      .fa.fa-facebook {
        border: 1px solid;
        padding: 8px 12px;
        border-radius: 50%;
        &:hover {
          color: #ffffff;
          background: #4267b2;
          @include transition(background 1s);
        }
      }
    }
    .tweet {
      color: #868686;
      .fa.fa-twitter {
        border: 1px solid;
        padding: 8px 9px;
        border-radius: 50%;
        &:hover {
          color: #FFFFFF;
          background: #1da1f2;
          @include transition(background 1s);

        }
      }
    }
    p {
      font-weight: $font-weight--bold;
      font-size: em(18px);
      color: #868686;
    }
    &__each {
      display: block;
      padding-bottom: em(5px);
    }
  }
  &__subtitle {
    font-family: $font-family--header;
    font-size: em(21px);
    color: $green;
    margin-bottom: 20px;
  }
}
.each-comment {
  position: relative;
  background: $white;
  padding: 16px;
  margin-bottom: em(16px);
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(121, 130, 154, 0.15);
  color: $grey-medium;
  font-size: em(14px);
  font-weight: $font-weight--light;
  .icon-heart , .icon-heart--like {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  &__name {
    font-size: em(16px);
    font-weight: $font-weight--bold;
    color: #9d5a8e;
  }
  &__input {
    input , input:focus {
      color: $grey-medium;
      font-size: em(16px);
      font-weight: $font-weight--light;
      border: none;
      box-shadow: none;
      padding-left: 30px;
      margin-bottom: 0;
    }
    position: relative;
    i {
      position: absolute;
      top: 10px;
    }
  }
}

//about
.about {
  position: relative;
  &__ornamen {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__title {
    font-size: 32px;
  }
  &__shortdesc {
    font-size: 21px;
    color: #3d7f39;
  }
  &__desc {
    font-size: 18px;
    color: $grey-medium;
    line-height: 2;
  }
}
//search
.search {
  margin-bottom: 4rem;
  &__header {
    @include linearGradientGeneral(#fffa98,#c3f469);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 1rem;
    padding-bottom: .5rem;
    h1 {
      font-family: $font-family--header;
      font-size: 24px;
      color: $green;
      span {
        font-family: $font-family--regular;
        font-weight: $font-weight--bold;
      }
    }
  }
  &__list {
    padding: 2rem 0;
    background-color: #f1f5fb;
    border-bottom: 1px solid #d3c4ec;
  }
  &__img {
    overflow: hidden;
  }
  &__title {
    font-family: $font-family--header;
    font-size: em(21px);
    color: $green;
  }
  &__date {
    font-size: em(10px);
    font-weight: $font-weight--medium;
    color: #999999;
  }
  &__link {
    font-size: em(16px);
    color: $green;
    text-decoration: underline;
    display: block;
  }
  &__highlight {
    font-size: em(16px);
    color: $grey-medium;
    word-wrap: break-word;
  }
  &__author {
    font-size: 11px;
    color: $purple;
  }
  &__category {
    position: relative;
    font-size: em(10px);
    font-weight: $font-weight--medium;
    color: #999999;
    padding-left: 20px;
    &:before {
      position: absolute;
      top: 0;
      left: 0px;
      content: url(../img/icon-tag.png);
      width: 16px;
      height: 13px;
    }
  }
}
//forum
.forum {
  margin-bottom: 50px;
  .row {
    max-width: 100%!important;
  }
  p {
    font-size: em(14px);
    color: $grey-medium;
  }
  .headline-wrap {
    position: relative;
    height: 100%;
    border-left: 1px solid #d3c4ec;
    &__link {
      position: absolute;
      right: calc((100% - 12px) / 2);
      top: calc((100% - 17px) / 2);
    }
  }
  &__list {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #d3c4ec;
    margin-left: 0!important;
    .columns {
      @include flexWrap(1rem 0.625rem);
      & > img {
        margin: 0 auto;
      }
      & p {
        margin-bottom: 0;
      }
    }
    &--custom {
      margin-left: 0!important;
    }
    &:nth-child(odd) {
      background: #fbfcff;
    }
    &:nth-child(even) {
      background: #f1f5fb;
    }
  }
  &__header {
    @include linearGradientGeneral(#fffa98,#c3f469);
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
    margin-left: 0!important;
    color: $grey-medium;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    box-shadow: 0px 0px 0px 1px #d3c4ec inset;
    box-sizing: border-box;
    &:hover {
      color: $grey-medium;
    }
    &--wrap {
      padding: 16px;
      p {
        margin-bottom: 0;
      }
    }
    &--purple {
      @include linearGradientGeneral(#ede3ff,#d1baf9);
      padding: 16px;
    }
  }
  &__title {
    font-family: $font-family--header;
    font-size: em(28px);
    color: $green;
    margin-bottom: 0;
  }
  &__subtitle {
    font-family: $font-family--header;
    font-size: em(18px);
    color: $green;
  }
  &__headline {
    position: relative;
    font-size: em(14px);
    font-weight: $font-weight--bold;
    color: $purple;
    padding-left: 20px;
    width: 100%;
    &:before {
      position: absolute;
      display: block;
      content: url('../img/forum/icon-file.png');
      width: 14px;
      height: 16px;
      left: 0;
      top: 0;
    }
  }
  &__author {
    width: 100%;
    font-size: em(14px);
    color: $purple;
    display: block;
    word-wrap: break-word;
  }
  &__started {
    color: $grey-medium;
  }
  &__counter {
    font-size: em(14px);
    color: $green-dark;
    &--top {
      font-family: $font-family--regular;
      font-weight: $font-weight--regular;
    }
  }
  &__date {
    width: 100%;
    font-size: em(12px);
    color: $grey-medium;

    display: block;
  }
  &__new-thread {
    .columns {
      @include flexWrap(25px);
      label {
        font-family: $font-family--header;
        font-size: 18px;
        color: $white;
        width: 100%;
        padding: 0.5rem;
        background: #51894e;
        border-top-left-radius: $radius;
        border: 1px solid #d3c4ec;
      }
      input {
        color: $grey-medium;
        font-size: 14px;
        margin-bottom: 0;
        border-top-right-radius: $radius;
        border: 1px solid #ff6c40!important;
        background: #fbfcff;
      }
      textarea {
        color: $grey-medium;
        font-size: 14px;
        margin-bottom: 0;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        border: 1px solid #ff6c40!important;
        background: #fbfcff;
      }
    }
    .link-wrap {
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }
    ul li {
      display: inline-block;
    }
    .link {
      font-family: $font-family--link;
      font-size: 14px;
      font-weight: $font-weight--bold;
      text-transform: capitalize;
      cursor: pointer;
      background-color: #e4e1ef;
      color: $grey-medium;
      &:hover {
        background-color: $light-orange;
        color: $white;
      }
    }
  }
}
.profile {
  background: #f1f5fb;
  border-right: 1px solid #d3c4ec;
  span {
    display: block;
    text-align: left;
  }
  &__started , &__post , &__member {
    font-size: em(14px);
    color: $grey-medium;
  }
  &__author {
    font-family: $font-family--header;
    font-size: em(16px);
    word-wrap: break-word;
    word-break: break-all;
    color: $green;
  }
  &__img {
    display: block;
    border-radius: 50%;
    margin-top: 10px;
//    margin: 1rem auto!important;
  }
  &__post{
    margin-bottom: 8px;
  }
  &__member {
    margin-bottom: 8px;
  }

}

//ornamen
.section--arthighlight {
  position: relative;
  .wrap {
    position: relative;
    display: block;
    z-index: 9;
  }
}
.section--forumhighlight {
  position: relative;
  .ornamen-left {
    @include ornamen(auto,0,0);
  }
  .ornamen-right {
    @include ornamen(0,auto,auto);
    top: 0;
  }
  &__wrap {
    padding-bottom: em(60px);
  }
}
.section--prodhightlight {
  position: relative;
  padding-bottom: em(50px);
  .row {
    padding-bottom: 50px;
  }
  .product-display {
    position: relative;
    margin-bottom: em(16px);
    &__ornamen {
      position: absolute;
      @include ornamen(auto,-4%,-50%);
    }
  }
  .ornamen-right {
    @include ornamen(0,0,auto);
  }
}
.section--bundahighlight {
  position: relative;
  bottom: 0;
  .ornamen-right {
    @include ornamen(0,0,auto);
  }
  .ornamen-top {
    @include ornamen(0,auto,auto);
    top: 0;
  }
}
.section--article-category {
  position: relative;
  .ornamen-top-left {
    @include ornamen(auto,auto,-60px);
    top: 42px;
  }
  .ornamen-top-right {
    @include ornamen(-45px,auto,auto);
    top: 0;
  }
  .ornamen-bottom {
    @include ornamen(auto,100px,-95px);
  }
}
.section--forum {
  position: relative;
  padding: em(50px) 0;
  .ornamen-top {
    @include ornamen(0,auto,auto);
    top: -6%;
  }
  .ornamen-bottom {
    @include ornamen(auto,0,0);
  }
}
.table {
  position: relative;
  z-index: 9;
  text-align: left;
  margin-bottom: 2rem;
  padding-left: calc(0.9375rem / 3);
  padding-right: calc(0.9375rem / 3);
  > .columns {
    @include linearGradientWhite(#ffffff, #ffffff);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &__title {
    padding: em(10px);
    display: table;
    width: 100%;
    @include linearGradientAngle(35deg,#b3dd4d, #c4dd4d);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    @include boxshadow(0px 0px 20px 0px #a9a9b9);
    &__text {
      position: relative;
      font-family: $font-family--header;
      font-size: em(20px);
      line-height: 1;
      color: $green;
      display: table;
      vertical-align: middle;
      &--desc {
        display: table-cell;
        vertical-align: middle;
        padding-left: em(8px);
      }
    }
    &__icon {
      width: 38px;
      float: left;
      @include boxshadow(3px 3px 8px -2px #a9a9b9);
    }
  }
  &__list {
    display: table;
    width: 100%;
    padding: 0 em(10px);
    font-size: em(18px);
    &:last-child {
      .table__link {
        border-bottom: none;
      }
    }
  }
  &__link {
    font-family: $font-family--regular;
    color: #212121;
    display: block;
    padding: em(24px) 0;
    @include transition(color .1s ease);
    border-bottom: 2px dashed #736357;
    &:hover {
      color: $orange;
    }
  }
}
.ornamen-line {
  width: 100%;
  height: 1px;
  @include linearGradientGeneral(#C3F469, #fffa98);
  margin-bottom: 40px;
}
.ornamen-wrap {
  position: relative;
  padding: 30px 0;
  span {
    font-family: $font-family--header;
    font-size: em(18px);
    color: $green;
    background: $white;
    position: relative;
    z-index: 2;
    padding: 0 10px;
  }
  .ornamen-line {
    position: absolute;
    margin-bottom: 0;
    bottom: 50%;
  }
}
.spinner {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  display: block;
  margin: 5px auto;
}
@include rotate;

//form
.input {
  font-family: $font-family--regular;
  &--wrap {
    position: relative;
    border-left: 1px solid #d9dadc;
  }
  &__ornamen {
    position: relative;
    color: $orange!important;
    font-weight: $font-weight--bold;
    border-color: #e6f784!important;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: inline-block;
    margin-bottom: 1.5rem;
    .icon__edit {
      position: absolute;
      top: 6px;
      right: -20px;
    }
  }
  &__transparent-select {
    background-color: transparent!important;
  }
  &__transparent {
    font-size: 14px!important;
    color: $grey-medium!important;
    box-shadow : none;
    background-color: transparent!important;
    border-color: transparent!important;
    display: inline-block;
    padding: 10px 18px!important;
    border-radius: 24px!important;
    height: auto!important;
    margin-bottom: 3px!important;
    text-align: left;
    &:focus {
      background-color: #e4e1ef!important;
      border: 1px solid #afaac1!important;
      box-shadow: none!important;
    }
    &--name {
      width: auto;
      text-align: left;
      border-radius: 0!important;
      padding: 0px !important;
      font-weight: $font-weight--bold;
      color: #3d7f39!important;
      &:focus {
        border-radius: 0!important;
        background-color: transparent;
        border: none!important;
      }
    }
  }
  &--label {
    font-size: 10px;
    color: #73bf43;
    text-decoration: underline;
  }
  &--label-big {
    font-size: 12px;
    color: #73bf43;
    text-decoration: underline;
  }
  &--label-wrap {
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #d9dadc;
  }
  &--desc {
    font-size: 14px;
    color: $grey-medium;
    padding: 4px 18px 9px 18px !important;
    text-align: left;
  }
  &--poin {
    font-family: $font-family--header;
    font-size: 36px;
    color: #ff6c40;
    @include linearGradientGeneral(#ebec86 , #c5ec6b);
    border-radius: $radius;
    line-height: 1.1;
    margin: 0 0 1rem;
  }
}
//reset plugin
:focus {
  outline: none;
}
.bx-wrapper {
  box-shadow: 0 0 5px transparent;
  border-color: transparent;
  background: transparent;
  margin: 0 auto;
}
.bx-wrapper .bx-controls-direction a {
  width: 15px;
  height: 31px;
  z-index: 1;
}
.bx-wrapper .bx-prev {
  left: -15px;
  background-position:0 0px;
}
.bx-wrapper .bx-next {
  right: -15px;
  background-position:-18px 0px;
  &:focus {
    background-position: -18px 0px;
  }
  &:hover {
    background-position: -18px 0px;
  }
}
.bxslider > li > .columns {
  margin: 40px auto;
}
.nopadd {
  padding: 0;
}
.padd {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}
.novpadd {
  padding:0!important;
}
.button {
  margin: 0!important;
  padding: 0!important;
  background: transparent;
  &:hover , &:focus {
    background: transparent;
  }
}
.title-bar-left {
  padding: 10px 10px 10px 60px;
}
.breadcrumbs {
  margin: em(16px) 0;
  a , li {
    font-family: $font-family--link;
    font-size: 10px;
    text-transform: capitalize;
  }
  a {
    color: $grey-light;
  }
  li {
    color: $green-dark;
  }
}
.orbit-bullets {
  position: relative;
  bottom: 48px;
  margin: 0 auto;
  text-align: center;
}
.orbit-bullets button {
  width: 10px;
  height: 10px;
  background-color: $white;
}
.orbit-bullets button.is-active, .orbit-bullets button:hover {
  width: 14px;
  height: 14px;
  background-color: $white;
}
.orbit-slide > .banner__bg {
  width: 100%;
}
.tabs {
  margin: auto;
  background: $white;
  border-color: transparent;
}
.tabs-content {
  position: relative;
  background: $white;
  border-color: transparent;
  .article--highlight {
    padding: em(60px);
  }
  .ornamen-left {
    @include ornamen(auto,0,-14.8%);
  }
  .ornamen-right {
    @include ornamen(-10.66667%,0,auto);
  }
}
.tabs-title {

}
.tabs-title>a {
  padding: 0;
  @include transition(box-shadow .3s ease);
  &:hover {
    position: relative;
    overflow: hidden;
    @include boxshadow(10px 10px 7px rgba(0,0,0,.2));
    z-index: 9999;
  }
}
.tabs-title.is-active {
  position: relative;
  overflow: hidden;
  @include boxshadow(0px 0px 15px 0px rgba(0,0,0,.8));
  z-index: 9999;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #e5f783 0%, #fffa98 100%);
  border-image-slice: 1;
}
.input-group {
  width: 80%;
  margin-bottom: 0!important;
  margin-top: em(12px);
  padding-left: em(16px);
}
.menu.nav .input-group-field , .menu.nav input[type="submit"] {
  height: 33px;
}
.input-group [type="text"] , .input-group [type="submit"] {
  font-size: em(12px);
  border: 0;
  box-shadow: none;
  background-color: transparent;
  color: $white;
  border-bottom: 1px solid #fff;
  padding: 0;
  @include placeholder($white);
  &::-webkit-input-placeholder {
    vertical-align: bottom;
  }
}
.form-wrap {
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: em(14px);
  &--short {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  p {
    font-size: 12px;
    text-align: left;
  }
  &__link {
    font-size: 12px;
    color: $green-light;
    text-decoration: underline;
  }

  input , textarea , select {
    background-color: #e4e1ef;
    border-color: #afaac1;
    border-radius: $radius;
    font-size: em(14px);
    padding: 0 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: calc(100% + 5px) 50%;
  }
  input[type='radio'] {
    -webkit-appearance: radio!important;
    -moz-appearance: radio!important;
    appearance: radio!important;
  }
  input::placeholder , textarea::placeholder {
    color: #000;
  }
  textarea {
    padding-top: 15px;
  }
  .link {
    &__submit {
    font-family: $font-family--link;
    padding: 15px 25px;
    background-color: #e4e1ef;
    color: $grey-medium;
    font-weight: $font-weight--bold;
    line-height: 1.6;
    text-transform: capitalize;
    -webkit-transition: background-color .5s; /* Safari */
    transition: background-color .5s;
    margin-top: 25px;
    &--opt {
      &:hover {
        background-color : $light-orange!important;
        color: #ffffff;
      }
    }
    &:hover {
      background-color: #994126;
      color: $white;
    }
  }
  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
  }
//  reset
  .field-signupform-gender {
    width: 100%;
    float: left;
    label , .radio , .help-block-error {
      display: inline-block;
      float: left;
    }
    label {
      padding-right: 10px;
    }
  }
  .field-signupform-birthdate {
    width: 100%;
    float: left;
    label {
      padding-top: 10px;
    }
    label, input {
      width: 50%;
      float: left;
    }
  }
  .form-group.has-error {
    position: relative;
    clear: both;
    &:after {
      content: url('../img/form-close.png');
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 10px;
      right: 18px;
    }
  }
  .has-error input {
    @include linearGradientGeneral(#d43f56, #ee6177);
    color: #ffffff;
  }
  .help-block-error {
    font-size: 12px;
    color: #e62f4b!important;
    text-align: left;
    padding: 5px;
    margin-bottom: 8px;
  }
  .form-group.has-success {
    position: relative;
    &:after {
      content: url('../img/form-success.png');
      width: 16px;
      height: 17px;
      display: block;
      position: absolute;
      top: 10px;
      right: 18px;
    }
  }
  [type=password] {
    margin-bottom: 0;
  }
  .checkbox {
    .help-block-error {
      display: none;
    }
  }
  .field-signupform-gender.has-error {
    &:after {
      display: none;
    }
  }
}
.pagination {
  @include linearGradientGeneral(#e5f783, #fffa98);
  font-family: $font-family--link;
  font-weight: $font-weight--bold;
  font-size: em(12px);
  display: inline-block;
  border-radius: $radius;
  padding: 5px;
  li {
    display: inline-block;
    font-size: 10px;
    margin-right: 0;
  }
}
.pagination .arrow , .pagination .arrow.disabled {
  padding: 0 0.1875rem;
}
.pagination .arrow a {
  padding: 0;
}
.pagination-previous.disabled:before, .pagination-previous a:before , .pagination-next.disabled:after, .pagination-next a:after {
  display: none;
}
.pagination .current {
  background: transparent;
  color: #468b40;
}
.pagination a, .pagination button {
  color: #839e81;
}
.pagination .ellipsis:after {
  color: #839e81;
}
.pagination-pages {
  font-family: $font-family--link;
  font-size: 12px;
  color: #839e81;
  margin-bottom: .5rem;
}
.accordion-content {
  padding: 0;
  border: none;
}
//berita dan aktivitas
.menu-tabs {
  margin-top: 60px;
  margin-bottom: 80px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  @include borderGradient(#fffa98,#c3f469);
  border-image-slice: 1;
  &__general {
    background: #f6f3ff;
  }
  &__active {
    @include linearGradient50(#fffa98,#c3f469);
  }
  li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &:nth-child(1) {
      border-width: 0 2px 0 0;
      border-color: #ffffff;
      border-style: solid;
    }
    &:nth-child(2) {
      border-width: 0 0 0 2px;
      border-color: #ffffff;
      border-style: solid;
    }
    a {
      font-family: $font-family--header;
      font-weight: $font-weight--regular;
      font-size: 21px;
      color: #3d7f39;
    }
  }
}
.latest-info {
  .line {
    display: block;
    margin-top: 100px;
    margin-bottom: 60px;
    height: 2px;
    @include linearGradient50(#fffa98,#c3f469);
  }
  .label-info {
    font-family: $font-family--header;
    font-size: 21px;
    color: #9d5a8e;
  }
  .article--highlight {
    a {
      color: #3d7f39;
      text-decoration: underline;
    }
  }
}
@media screen and  (min-width: 1700px) {
  .title-bar {
    .nav__item {
      a {
        padding: 0.7rem 3rem;
        font-weight: $font-weight--regular;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .banner {
    position: relative;
    &__desc {
    }
    p {
      font-size: em(14px);
    }
  }
  .product-thumb {
    h4 {
      font-size: em(14px);
    }
  }
  .title-bar-left {
    padding: 10px 40px 10px 40px;
  }
  .table {
    &__link {
      font-size: 14px;
    }
  }
  .about {
    &__title {
      font-size: 32px;
      padding: 0.5rem 0.625rem 0.625rem;
    }
    &__shortdesc {
      font-size: 18px;
      letter-spacing: 2px;
      word-spacing: 1px;
      text-align: left;
    }
    &__desc {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .title-bar-left {
    padding: 10px;
  }
  .banner {
    &__desc {
      top: 10%;
    }
    p {
      font-size: em(14px);
      padding: 5px 0px;
    }
  }
  .title-bar {
    .nav {
      &__item {
        a {
          padding: 0rem em(25px);
          font-size: em(12px);
        }
        .has-menu {
          span {
            &:after {
              top: calc((100% - 14px) / 2);
              right: -10px;
            }
          }
        }
      }
    }
  }
  .input-group {
    margin-top: 0.2em;
  }
  .section--forum .ornamen-top {
    top: -5%;
  }
}

@media screen and (max-width: 900px) {
  .title-bar {
    .nav {
      &__item {
        a {
          padding: 0rem em(16px);
          font-size: em(10px);
        }
        .has-menu {
          span {
            &:after {
              top:calc((100% - 12px) / 2);
              right: -8px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
//  menu
  .title-bar-title {
    padding: 5px;
  }
  .menu-icon {
    vertical-align: top;
  }
  .icon--search {
    background-position: -74px 8px;
  }
  .icon-download {
    width: 120px;
  }
  .is-drilldown li.current {
    @include linearGradientAngle(-180deg,#81bc58,#5d8b3d);
    > a {
      color: #ffffff!important;
      font-size: 18px;
      font-weight: $font-weight--bold;
      border-bottom: none!important;
    }
  }
  .menu > li > a , .submenu > a {
    color: #5d8b3d;
    padding: 1rem 0;
    margin: auto 1rem;
    border-bottom: 1px solid $white;
  }
  .is-transition-push.is-open {
    z-index: 999;
    background: transparent;
    &::after {
      display: none;
    }
  }
  .is-drilldown {
    li {
      @include linearGradientAngle(45deg,#fffa98,#c3f469);
    }
    height: 100%!important;
  }
  .menu-close {
    background: transparent!important;
    a {
      border-bottom: none!important;
    }
  }
  .is-drilldown-submenu {
    @include linearGradientAngle(45deg,#fffa98,#c3f469);
  }
  .js-drilldown-back a {
   color: #f17f3b!important;
  }
  .js-drilldown-back > a::before {
    border-color: transparent #f17f3b transparent transparent;
  }
  .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #5d8b3d;
  }
  .is-drilldown li.m-socmed {
    text-align: center;
    background: #f17f3b;
    color: #ffffff;
    i {
      color: #ffffff;
    }
    &--first {
      padding-top: 5px;
    }
    &--last {
      a {
        border-bottom: none!important;
      }
    }
    a {
      padding: 5px 0!important;
    }
  }
  .title-bar-right {
    background: $orange;
  }
  .link {
    padding: 12px 15px;
    font-size: em(12px);
    margin-bottom: em(16px);
  }
  .banner {
    p {
      font-size: em(12px);
      padding: 0;
    }
    &__bg {
      &--article {
        max-width: 155%;
        margin-left: -25%;
      }
    }
    &__desc {
      h1 {
        text-transform: uppercase;
      }
      &--responsive {
        top : 30%;
      }
    }
  }
  //section
  .section {
    padding: em(50px) 0 em(80px) 0;
    &__title {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &--komposisi {
      padding: 3.125em 0 0 0;
    }
    &--forum {
      padding: em(25px) 0 0 0;
    }
    &--prodhightlight {
        padding-left: em(16px)!important;
        padding-right: em(16px)!important;
        .section__title {
          padding-left: 0;
          padding-right: 0;
        }
    }
    &--bundahighlight {
        padding-left: em(16px)!important;
        padding-right: em(16px)!important;
    }
  }
  .tabs-content .article--highlight {
    padding: 1rem;
  }
  .article {
    padding: 0;
    &--highlight {
      padding: 20px
    }
    &__title {
      font-size: em(24px);
      line-height: 1.2;
    }
    &__link {
    font-size: 10px;
    letter-spacing: 1px;
    }
    &__footer {
      padding-left: 10px;
      padding-right: 10px;
      a {
        font-size: em(12px);
      }
    }
    .list {
      padding-top: 0!important;
      text-align: left;
    }
  }
.article-thumb {
  &__title {
    padding: 5px 0px;
  }
}

  //  forum
  .accordion-title {
    padding: em(8px) em(16px);
  }
  .accordion-content {
    padding: 0;
  }
  .forum {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    .row {
      margin-left: 0!important;
      margin-right: auto;
    }
    .headline-wrap {
      border-left: 1px solid #d3c4ec;
    }
    &__header {
      &--purple {
        padding: 0;
      }
    }
  }
  .profile {
    &__member {
      display: block;
    }
  }
  //ornamen
  .section--arthighlight {
    .wrap {
      .ornamen-left {
        display: none;
      }
      .ornamen-right {
        display: none;
      }
    }
  }
  .section--bundahighlight {
    .ornamen-right {
      right: -18%;
    }
  }
  .section--forumhighlight {
    overflow: hidden;
    .ornamen-left {
      @include ornamen(auto,0,-70%);
    }
    .ornamen-right {
      @include ornamen(-70%,auto,auto);
    }
    &__wrap {
      position: relative;
      z-index: 3;
      padding-bottom: 0;
    }
  }
  .table {
    &__title {
      &__text {
        font-size: 14px;
      }
      &__icon {
      }
    }
    &__list {
    }
    &__link {
      font-size: 12px;
    }
  }
  //product
  .product-thumb {
      padding: 20px 0;
    &:hover {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
    }
    &__title {
      padding: 10px;
    }
  }
  .select {
    width: 100%;
  }
  .bx-viewport {
    width: calc(100% - 50px)!important;
    margin: 0 auto;
  }
  .bx-wrapper .bx-prev {
    left: 0;
  }
  .bx-wrapper .bx-next {
    right: 0;
  }
  .search {
    margin-left: em(16px);
    margin-right: em(16px);
  }
  .orbit-bullets {
    bottom: 40px;
  }
  .input {
    &--wrap {
      border-left: none;
    }
  }
  .section--contact-us {
    &__wrap {
      position: relative;
      background: $white;
      border-radius: 25px;
      text-align: center;
      padding: 16px 20px!important;
    }
  }
}

@media screen and (max-width: 320px) {
  .banner {
    p {
      font-size: em(10px)!important;
    }
    &__desc {
      &--responsive {
        top : 20%;
      }
    }
  }
  .section--contact-us {
    &__wrap {
      position: relative;
      background: $white;
      border-radius: 25px;
      text-align: center;
      padding: 16px 5px!important;
    }
  }
}