/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) {
  .row.expanded .row {
    width: 600px; } }
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  .row.expanded .row {
    width: 1000px; } }
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .row.expanded .row {
    width: 1040px; } }
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) {
  .row.expanded .row {
    width: 1200px; } }
/* min-width 1441px, xlarge screens */

/*# sourceMappingURL=_media.css.map */
