//============================
// Nav
//============================

.nav {
  display: table;
  &__item {
    margin: 0;
    &--login {
    border-bottom: 1px solid;
    line-height: 2!important;
    margin-top: em(12px);
      i {
        margin: 0!important;
        padding-right: 16px;
      }
    }
    &--main {
      @include transition(background-color .3s ease);
      a {
        padding-top: em(16px)!important;
      }
      &:hover {
        background-color: $green;
      }
    }
    a {
      font-size: em(14px);
      color: $white;
      display: block;
      padding: em(8px, 18px);
    }

  &--current {
    background: $green;
  }
  .has-menu {
    padding-right: 28px!important;
    height: 100%;
    display: inline-table;
    background: transparent;
    span {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      &:after {
        content: url('../img/icon-dropdown.png');
        width: 8px;
        height: 5px;
        display: block;
        position: absolute;
        top: calc((100% - 20px) / 2);
        right: -14px;
      }
    }
    &:hover {
      background: transparent;
    }
    &:focus {
      background: transparent;
    }
  }
.has-menu.hover {
  position: relative;
  &:before {
    content: url('../img/icon-active-dropdown.png');
    width: 39px;
    height: 19px;
    position: absolute;
    display: block;
    bottom: -20px;
    left: calc((100% - 39px) / 2);
    z-index: 11;
  }
}
}
}

//===================================
// Mega Menu
//===================================

.mega-menu .mega{
  width: 100%;
  left: 0% !important;
  right: 0% !important;
  padding: 0px 0px 0px;
  border: none;
  padding: 25px;
  position: fixed;
}

.dropdown-pane {
  @include linearGradientGeneral(#fffa98,#c3f469);
  border: none;
  width: 100%;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}

.js-dropdown-active {
  max-width: 100% !important;
  width: 100% !important;
  left: 0 !important;
  display: block;
}
.nav__item--profile .dropdown-pane.is-open {
  width: 20%!important;
  left: calc(80% - 20px)!important;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  text-align: right;
}
.nav__item--profile a {
  position: relative;
  display: block;
  padding-top: 6px !important;
}
.nav__item--profile a > span {
  display: block!important;
  position: absolute!important;
  top: calc((100% - 18px) / 2);
  border-bottom: 1px solid;
  padding-bottom: 6px;
}
.nav__item--profile i {
  margin-left: 0!important;
  padding-right: 8px;
}
.nav__item--profile .columns {
  padding: 5px 10px;
  border-bottom: 1px solid #FFFFFF;
}
.nav__item .nav__item--profile .has-menu span:after {
  font-family: FontAwesome;
  content: "\f0dd";
  right: 0px;
  top: calc((100% - 30px) / 2);
}
.nav__item .nav__item--profile .has-menu.hover:before {
  bottom: -20px;
}
.dropdown-pane.is-open {
  width: 80%!important;
  left: 10%!important;
  a {
    font-family: $font-family--link;
    font-size: 14px;
    color: $green;
    padding: 8px 25px;
    &:hover {
      @include linearGradientOpacity();
    }
  }
}
.dropdown-search {
  border-radius: 0;
  padding: em(8px) em(16px);
  .input-group {
    width: 100%;
    margin-bottom: 0;
  }
}
.dropdown-search.dropdown-pane.is-open {
  @include linearGradientGeneral($orange,$orange);
  width: 100%!important;
  left: 0!important;
}

@media screen and (max-width: 1024px) {
  .nav {
      a {
        font-size: em(12px);
        color: $white;
        display: block;
      }
    &__item {
      &--login {
        line-height: 2.2 !important;
      }
    }
  }
}

@media screen and  (max-width: 900px) {
  .nav {
    &__item {
      &--login {
        line-height: 2.8 !important;
      }
    }
  }
  .menu-icon[aria-expanded="true"] {
    font-size: 18px;
    line-height: 18px;
  }
  .menu-icon[aria-expanded="true"]:after {
    font-family: foundation-icons;
    content: "\f217"!important;
    background: transparent!important;
    box-shadow: none!important;
  }
  .button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus {
    background-color: transparent;
  }
}