//=================================
//Utilities
//=================================

//import if google fonts url is defined
@if variable-exists(font-url--header) {
  @import url($font-url--header);
}
@if variable-exists(font-url--regular) {
  @import url($font-url--regular);
}
@if variable-exists(font-url--link) {
  @import url($font-url--link);
}
@if variable-exists(font-url--primary) {
  @import url($font-url--primary);
}
//calculate em values
@function em($target, $context : $base__font-size) {
  @return ($target / $context) * 1em;
}

//mixins
@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $disp;
}
@mixin ornamen ($right, $bottom, $left) {
  position: absolute;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin p-el($el,$el-w:null,$el-h:null){

  @if $el == "before" or $el == "after" {
    &:#{$el} {
      @extend %pseudos;
      width: $el-w;
      height: $el-h;
      @content;
    }
  }
  @else {
    @error "'#{$el}' is not a valid pseudo-element.";
  }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin boxshadow($args) {
  box-shadow: $args;
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
}
@mixin rotate {
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
// BEM selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

//gradient
@mixin linearGradient($colorStop1, $colorStopEnd){
  background: -moz-linear-gradient(left, rgba(255,250,152,1) 0%, rgba(255,250,152,0.8) 40%, rgba(195,244,105,0.2) 100%);
  background: -webkit-linear-gradient(left, rgba(255,250,152,1) 0%,rgba(255,250,152,0.8) 40%,rgba(195,244,105,0.2) 100%);
  background: linear-gradient(to right, rgba(255,250,152,1) 0%,rgba(255,250,152,0.8) 40%,rgba(195,244,105,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=0 ); /* IE6-9 */
}
@mixin linearGradientByPercent($colorStop1, $colorStop2, $colorStop2Percent , $colorStopEnd){
  background: -moz-linear-gradient(left, $colorStop1 0%, $colorStop2 $colorStop2Percent, $colorStopEnd 100%);
  background: -webkit-linear-gradient(left, $colorStop1 0%,$colorStop2 $colorStop2Percent,$colorStopEnd 100%);
  background: linear-gradient(to right, $colorStop1 0%,$colorStop2 $colorStop2Percent,$colorStopEnd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=0 ); /* IE6-9 */
}
@mixin linearGradient50($colorStop1, $colorStopEnd) {
  background: -moz-linear-gradient(left, $colorStop1 0%, $colorStopEnd 100%);
  background: -webkit-linear-gradient(left, $colorStop1 0%, $colorStopEnd 100%);
  background: linear-gradient(to right, $colorStop1 0%,$colorStopEnd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=0 ); /* IE6-9 */
}
@mixin linearGradientWhite($colorStop1, $colorStopEnd){
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
}
@mixin linearGradientGeneral($colorStop1, $colorStopEnd) {
  background: -moz-linear-gradient(left,  $colorStop1 0%, $colorStopEnd 100%);
  background: -webkit-linear-gradient(left,  $colorStop1 0%,$colorStopEnd 100%);
  background: linear-gradient(to right,  $colorStop1 0%,$colorStopEnd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
}
@mixin linearGradientAngle($angle, $colorStop1, $colorStopEnd) {
  background: -moz-linear-gradient($angle,  $colorStop1 0%, $colorStopEnd 100%);
  background: -webkit-linear-gradient($angle,  $colorStop1 0%,$colorStopEnd 100%);
  background: linear-gradient(to right,  $colorStop1 0%,$colorStopEnd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
}
@mixin liearGradientMultiply($angle, $colorStop1,$colorStopEnd,$img) {
    background: -moz-linear-gradient($angle,  $colorStop1 0%, $colorStopEnd 100%),url('#{$path--rel}/#{$img}');
    background: -webkit-linear-gradient($angle,  $colorStop1 0%,$colorStopEnd 100%),url('#{$path--rel}/#{$img}');
    background: linear-gradient(to right,  $colorStop1 0%,$colorStopEnd 100%),url('#{$path--rel}/#{$img}');
    background-blend-mode: multiply;
}
@mixin linearGradientOpacity() {
  background: -moz-linear-gradient(left, rgba(243,232,36,0) 0%, rgba(243,232,36,0.9) 15%, rgba(243,232,36,0.9) 85%, rgba(243,232,36,0) 100%);
  background: -webkit-linear-gradient(left, rgba(243,232,36,0) 0%,rgba(243,232,36,0.9) 15%,rgba(243,232,36,0.9) 85%,rgba(243,232,36,0) 100%);
  background: linear-gradient(to right, rgba(243,232,36,0) 0%,rgba(243,232,36,0.9) 15%,rgba(243,232,36,0.9) 85%,rgba(243,232,36,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3e824', endColorstr='#00f3e824',GradientType=1 );
}

@mixin borderGradient($colorStop1,$colorStopEnd) {
  border-image: -moz-linear-gradient(left, $colorStop1 0%, $colorStopEnd 100%);
  border-image: -webkit-linear-gradient(left, $colorStop1 0%,$colorStopEnd 100%);
  border-image: linear-gradient(to right, $colorStop1 0%,$colorStopEnd 100%);
}
@mixin borderGradient2 ($colorStop1, $colorStop2 , $colorBground , $height) {
  background: linear-gradient( to right, $colorStop1 0%, $colorStop2 100% ) left bottom $colorBground no-repeat;
  background-size:100% $height;
}
@mixin flexWrap($padding) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-flow: row wrap;
  padding: $padding;
  word-break: keep-all;
}