@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.banner__desc {
  display: block;
  content: '';
  position: absolute; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif; }

header {
  text-align: center;
  padding: 3em 0; }

footer {
  font-size: 0.75em;
  background: #5d8b3d;
  color: #fefffe; }

.logo-konicare {
  position: relative;
  display: inline-block; }

.logo-konicare:before {
  position: absolute;
  left: -10px;
  content: '';
  border-bottom: 108px solid #ffffff;
  border-left: 10px solid transparent;
  height: 0;
  width: 10px; }

h1, h2, h3, h4 {
  font-family: "Baloo", cursive;
  font-weight: 300;
  color: #3d7f39; }

h1 {
  font-size: 2.625em;
  line-height: 1; }

h3 {
  font-size: 1.3125em; }

h4 {
  font-size: 1em; }

.wrap {
  display: table; }
  .wrap__middle {
    display: table-cell;
    vertical-align: middle; }

.list {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 999999; }
  .list__each {
    display: inline-block; }
    .list__each span {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: #595959; }
    .list__each a {
      color: #595959; }

.relative {
  position: relative;
  z-index: 9;
  background: #fefffe; }

.fixed {
  position: fixed;
  z-index: 8;
  top: calc((100% - 122px)/2); }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.75em;
    line-height: 1.1; }

  h2 {
    font-size: 1.625em; } }
@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.625em; }

  h2 {
    font-size: 1.5em; } }
@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.125em; }

  footer {
    font-size: 0.5625em; }

  .list {
    display: block;
    padding-top: 1em; }
    .list--share {
      border-top: 1px solid #c4f46a; }
    .list__each {
      display: inline-block !important; } }
.site-logo {
  background-image: url("../img/logo-bunda-konicare.png");
  background-repeat: no-repeat;
  width: 311px;
  height: 62px;
  display: inline-block; }

.site-konimex {
  background-image: url("../img/logo-konimex-estore.jpg");
  background-repeat: no-repeat;
  width: 150px;
  height: 68px;
  display: block;
  margin: 40px auto;
  text-align: center;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease; }
  .site-konimex:hover {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); }

.title-bar {
  background: #73bf43;
  padding: 0;
  border-bottom: 4px solid #f3e824;
  max-width: 100% !important;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0; }
  .title-bar .nav__item a {
    font-weight: 400;
    padding: 0rem 1rem; }
  .title-bar button {
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #fefffe; }

a {
  font-family: "Montserrat", sans-serif; }

.social-media {
  background: #f17440; }
  .social-media a {
    padding: 0 !important; }

.search-wrap {
  position: relative; }
  .search-wrap__icon {
    position: absolute;
    right: -5px;
    bottom: 8px; }

.search-tablet button {
  font-size: 0.75em;
  margin-top: 10px !important; }

footer a {
  color: #fefffe;
  font-family: "Quicksand", sans-serif; }
  footer a:hover {
    color: #fefffe; }

.icon {
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  display: inline-block !important;
  background-color: #73bf43;
  border-radius: 24px; }
  .icon--search {
    width: 30px;
    height: 30px;
    display: block;
    background-color: transparent;
    background-position: -68px 10px; }
  .icon--close {
    width: 30px;
    height: 30px;
    display: block;
    background-color: transparent;
    background-position: -398px 8px;
    border: none; }
  .icon--close-thin {
    width: 30px;
    height: 30px;
    display: block;
    background-color: #f17440;
    background-position: -428px 4px;
    border: none;
    border-radius: 0 !important;
    right: 0.6rem !important; }
  .icon__edit {
    position: absolute;
    top: 10px;
    right: 24px;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px;
    background: url(../img/edit.svg);
    background-size: 16px 16px; }

.icon-forum {
  display: block;
  background-color: #73bf43;
  border-radius: 24px;
  padding: 4px;
  width: 38px;
  height: 38px; }

.icon-heart {
  background-image: url("../img/icon-heart.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block; }
  .icon-heart--like {
    background-image: url("../img/icon-heart-like.png");
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block; }

.icon-comment {
  background-image: url("../img/icon-comment.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block; }

.icon-konicare {
  position: relative;
  margin-right: -2px; }

.share-button-fb {
  color: #ffffff;
  cursor: pointer; }

.banner {
  position: relative; }
  .banner__desc {
    top: 20%; }
  .banner p {
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3d7f39;
    padding: 20px 0px; }

.product-thumb {
  display: block;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease; }
  .product-thumb:hover {
    box-shadow: 0px 0px 60px rgba(93, 139, 61, 0.2);
    -webkit-box-shadow: 0px 0px 60px rgba(93, 139, 61, 0.2);
    -moz-box-shadow: 0px 0px 60px rgba(93, 139, 61, 0.2);
    -o-box-shadow: 0px 0px 60px rgba(93, 139, 61, 0.2); }
  .product-thumb__display {
    padding: 20px; }
    .product-thumb__display img {
      display: inline-block; }
  .product-thumb__title {
    display: table;
    text-align: center;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 34px;
    background: -moz-linear-gradient(left, #fffa98 0%, rgba(195, 244, 105, 0.2) 100%);
    background: -webkit-linear-gradient(left, #fffa98 0%, rgba(195, 244, 105, 0.2) 100%);
    background: linear-gradient(to right, #fffa98 0%, rgba(195, 244, 105, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=0 );
    /* IE6-9 */ }
  .product-thumb h4 {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 1.2; }

.select {
  display: block !important;
  width: auto;
  height: auto;
  border-color: transparent;
  border-radius: 24px;
  padding: 0.25em 2.5em;
  background: -moz-linear-gradient(left, #fffa98 0%, #f3fde0 100%);
  background: -webkit-linear-gradient(left, #fffa98 0%, #f3fde0 100%);
  background: linear-gradient(to right, #fffa98 0%, #f3fde0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }
  .select__selected {
    font-family: "Baloo", cursive;
    font-size: 1.3125em;
    color: #732b6a !important;
    border-bottom: none !important; }
    .select__selected:hover, .select__selected:focus {
      color: #732b6a; }
    .select__selected:after {
      border-color: #5d8b3d transparent transparent !important; }
  .select__wrap {
    top: calc(100% + 20px) !important;
    background: -moz-linear-gradient(left, #fffa98 0%, #f3fde0 100%);
    background: -webkit-linear-gradient(left, #fffa98 0%, #f3fde0 100%);
    background: linear-gradient(to right, #fffa98 0%, #f3fde0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    border: none;
    border-radius: 25px; }
  .select__list {
    padding: 0.25em 2.5em; }
    .select__list:last-child .select__text {
      border-bottom: none; }
  .select__text {
    font-family: "Baloo", cursive;
    font-size: 1.125em;
    color: #3d7f39;
    border-bottom: 1px solid #3d7f39 !important; }
    .select__text:hover {
      color: #732b6a; }
  .select:focus {
    border-color: transparent;
    box-shadow: none; }

.link {
  padding: 10px 20px 10px 15px;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 24px;
  background-color: #ff6c40;
  text-transform: uppercase;
  color: #fefffe;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .link:hover {
    color: #fefffe;
    background-color: #ff450d; }
  .link--facebook {
    width: 100%;
    display: block;
    padding: 10px;
    background: #3a61b4;
    text-transform: capitalize; }
    .link--facebook:hover {
      color: #fefffe;
      background-color: #2b55af; }
  .link--ornamen {
    padding-left: 0.625em; }
  .link--reply {
    position: relative; }
  .link--write {
    position: relative;
    padding-left: 50px;
    font-size: 12px; }
    .link--write:before {
      position: absolute;
      left: 30px;
      content: url(../img/forum/icon-write.png);
      width: 18px;
      height: 18px; }

.section {
  padding: 6.25em 0; }
  .section p {
    color: #4b4c56; }
  .section__title {
    color: #732b6a;
    margin-bottom: 1em;
    line-height: 1.2; }
    .section__title--green {
      color: #3d7f39; }
    .section__title--forum {
      font-size: 1.125em; }
  .section--komposisi {
    position: relative;
    padding-top: 3.125em;
    padding-bottom: 180px; }
    .section--komposisi .ornamen-right {
      position: absolute;
      right: 0;
      bottom: 0;
      left: auto;
      z-index: -1; }
  .section--others {
    padding: 3.125em 0;
    background-image: url("../img/bg-other.jpg");
    background-repeat: repeat; }
  .section--tvc {
    background-image: url("../img/bg-tvc.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    text-align: center; }
    .section--tvc .section__title {
      margin-bottom: 0; }
    .section--tvc p {
      margin-bottom: 3rem; }
  .section--arthighlight {
    padding: 3.25em 0 6.25em 0;
    background: -moz-linear-gradient(left, rgba(255, 254, 211, 0.6) 0%, rgba(255, 255, 232, 0.6) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 254, 211, 0.6) 0%, rgba(255, 255, 232, 0.6) 100%);
    background: linear-gradient(to right, rgba(255, 254, 211, 0.6) 0%, rgba(255, 255, 232, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }
  .section--forumhighlight {
    padding: 3.25em 0 6.25em 0;
    background-image: url("../img/bg-forum.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    text-align: center; }
  .section--prodhightlight {
    padding: 3.25em 0 6.25em 0;
    background: #fffeee; }
  .section--bundahighlight {
    padding: 3.25em 0 6.25em 0;
    background: -moz-linear-gradient(45deg, rgba(250, 216, 58, 0.6) 0%, rgba(55, 211, 113, 0.6) 100%), url("../img/bg-other.jpg");
    background: -webkit-linear-gradient(45deg, rgba(250, 216, 58, 0.6) 0%, rgba(55, 211, 113, 0.6) 100%), url("../img/bg-other.jpg");
    background: linear-gradient(to right, rgba(250, 216, 58, 0.6) 0%, rgba(55, 211, 113, 0.6) 100%), url("../img/bg-other.jpg");
    background-blend-mode: multiply; }
  .section--login {
    background-image: url("../img/bg-login.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover; }
  .section--contact-us {
    background-image: url("../img/bg-contact-us.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover; }
  .section--article-category {
    background-image: url("../img/bg-other.jpg");
    background-repeat: no-repeat;
    width: 300;
    height: 300;
    display: block;
    background-size: cover; }
    .section--article-category .row {
      position: relative;
      z-index: 3; }
  .section--not-found {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    padding: auto;
    word-break: keep-all; }
    .section--not-found .ornamen {
      position: absolute;
      right: auto;
      bottom: 0;
      left: 0; }
    .section--not-found .wrap {
      position: relative;
      z-index: 8; }
    .section--not-found h3 {
      color: #595959;
      padding: 15px 0; }
  .section--tnc {
    position: relative;
    padding: 0 0 100px 0;
    color: #595959;
    font-size: 16px;
    text-align: center; }
    .section--tnc h1 {
      display: inline-block;
      padding-bottom: 10px;
      background: linear-gradient(to right, #fffa98 0%, #c3f469 100%) left bottom #fff no-repeat;
      background-size: 100% 2px; }
    .section--tnc ol, .section--tnc ul {
      text-align: left; }
    .section--tnc .row > ol > li, .section--tnc .row > ul > li {
      padding-top: 50px; }
    .section--tnc .row > ul > li {
      list-style: none; }
    .section--tnc .ornamen-left {
      position: absolute;
      right: auto;
      bottom: 0;
      left: 0; }
    .section--tnc .ornamen-right {
      position: absolute;
      right: 0;
      bottom: 0;
      left: auto; }

.section--login__wrap {
  background: #fefffe;
  border-radius: 24px;
  text-align: center;
  max-width: 31.25em; }
  .section--login__wrap--contact {
    max-width: auto !important; }
  .section--login__wrap .ornamen {
    float: right;
    border-bottom-right-radius: 24px; }
.section--login__title {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background: -moz-linear-gradient(left, #ffe082 0%, #fc9266 100%);
  background: -webkit-linear-gradient(left, #ffe082 0%, #fc9266 100%);
  background: linear-gradient(to right, #ffe082 0%, #fc9266 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }
  .section--login__title h3 {
    color: #fff;
    margin-top: 0.5em; }
  .section--login__title--green {
    background: -moz-linear-gradient(left, #c3f469 0%, #73bf43 100%);
    background: -webkit-linear-gradient(left, #c3f469 0%, #73bf43 100%);
    background: linear-gradient(to right, #c3f469 0%, #73bf43 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }

.section--contact-us__wrap {
  position: relative;
  background: #fefffe;
  border-radius: 25px;
  text-align: center;
  padding: 16px 32px !important; }
  .section--contact-us__wrap--ornamen {
    position: absolute;
    bottom: 0;
    left: 0; }
  .section--contact-us__wrap--contact {
    max-width: auto !important; }
.section--contact-us__title {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px; }
  .section--contact-us__title h3 {
    font-size: 36px;
    color: #3d7f39;
    margin-top: 0.5em;
    display: inline-block;
    padding: 0 20px; }
  .section--contact-us__title--green {
    background: -moz-linear-gradient(left, #c3f469 0%, #73bf43 100%);
    background: -webkit-linear-gradient(left, #c3f469 0%, #73bf43 100%);
    background: linear-gradient(to right, #c3f469 0%, #73bf43 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }
.section--contact-us__underline {
  display: block;
  width: 100%;
  height: 2px;
  background: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  background: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }
.section--contact-us span {
  font-weight: 700;
  color: #3d7f39;
  padding-left: 10px; }

.article {
  padding: 0; }
  .article--highlight {
    padding: 0px; }
  .article__kategory {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 0.25em;
    margin-bottom: 8px; }
  .article__title {
    font-size: 2em;
    color: #3d7f39;
    text-transform: capitalize; }
    .article__title--purple {
      color: #732b6a; }
  .article__date {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    color: #999999 !important; }
  .article__link {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff6c40;
    border-left: 1px solid #73bf43;
    border-right: 1px solid #73bf43;
    border-radius: 25px;
    padding: 10px 20px;
    -webkit-transition: border-width 0.1s ease;
    -moz-transition: border-width 0.1s ease;
    -ms-transition: border-width 0.1s ease;
    -o-transition: border-width 0.1s ease;
    transition: border-width 0.1s ease;
    background: transparent; }
    .article__link:hover {
      color: #f17440;
      border-width: 2px; }
  .article__footer {
    background: #926bb1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3.75em;
    padding-right: 3.75em; }
    .article__footer a {
      display: block;
      font-size: 0.875em;
      color: #fefffe; }

.article-thumb {
  background: #fefffe;
  border: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(121, 130, 154, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0px auto 35px auto; }
  .article-thumb:hover {
    border: 5px solid transparent;
    border-image: -moz-linear-gradient(left, #e5f783 0%, #fffa98 100%);
    border-image: -webkit-linear-gradient(left, #e5f783 0%, #fffa98 100%);
    border-image: linear-gradient(to right, #e5f783 0%, #fffa98 100%);
    border-image-slice: 1;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2); }
  .article-thumb img {
    width: 100%; }
  .article-thumb__img {
    display: block;
    overflow: hidden; }
  .article-thumb__title {
    font-family: "Baloo", cursive;
    font-size: 1.125em;
    padding: 10px;
    margin-bottom: 0; }

.desc {
  padding-top: 40px;
  padding-bottom: 40px; }
  .desc__img {
    text-align: center;
    padding: 30px; }
  .desc__img-desc {
    font-weight: 300;
    font-size: 0.75em;
    color: #bdbdbd; }
  .desc .share-wrap {
    left: 0;
    position: fixed; }
  .desc .list {
    text-align: center; }
    .desc .list .share-button-fb {
      color: #868686;
      cursor: pointer; }
      .desc .list .share-button-fb .fa.fa-facebook {
        border: 1px solid;
        padding: 8px 12px;
        border-radius: 50%; }
        .desc .list .share-button-fb .fa.fa-facebook:hover {
          color: #ffffff;
          background: #4267b2;
          -webkit-transition: background 1s;
          -moz-transition: background 1s;
          -ms-transition: background 1s;
          -o-transition: background 1s;
          transition: background 1s; }
    .desc .list .tweet {
      color: #868686; }
      .desc .list .tweet .fa.fa-twitter {
        border: 1px solid;
        padding: 8px 9px;
        border-radius: 50%; }
        .desc .list .tweet .fa.fa-twitter:hover {
          color: #FFFFFF;
          background: #1da1f2;
          -webkit-transition: background 1s;
          -moz-transition: background 1s;
          -ms-transition: background 1s;
          -o-transition: background 1s;
          transition: background 1s; }
    .desc .list p {
      font-weight: 700;
      font-size: 1.125em;
      color: #868686; }
    .desc .list__each {
      display: block;
      padding-bottom: 0.3125em; }
  .desc__subtitle {
    font-family: "Baloo", cursive;
    font-size: 1.3125em;
    color: #3d7f39;
    margin-bottom: 20px; }

.each-comment {
  position: relative;
  background: #fefffe;
  padding: 16px;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(121, 130, 154, 0.15);
  color: #595959;
  font-size: 0.875em;
  font-weight: 300; }
  .each-comment .icon-heart, .each-comment .icon-heart--like {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer; }
  .each-comment__name {
    font-size: 1em;
    font-weight: 700;
    color: #9d5a8e; }
  .each-comment__input {
    position: relative; }
    .each-comment__input input, .each-comment__input input:focus {
      color: #595959;
      font-size: 1em;
      font-weight: 300;
      border: none;
      box-shadow: none;
      padding-left: 30px;
      margin-bottom: 0; }
    .each-comment__input i {
      position: absolute;
      top: 10px; }

.about {
  position: relative; }
  .about__ornamen {
    position: absolute;
    bottom: 0;
    right: 0; }
  .about__title {
    font-size: 32px; }
  .about__shortdesc {
    font-size: 21px;
    color: #3d7f39; }
  .about__desc {
    font-size: 18px;
    color: #595959;
    line-height: 2; }

.search {
  margin-bottom: 4rem; }
  .search__header {
    background: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
    background: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
    background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 1rem;
    padding-bottom: .5rem; }
    .search__header h1 {
      font-family: "Baloo", cursive;
      font-size: 24px;
      color: #3d7f39; }
      .search__header h1 span {
        font-family: "Quicksand", sans-serif;
        font-weight: 700; }
  .search__list {
    padding: 2rem 0;
    background-color: #f1f5fb;
    border-bottom: 1px solid #d3c4ec; }
  .search__img {
    overflow: hidden; }
  .search__title {
    font-family: "Baloo", cursive;
    font-size: 1.3125em;
    color: #3d7f39; }
  .search__date {
    font-size: 0.625em;
    font-weight: 500;
    color: #999999; }
  .search__link {
    font-size: 1em;
    color: #3d7f39;
    text-decoration: underline;
    display: block; }
  .search__highlight {
    font-size: 1em;
    color: #595959;
    word-wrap: break-word; }
  .search__author {
    font-size: 11px;
    color: #732b6a; }
  .search__category {
    position: relative;
    font-size: 0.625em;
    font-weight: 500;
    color: #999999;
    padding-left: 20px; }
    .search__category:before {
      position: absolute;
      top: 0;
      left: 0px;
      content: url(../img/icon-tag.png);
      width: 16px;
      height: 13px; }

.forum {
  margin-bottom: 50px; }
  .forum .row {
    max-width: 100% !important; }
  .forum p {
    font-size: 0.875em;
    color: #595959; }
  .forum .headline-wrap {
    position: relative;
    height: 100%;
    border-left: 1px solid #d3c4ec; }
    .forum .headline-wrap__link {
      position: absolute;
      right: calc((100% - 12px) / 2);
      top: calc((100% - 17px) / 2); }
  .forum__list {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #d3c4ec;
    margin-left: 0 !important; }
    .forum__list .columns {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -webkit-flex-flow: row wrap;
      padding: 1rem 0.625rem;
      word-break: keep-all; }
      .forum__list .columns > img {
        margin: 0 auto; }
      .forum__list .columns p {
        margin-bottom: 0; }
    .forum__list--custom {
      margin-left: 0 !important; }
    .forum__list:nth-child(odd) {
      background: #fbfcff; }
    .forum__list:nth-child(even) {
      background: #f1f5fb; }
  .forum__header {
    background: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
    background: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
    background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    margin-left: 0 !important;
    color: #595959;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    box-shadow: 0px 0px 0px 1px #d3c4ec inset;
    box-sizing: border-box; }
    .forum__header:hover {
      color: #595959; }
    .forum__header--wrap {
      padding: 16px; }
      .forum__header--wrap p {
        margin-bottom: 0; }
    .forum__header--purple {
      background: -moz-linear-gradient(left, #ede3ff 0%, #d1baf9 100%);
      background: -webkit-linear-gradient(left, #ede3ff 0%, #d1baf9 100%);
      background: linear-gradient(to right, #ede3ff 0%, #d1baf9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
      padding: 16px; }
  .forum__title {
    font-family: "Baloo", cursive;
    font-size: 1.75em;
    color: #3d7f39;
    margin-bottom: 0; }
  .forum__subtitle {
    font-family: "Baloo", cursive;
    font-size: 1.125em;
    color: #3d7f39; }
  .forum__headline {
    position: relative;
    font-size: 0.875em;
    font-weight: 700;
    color: #732b6a;
    padding-left: 20px;
    width: 100%; }
    .forum__headline:before {
      position: absolute;
      display: block;
      content: url("../img/forum/icon-file.png");
      width: 14px;
      height: 16px;
      left: 0;
      top: 0; }
  .forum__author {
    width: 100%;
    font-size: 0.875em;
    color: #732b6a;
    display: block;
    word-wrap: break-word; }
  .forum__started {
    color: #595959; }
  .forum__counter {
    font-size: 0.875em;
    color: #5d8b3d; }
    .forum__counter--top {
      font-family: "Quicksand", sans-serif;
      font-weight: 400; }
  .forum__date {
    width: 100%;
    font-size: 0.75em;
    color: #595959;
    display: block; }
  .forum__new-thread .columns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    padding: 25px;
    word-break: keep-all; }
    .forum__new-thread .columns label {
      font-family: "Baloo", cursive;
      font-size: 18px;
      color: #fefffe;
      width: 100%;
      padding: 0.5rem;
      background: #51894e;
      border-top-left-radius: 24px;
      border: 1px solid #d3c4ec; }
    .forum__new-thread .columns input {
      color: #595959;
      font-size: 14px;
      margin-bottom: 0;
      border-top-right-radius: 24px;
      border: 1px solid #ff6c40 !important;
      background: #fbfcff; }
    .forum__new-thread .columns textarea {
      color: #595959;
      font-size: 14px;
      margin-bottom: 0;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      border: 1px solid #ff6c40 !important;
      background: #fbfcff; }
  .forum__new-thread .link-wrap {
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
  .forum__new-thread ul li {
    display: inline-block; }
  .forum__new-thread .link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #e4e1ef;
    color: #595959; }
    .forum__new-thread .link:hover {
      background-color: #ff6c40;
      color: #fefffe; }

.profile {
  background: #f1f5fb;
  border-right: 1px solid #d3c4ec; }
  .profile span {
    display: block;
    text-align: left; }
  .profile__started, .profile__post, .profile__member {
    font-size: 0.875em;
    color: #595959; }
  .profile__author {
    font-family: "Baloo", cursive;
    font-size: 1em;
    word-wrap: break-word;
    word-break: break-all;
    color: #3d7f39; }
  .profile__img {
    display: block;
    border-radius: 50%;
    margin-top: 10px; }
  .profile__post {
    margin-bottom: 8px; }
  .profile__member {
    margin-bottom: 8px; }

.section--arthighlight {
  position: relative; }
  .section--arthighlight .wrap {
    position: relative;
    display: block;
    z-index: 9; }

.section--forumhighlight {
  position: relative; }
  .section--forumhighlight .ornamen-left {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 0; }
  .section--forumhighlight .ornamen-right {
    position: absolute;
    right: 0;
    bottom: auto;
    left: auto;
    top: 0; }
  .section--forumhighlight__wrap {
    padding-bottom: 3.75em; }

.section--prodhightlight {
  position: relative;
  padding-bottom: 3.125em; }
  .section--prodhightlight .row {
    padding-bottom: 50px; }
  .section--prodhightlight .product-display {
    position: relative;
    margin-bottom: 1em; }
    .section--prodhightlight .product-display__ornamen {
      position: absolute;
      position: absolute;
      right: auto;
      bottom: -4%;
      left: -50%; }
  .section--prodhightlight .ornamen-right {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto; }

.section--bundahighlight {
  position: relative;
  bottom: 0; }
  .section--bundahighlight .ornamen-right {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto; }
  .section--bundahighlight .ornamen-top {
    position: absolute;
    right: 0;
    bottom: auto;
    left: auto;
    top: 0; }

.section--article-category {
  position: relative; }
  .section--article-category .ornamen-top-left {
    position: absolute;
    right: auto;
    bottom: auto;
    left: -60px;
    top: 42px; }
  .section--article-category .ornamen-top-right {
    position: absolute;
    right: -45px;
    bottom: auto;
    left: auto;
    top: 0; }
  .section--article-category .ornamen-bottom {
    position: absolute;
    right: auto;
    bottom: 100px;
    left: -95px; }

.section--forum {
  position: relative;
  padding: 3.125em 0; }
  .section--forum .ornamen-top {
    position: absolute;
    right: 0;
    bottom: auto;
    left: auto;
    top: -6%; }
  .section--forum .ornamen-bottom {
    position: absolute;
    right: auto;
    bottom: 0;
    left: 0; }

.table {
  position: relative;
  z-index: 9;
  text-align: left;
  margin-bottom: 2rem;
  padding-left: calc(0.9375rem / 3);
  padding-right: calc(0.9375rem / 3); }
  .table > .columns {
    background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .table__title {
    padding: 0.625em;
    display: table;
    width: 100%;
    background: -moz-linear-gradient(35deg, #b3dd4d 0%, #c4dd4d 100%);
    background: -webkit-linear-gradient(35deg, #b3dd4d 0%, #c4dd4d 100%);
    background: linear-gradient(to right, #b3dd4d 0%, #c4dd4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 0px 20px 0px #a9a9b9;
    -webkit-box-shadow: 0px 0px 20px 0px #a9a9b9;
    -moz-box-shadow: 0px 0px 20px 0px #a9a9b9;
    -o-box-shadow: 0px 0px 20px 0px #a9a9b9; }
    .table__title__text {
      position: relative;
      font-family: "Baloo", cursive;
      font-size: 1.25em;
      line-height: 1;
      color: #3d7f39;
      display: table;
      vertical-align: middle; }
      .table__title__text--desc {
        display: table-cell;
        vertical-align: middle;
        padding-left: 0.5em; }
    .table__title__icon {
      width: 38px;
      float: left;
      box-shadow: 3px 3px 8px -2px #a9a9b9;
      -webkit-box-shadow: 3px 3px 8px -2px #a9a9b9;
      -moz-box-shadow: 3px 3px 8px -2px #a9a9b9;
      -o-box-shadow: 3px 3px 8px -2px #a9a9b9; }
  .table__list {
    display: table;
    width: 100%;
    padding: 0 0.625em;
    font-size: 1.125em; }
    .table__list:last-child .table__link {
      border-bottom: none; }
  .table__link {
    font-family: "Quicksand", sans-serif;
    color: #212121;
    display: block;
    padding: 1.5em 0;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -ms-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    transition: color 0.1s ease;
    border-bottom: 2px dashed #736357; }
    .table__link:hover {
      color: #f17440; }

.ornamen-line {
  width: 100%;
  height: 1px;
  background: -moz-linear-gradient(left, #C3F469 0%, #fffa98 100%);
  background: -webkit-linear-gradient(left, #C3F469 0%, #fffa98 100%);
  background: linear-gradient(to right, #C3F469 0%, #fffa98 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
  margin-bottom: 40px; }

.ornamen-wrap {
  position: relative;
  padding: 30px 0; }
  .ornamen-wrap span {
    font-family: "Baloo", cursive;
    font-size: 1.125em;
    color: #3d7f39;
    background: #fefffe;
    position: relative;
    z-index: 2;
    padding: 0 10px; }
  .ornamen-wrap .ornamen-line {
    position: absolute;
    margin-bottom: 0;
    bottom: 50%; }

.spinner {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  display: block;
  margin: 5px auto; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.input {
  font-family: "Quicksand", sans-serif; }
  .input--wrap {
    position: relative;
    border-left: 1px solid #d9dadc; }
  .input__ornamen {
    position: relative;
    color: #f17440 !important;
    font-weight: 700;
    border-color: #e6f784 !important;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: inline-block;
    margin-bottom: 1.5rem; }
    .input__ornamen .icon__edit {
      position: absolute;
      top: 6px;
      right: -20px; }
  .input__transparent-select {
    background-color: transparent !important; }
  .input__transparent {
    font-size: 14px !important;
    color: #595959 !important;
    box-shadow: none;
    background-color: transparent !important;
    border-color: transparent !important;
    display: inline-block;
    padding: 10px 18px !important;
    border-radius: 24px !important;
    height: auto !important;
    margin-bottom: 3px !important;
    text-align: left; }
    .input__transparent:focus {
      background-color: #e4e1ef !important;
      border: 1px solid #afaac1 !important;
      box-shadow: none !important; }
    .input__transparent--name {
      width: auto;
      text-align: left;
      border-radius: 0 !important;
      padding: 0px !important;
      font-weight: 700;
      color: #3d7f39 !important; }
      .input__transparent--name:focus {
        border-radius: 0 !important;
        background-color: transparent;
        border: none !important; }
  .input--label {
    font-size: 10px;
    color: #73bf43;
    text-decoration: underline; }
  .input--label-big {
    font-size: 12px;
    color: #73bf43;
    text-decoration: underline; }
  .input--label-wrap {
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #d9dadc; }
  .input--desc {
    font-size: 14px;
    color: #595959;
    padding: 4px 18px 9px 18px !important;
    text-align: left; }
  .input--poin {
    font-family: "Baloo", cursive;
    font-size: 36px;
    color: #ff6c40;
    background: -moz-linear-gradient(left, #ebec86 0%, #c5ec6b 100%);
    background: -webkit-linear-gradient(left, #ebec86 0%, #c5ec6b 100%);
    background: linear-gradient(to right, #ebec86 0%, #c5ec6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    border-radius: 24px;
    line-height: 1.1;
    margin: 0 0 1rem; }

:focus {
  outline: none; }

.bx-wrapper {
  box-shadow: 0 0 5px transparent;
  border-color: transparent;
  background: transparent;
  margin: 0 auto; }

.bx-wrapper .bx-controls-direction a {
  width: 15px;
  height: 31px;
  z-index: 1; }

.bx-wrapper .bx-prev {
  left: -15px;
  background-position: 0 0px; }

.bx-wrapper .bx-next {
  right: -15px;
  background-position: -18px 0px; }
  .bx-wrapper .bx-next:focus {
    background-position: -18px 0px; }
  .bx-wrapper .bx-next:hover {
    background-position: -18px 0px; }

.bxslider > li > .columns {
  margin: 40px auto; }

.nopadd {
  padding: 0; }

.padd {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.novpadd {
  padding: 0 !important; }

.button {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent; }
  .button:hover, .button:focus {
    background: transparent; }

.title-bar-left {
  padding: 10px 10px 10px 60px; }

.breadcrumbs {
  margin: 1em 0; }
  .breadcrumbs a, .breadcrumbs li {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: capitalize; }
  .breadcrumbs a {
    color: #8f8f8f; }
  .breadcrumbs li {
    color: #5d8b3d; }

.orbit-bullets {
  position: relative;
  bottom: 48px;
  margin: 0 auto;
  text-align: center; }

.orbit-bullets button {
  width: 10px;
  height: 10px;
  background-color: #fefffe; }

.orbit-bullets button.is-active, .orbit-bullets button:hover {
  width: 14px;
  height: 14px;
  background-color: #fefffe; }

.orbit-slide > .banner__bg {
  width: 100%; }

.tabs {
  margin: auto;
  background: #fefffe;
  border-color: transparent; }

.tabs-content {
  position: relative;
  background: #fefffe;
  border-color: transparent; }
  .tabs-content .article--highlight {
    padding: 3.75em; }
  .tabs-content .ornamen-left {
    position: absolute;
    right: auto;
    bottom: 0;
    left: -14.8%; }
  .tabs-content .ornamen-right {
    position: absolute;
    right: -10.66667%;
    bottom: 0;
    left: auto; }

.tabs-title > a {
  padding: 0;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease; }
  .tabs-title > a:hover {
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    z-index: 9999; }

.tabs-title.is-active {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  z-index: 9999;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #e5f783 0%, #fffa98 100%);
  border-image-slice: 1; }

.input-group {
  width: 80%;
  margin-bottom: 0 !important;
  margin-top: 0.75em;
  padding-left: 1em; }

.menu.nav .input-group-field, .menu.nav input[type="submit"] {
  height: 33px; }

.input-group [type="text"], .input-group [type="submit"] {
  font-size: 0.75em;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  color: #fefffe;
  border-bottom: 1px solid #fff;
  padding: 0; }
  .input-group [type="text"]::-webkit-input-placeholder, .input-group [type="submit"]::-webkit-input-placeholder {
    color: #fefffe; }
  .input-group [type="text"]::-moz-placeholder, .input-group [type="submit"]::-moz-placeholder {
    color: #fefffe; }
  .input-group [type="text"]:-ms-input-placeholder, .input-group [type="submit"]:-ms-input-placeholder {
    color: #fefffe; }
  .input-group [type="text"]:-moz-placeholder, .input-group [type="submit"]:-moz-placeholder {
    color: #fefffe; }
  .input-group [type="text"]::-webkit-input-placeholder, .input-group [type="submit"]::-webkit-input-placeholder {
    vertical-align: bottom; }

.form-wrap {
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 0.875em; }
  .form-wrap--short {
    padding-top: 5%;
    padding-bottom: 5%; }
  .form-wrap p {
    font-size: 12px;
    text-align: left; }
  .form-wrap__link {
    font-size: 12px;
    color: #73bf43;
    text-decoration: underline; }
  .form-wrap input, .form-wrap textarea, .form-wrap select {
    background-color: #e4e1ef;
    border-color: #afaac1;
    border-radius: 24px;
    font-size: 0.875em;
    padding: 0 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: calc(100% + 5px) 50%; }
  .form-wrap input[type='radio'] {
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    appearance: radio !important; }
  .form-wrap input::placeholder, .form-wrap textarea::placeholder {
    color: #000; }
  .form-wrap textarea {
    padding-top: 15px; }
  .form-wrap .link__submit {
    font-family: "Montserrat", sans-serif;
    padding: 15px 25px;
    background-color: #e4e1ef;
    color: #595959;
    font-weight: 700;
    line-height: 1.6;
    text-transform: capitalize;
    -webkit-transition: background-color .5s;
    /* Safari */
    transition: background-color .5s;
    margin-top: 25px; }
    .form-wrap .link__submit--opt:hover {
      background-color: #ff6c40 !important;
      color: #ffffff; }
    .form-wrap .link__submit:hover {
      background-color: #994126;
      color: #fefffe; }
  .form-wrap ul {
    margin-left: 0;
    margin-bottom: 0; }
    .form-wrap ul li {
      display: inline-block; }
  .form-wrap .field-signupform-gender {
    width: 100%;
    float: left; }
    .form-wrap .field-signupform-gender label, .form-wrap .field-signupform-gender .radio, .form-wrap .field-signupform-gender .help-block-error {
      display: inline-block;
      float: left; }
    .form-wrap .field-signupform-gender label {
      padding-right: 10px; }
  .form-wrap .field-signupform-birthdate {
    width: 100%;
    float: left; }
    .form-wrap .field-signupform-birthdate label {
      padding-top: 10px; }
    .form-wrap .field-signupform-birthdate label, .form-wrap .field-signupform-birthdate input {
      width: 50%;
      float: left; }
  .form-wrap .form-group.has-error {
    position: relative;
    clear: both; }
    .form-wrap .form-group.has-error:after {
      content: url("../img/form-close.png");
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 10px;
      right: 18px; }
  .form-wrap .has-error input {
    background: -moz-linear-gradient(left, #d43f56 0%, #ee6177 100%);
    background: -webkit-linear-gradient(left, #d43f56 0%, #ee6177 100%);
    background: linear-gradient(to right, #d43f56 0%, #ee6177 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
    color: #ffffff; }
  .form-wrap .help-block-error {
    font-size: 12px;
    color: #e62f4b !important;
    text-align: left;
    padding: 5px;
    margin-bottom: 8px; }
  .form-wrap .form-group.has-success {
    position: relative; }
    .form-wrap .form-group.has-success:after {
      content: url("../img/form-success.png");
      width: 16px;
      height: 17px;
      display: block;
      position: absolute;
      top: 10px;
      right: 18px; }
  .form-wrap [type=password] {
    margin-bottom: 0; }
  .form-wrap .checkbox .help-block-error {
    display: none; }
  .form-wrap .field-signupform-gender.has-error:after {
    display: none; }

.pagination {
  background: -moz-linear-gradient(left, #e5f783 0%, #fffa98 100%);
  background: -webkit-linear-gradient(left, #e5f783 0%, #fffa98 100%);
  background: linear-gradient(to right, #e5f783 0%, #fffa98 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 24px;
  padding: 5px; }
  .pagination li {
    display: inline-block;
    font-size: 10px;
    margin-right: 0; }

.pagination .arrow, .pagination .arrow.disabled {
  padding: 0 0.1875rem; }

.pagination .arrow a {
  padding: 0; }

.pagination-previous.disabled:before, .pagination-previous a:before, .pagination-next.disabled:after, .pagination-next a:after {
  display: none; }

.pagination .current {
  background: transparent;
  color: #468b40; }

.pagination a, .pagination button {
  color: #839e81; }

.pagination .ellipsis:after {
  color: #839e81; }

.pagination-pages {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #839e81;
  margin-bottom: .5rem; }

.accordion-content {
  padding: 0;
  border: none; }

.menu-tabs {
  margin-top: 60px;
  margin-bottom: 80px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-image: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  border-image: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  border-image: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
  border-image-slice: 1; }
  .menu-tabs__general {
    background: #f6f3ff; }
  .menu-tabs__active {
    background: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
    background: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
    background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=0 );
    /* IE6-9 */ }
  .menu-tabs li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .menu-tabs li:nth-child(1) {
      border-width: 0 2px 0 0;
      border-color: #ffffff;
      border-style: solid; }
    .menu-tabs li:nth-child(2) {
      border-width: 0 0 0 2px;
      border-color: #ffffff;
      border-style: solid; }
    .menu-tabs li a {
      font-family: "Baloo", cursive;
      font-weight: 400;
      font-size: 21px;
      color: #3d7f39; }

.latest-info .line {
  display: block;
  margin-top: 100px;
  margin-bottom: 60px;
  height: 2px;
  background: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  background: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=0 );
  /* IE6-9 */ }
.latest-info .label-info {
  font-family: "Baloo", cursive;
  font-size: 21px;
  color: #9d5a8e; }
.latest-info .article--highlight a {
  color: #3d7f39;
  text-decoration: underline; }

@media screen and (min-width: 1700px) {
  .title-bar .nav__item a {
    padding: 0.7rem 3rem;
    font-weight: 400; } }
@media screen and (max-width: 1400px) {
  .banner {
    position: relative; }
    .banner p {
      font-size: 0.875em; }

  .product-thumb h4 {
    font-size: 0.875em; }

  .title-bar-left {
    padding: 10px 40px 10px 40px; }

  .table__link {
    font-size: 14px; }

  .about__title {
    font-size: 32px;
    padding: 0.5rem 0.625rem 0.625rem; }
  .about__shortdesc {
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: left; }
  .about__desc {
    font-size: 16px; } }
@media screen and (max-width: 1024px) {
  .title-bar-left {
    padding: 10px; }

  .banner__desc {
    top: 10%; }
  .banner p {
    font-size: 0.875em;
    padding: 5px 0px; }

  .title-bar .nav__item a {
    padding: 0rem 1.5625em;
    font-size: 0.75em; }
  .title-bar .nav__item .has-menu span:after {
    top: calc((100% - 14px) / 2);
    right: -10px; }

  .input-group {
    margin-top: 0.2em; }

  .section--forum .ornamen-top {
    top: -5%; } }
@media screen and (max-width: 900px) {
  .title-bar .nav__item a {
    padding: 0rem 1em;
    font-size: 0.625em; }
  .title-bar .nav__item .has-menu span:after {
    top: calc((100% - 12px) / 2);
    right: -8px; } }
@media screen and (max-width: 640px) {
  .title-bar-title {
    padding: 5px; }

  .menu-icon {
    vertical-align: top; }

  .icon--search {
    background-position: -74px 8px; }

  .icon-download {
    width: 120px; }

  .is-drilldown li.current {
    background: -moz-linear-gradient(-180deg, #81bc58 0%, #5d8b3d 100%);
    background: -webkit-linear-gradient(-180deg, #81bc58 0%, #5d8b3d 100%);
    background: linear-gradient(to right, #81bc58 0%, #5d8b3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }
    .is-drilldown li.current > a {
      color: #ffffff !important;
      font-size: 18px;
      font-weight: 700;
      border-bottom: none !important; }

  .menu > li > a, .submenu > a {
    color: #5d8b3d;
    padding: 1rem 0;
    margin: auto 1rem;
    border-bottom: 1px solid #fefffe; }

  .is-transition-push.is-open {
    z-index: 999;
    background: transparent; }
    .is-transition-push.is-open::after {
      display: none; }

  .is-drilldown {
    height: 100% !important; }
    .is-drilldown li {
      background: -moz-linear-gradient(45deg, #fffa98 0%, #c3f469 100%);
      background: -webkit-linear-gradient(45deg, #fffa98 0%, #c3f469 100%);
      background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }

  .menu-close {
    background: transparent !important; }
    .menu-close a {
      border-bottom: none !important; }

  .is-drilldown-submenu {
    background: -moz-linear-gradient(45deg, #fffa98 0%, #c3f469 100%);
    background: -webkit-linear-gradient(45deg, #fffa98 0%, #c3f469 100%);
    background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 ); }

  .js-drilldown-back a {
    color: #f17f3b !important; }

  .js-drilldown-back > a::before {
    border-color: transparent #f17f3b transparent transparent; }

  .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #5d8b3d; }

  .is-drilldown li.m-socmed {
    text-align: center;
    background: #f17f3b;
    color: #ffffff; }
    .is-drilldown li.m-socmed i {
      color: #ffffff; }
    .is-drilldown li.m-socmed--first {
      padding-top: 5px; }
    .is-drilldown li.m-socmed--last a {
      border-bottom: none !important; }
    .is-drilldown li.m-socmed a {
      padding: 5px 0 !important; }

  .title-bar-right {
    background: #f17440; }

  .link {
    padding: 12px 15px;
    font-size: 0.75em;
    margin-bottom: 1em; }

  .banner p {
    font-size: 0.75em;
    padding: 0; }
  .banner__bg--article {
    max-width: 155%;
    margin-left: -25%; }
  .banner__desc h1 {
    text-transform: uppercase; }
  .banner__desc--responsive {
    top: 30%; }

  .section {
    padding: 3.125em 0 5em 0; }
    .section__title {
      padding-left: 1rem;
      padding-right: 1rem; }
    .section--komposisi {
      padding: 3.125em 0 0 0; }
    .section--forum {
      padding: 1.5625em 0 0 0; }
    .section--prodhightlight {
      padding-left: 1em !important;
      padding-right: 1em !important; }
      .section--prodhightlight .section__title {
        padding-left: 0;
        padding-right: 0; }
    .section--bundahighlight {
      padding-left: 1em !important;
      padding-right: 1em !important; }

  .tabs-content .article--highlight {
    padding: 1rem; }

  .article {
    padding: 0; }
    .article--highlight {
      padding: 20px; }
    .article__title {
      font-size: 1.5em;
      line-height: 1.2; }
    .article__link {
      font-size: 10px;
      letter-spacing: 1px; }
    .article__footer {
      padding-left: 10px;
      padding-right: 10px; }
      .article__footer a {
        font-size: 0.75em; }
    .article .list {
      padding-top: 0 !important;
      text-align: left; }

  .article-thumb__title {
    padding: 5px 0px; }

  .accordion-title {
    padding: 0.5em 1em; }

  .accordion-content {
    padding: 0; }

  .forum {
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
    .forum .row {
      margin-left: 0 !important;
      margin-right: auto; }
    .forum .headline-wrap {
      border-left: 1px solid #d3c4ec; }
    .forum__header--purple {
      padding: 0; }

  .profile__member {
    display: block; }

  .section--arthighlight .wrap .ornamen-left {
    display: none; }
  .section--arthighlight .wrap .ornamen-right {
    display: none; }

  .section--bundahighlight .ornamen-right {
    right: -18%; }

  .section--forumhighlight {
    overflow: hidden; }
    .section--forumhighlight .ornamen-left {
      position: absolute;
      right: auto;
      bottom: 0;
      left: -70%; }
    .section--forumhighlight .ornamen-right {
      position: absolute;
      right: -70%;
      bottom: auto;
      left: auto; }
    .section--forumhighlight__wrap {
      position: relative;
      z-index: 3;
      padding-bottom: 0; }

  .table__title__text {
    font-size: 14px; }
  .table__link {
    font-size: 12px; }

  .product-thumb {
    padding: 20px 0; }
    .product-thumb:hover {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none; }
    .product-thumb__title {
      padding: 10px; }

  .select {
    width: 100%; }

  .bx-viewport {
    width: calc(100% - 50px) !important;
    margin: 0 auto; }

  .bx-wrapper .bx-prev {
    left: 0; }

  .bx-wrapper .bx-next {
    right: 0; }

  .search {
    margin-left: 1em;
    margin-right: 1em; }

  .orbit-bullets {
    bottom: 40px; }

  .input--wrap {
    border-left: none; }

  .section--contact-us__wrap {
    position: relative;
    background: #fefffe;
    border-radius: 25px;
    text-align: center;
    padding: 16px 20px !important; } }
@media screen and (max-width: 320px) {
  .banner p {
    font-size: 0.625em !important; }
  .banner__desc--responsive {
    top: 20%; }

  .section--contact-us__wrap {
    position: relative;
    background: #fefffe;
    border-radius: 25px;
    text-align: center;
    padding: 16px 5px !important; } }
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) {
  .row {
    max-width: 600px; } }
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .row {
    max-width: 700px; } }
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  .row {
    max-width: 1000px; } }
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .row {
    max-width: 1040px; } }
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) {
  .row {
    max-width: 1400px; } }
/* min-width 1441px, xlarge screens */
.nav {
  display: table; }
  .nav__item {
    margin: 0; }
    .nav__item--login {
      border-bottom: 1px solid;
      line-height: 2 !important;
      margin-top: 0.75em; }
      .nav__item--login i {
        margin: 0 !important;
        padding-right: 16px; }
    .nav__item--main {
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
      .nav__item--main a {
        padding-top: 1em !important; }
      .nav__item--main:hover {
        background-color: #3d7f39; }
    .nav__item a {
      font-size: 0.875em;
      color: #fefffe;
      display: block;
      padding: 0.44444em; }
    .nav__item--current {
      background: #3d7f39; }
    .nav__item .has-menu {
      padding-right: 28px !important;
      height: 100%;
      display: inline-table;
      background: transparent; }
      .nav__item .has-menu span {
        position: relative;
        display: table-cell;
        vertical-align: middle; }
        .nav__item .has-menu span:after {
          content: url("../img/icon-dropdown.png");
          width: 8px;
          height: 5px;
          display: block;
          position: absolute;
          top: calc((100% - 20px) / 2);
          right: -14px; }
      .nav__item .has-menu:hover {
        background: transparent; }
      .nav__item .has-menu:focus {
        background: transparent; }
    .nav__item .has-menu.hover {
      position: relative; }
      .nav__item .has-menu.hover:before {
        content: url("../img/icon-active-dropdown.png");
        width: 39px;
        height: 19px;
        position: absolute;
        display: block;
        bottom: -20px;
        left: calc((100% - 39px) / 2);
        z-index: 11; }

.mega-menu .mega {
  width: 100%;
  left: 0% !important;
  right: 0% !important;
  padding: 0px 0px 0px;
  border: none;
  padding: 25px;
  position: fixed; }

.dropdown-pane {
  background: -moz-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  background: -webkit-linear-gradient(left, #fffa98 0%, #c3f469 100%);
  background: linear-gradient(to right, #fffa98 0%, #c3f469 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
  border: none;
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }

.js-dropdown-active {
  max-width: 100% !important;
  width: 100% !important;
  left: 0 !important;
  display: block; }

.nav__item--profile .dropdown-pane.is-open {
  width: 20% !important;
  left: calc(80% - 20px) !important;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  text-align: right; }

.nav__item--profile a {
  position: relative;
  display: block;
  padding-top: 6px !important; }

.nav__item--profile a > span {
  display: block !important;
  position: absolute !important;
  top: calc((100% - 18px) / 2);
  border-bottom: 1px solid;
  padding-bottom: 6px; }

.nav__item--profile i {
  margin-left: 0 !important;
  padding-right: 8px; }

.nav__item--profile .columns {
  padding: 5px 10px;
  border-bottom: 1px solid #FFFFFF; }

.nav__item .nav__item--profile .has-menu span:after {
  font-family: FontAwesome;
  content: "\f0dd";
  right: 0px;
  top: calc((100% - 30px) / 2); }

.nav__item .nav__item--profile .has-menu.hover:before {
  bottom: -20px; }

.dropdown-pane.is-open {
  width: 80% !important;
  left: 10% !important; }
  .dropdown-pane.is-open a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #3d7f39;
    padding: 8px 25px; }
    .dropdown-pane.is-open a:hover {
      background: -moz-linear-gradient(left, rgba(243, 232, 36, 0) 0%, rgba(243, 232, 36, 0.9) 15%, rgba(243, 232, 36, 0.9) 85%, rgba(243, 232, 36, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(243, 232, 36, 0) 0%, rgba(243, 232, 36, 0.9) 15%, rgba(243, 232, 36, 0.9) 85%, rgba(243, 232, 36, 0) 100%);
      background: linear-gradient(to right, rgba(243, 232, 36, 0) 0%, rgba(243, 232, 36, 0.9) 15%, rgba(243, 232, 36, 0.9) 85%, rgba(243, 232, 36, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3e824', endColorstr='#00f3e824',GradientType=1 ); }

.dropdown-search {
  border-radius: 0;
  padding: 0.5em 1em; }
  .dropdown-search .input-group {
    width: 100%;
    margin-bottom: 0; }

.dropdown-search.dropdown-pane.is-open {
  background: -moz-linear-gradient(left, #f17440 0%, #f17440 100%);
  background: -webkit-linear-gradient(left, #f17440 0%, #f17440 100%);
  background: linear-gradient(to right, #f17440 0%, #f17440 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorStop1, endColorstr=$colorStopEnd,GradientType=1 );
  width: 100% !important;
  left: 0 !important; }

@media screen and (max-width: 1024px) {
  .nav a {
    font-size: 0.75em;
    color: #fefffe;
    display: block; }
  .nav__item--login {
    line-height: 2.2 !important; } }
@media screen and (max-width: 900px) {
  .nav__item--login {
    line-height: 2.8 !important; }

  .menu-icon[aria-expanded="true"] {
    font-size: 18px;
    line-height: 18px; }

  .menu-icon[aria-expanded="true"]:after {
    font-family: foundation-icons;
    content: "" !important;
    background: transparent !important;
    box-shadow: none !important; }

  .button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus {
    background-color: transparent; } }

/*# sourceMappingURL=application.css.map */
