
	<div class="medium-12 columns">
			
		{% if app.session.hasFlash( 'success' ) %} 
			<br>
			<div data-alert class="alert-box callout success radius"  data-closable>
			  	<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			    	<span aria-hidden="true">&times;</span>
			  	</button>
				<h4><i class="fa fa-check"></i> Success!</h4>
				{{ app.session.getFlash('success') }}
			</div>

		{% endif %}

		{% if app.session.hasFlash( 'danger' ) %} 
			<br>
			<div data-alert class="alert-box callout alert radius"  data-closable>
			  	<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			    	<span aria-hidden="true">&times;</span>
			  	</button>
				<h4><i class="fa fa-times"></i> Alert!</h4>
				{{ app.session.getFlash('danger') | nl2br }}
			</div>

		{% endif %}

		{% if app.session.hasFlash( 'warning' ) %} 
			<br>
			<div data-alert class="alert-box callout warning radius"  data-closable>
			  	<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			    	<span aria-hidden="true">&times;</span>
			  	</button>
				<h4><i class="fa fa-warning"></i> Warning!</h4>
				{{ app.session.getFlash('warning') | nl2br }}
			</div>

		{% endif %}

	</div>
