<div class="row">
    <nav class="medium-12 columns" aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">

            <li><a href="{{ baseUrl }}">Beranda</a></li>
        	{% for name, url in datas %}
            	<li><a href="{{ url }}">{{ name }}</a></li>
        	{% endfor %}
            <li>
                <span class="show-for-sr">Current: </span> {{ currentTitle }}
            </li>
        </ul>
    </nav>
</div>