<footer class="row expanded" data-equalizer="footer">
    <div class="small-6 medium-6 columns wrap" data-equalizer-watch="footer">
        <div class="wrap__middle hide-for-small-only">Copyright 2009 - 2017 Konimex. All right reserved<br/>
            <!-- <a href="{{ Url.base }}/privacy-policy">Privacy Policy</a> | <a href="{{ Url.base }}/term-and-conditions">Terms and Conditions</a> -->
        </div>
        <div class="wrap__middle show-for-small-only">Copyright 2009 - 2017 Konimex.<br/>All right reserved</div>
    </div>
    <div class="small-6 medium-6 columns text-right nopadd" data-equalizer-watch="footer">
        <div class="hide-for-small-only">
            <a href="{{ Url.base }}/contact-us">Kontak Kami</a>
            <img class="icon-konicare" src="{{ Url.base }}/img/logo-konicare.png"/>
            <a href="http://www.konimexstore.com" target="_blank">
                <img src="{{ Url.base }}/img/logo-konimex-estore.jpg"/>
            </a>
        </div>
        <div class="show-for-small-only">
            <div class="small-6 columns nopadd icon-konicare">
                <img class="icon-konicare" src="{{ Url.base }}/img/logo-konicare.png"/>
            </div>
            <div class="small-6 columns nopadd">
                <a href="http://www.konimexstore.com" target="_blank">
                    <img src="{{ Url.base }}/img/logo-konimex-estore.jpg"/>
                </a>
            </div>
        </div>
    </div>
</footer>



















