<div class="title-bar hide-for-small-only" data-equalizer="menu">
    <div class="medium-2 xlarge-3 xxlarge-2 columns title-bar-left" data-equalizer-watch="menu">
        <a href="{{ baseUrl }}">
            <span class="title-bar-title"><img src="{{ baseUrl }}/img/logo-bunda-konicare.png"/></span>
        </a>
    </div>
    <div class="medium-7 xlarge-6 xxlarge-7 columns">
        <ul class="menu nav float-right" data-equalizer-watch="menu">
            <li class="nav__item nav__item--main  {{ this.currentMenu == 'about-us' ? 'nav__item--current' : '' }}">
                <a href="{{ baseUrl }}/site/about">Tentang Kami</a>
            </li>
            <li class="nav__item nav__item--main {{ this.currentMenu == 'produk' ? 'nav__item--current' : '' }}">
                <a href="{{ baseUrl }}/product">Produk</a>
            </li>
            <li class="dropdown mega-menu nav__item nav__item--main {{ this.currentMenu == 'article' ? 'nav__item--current' : '' }}">
                <a class="has-menu" href="{{ baseUrl }}/article"  data-toggle="menu-article"><span>Artikel</span></a>
                <div class="dropdown-pane mega bottom" id="menu-article" data-dropdown data-options="closeOnClick:true; hover:true;hoverPane:true;vOffset:4">
                    <div class="row">
                        <div class="medium-up-3">
                            {% for articleCategory in this.articleCategories() %}
                                <div class="columns"><a href="{{ baseUrl }}/article/{{ articleCategory.slug }}">{{ articleCategory.name }}</a></div>
                            {% endfor %}
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav__item nav__item--main {{ this.currentMenu == 'forum' ? 'nav__item--current' : '' }}">
                <a href="{{ baseUrl }}/forum">Obrolan Bunda</a>
            </li>
            <li class="nav__item nav__item--main {{ this.currentMenu == 'news-activity' ? 'nav__item--current' : ''}}">
                <a href="{{ baseUrl }}/activity">Berita & Aktivitas</a>
            </li>
        </ul>
    </div>
    <div class="medium-3 xlarge-3 columns social-media">
        <ul class="menu nav" data-equalizer-watch="menu">
            <li class="nav__item  nav__item--main"><a href="{{ this.facebookUrl }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="nav__item  nav__item--main"><a href="{{ this.twitterUrl }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="nav__item  nav__item--main"><a href="{{ this.instagramUrl }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="nav__item">
                <div class="show-for-large">
                    {% set form = active_form_begin({ 'action': baseUrl ~ '/search', 'method': 'GET'}) %}
                    <div class="input-group search-wrap">
                        <input class="input-group-field" type="text" name="keywords" placeholder="Cari di sini">
                        <div class="input-group-button">
                            <input type="submit" value="">
                        </div>
                        <i class="fa fa-search search-wrap__icon" aria-hidden="true"></i>
                    </div>
                    {{ active_form_end() }}
                </div>
                <div class="small-12 search-tablet columns nopadd text-center hide-for-large" data-equalizer-watch="menu-small">
                    <button class="button" type="button" data-toggle="search-dropdown"  data-equalizer-watch="menu-small"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <div class="dropdown-pane dropdown-search" id="search-dropdown" data-dropdown data-options="autoFocus:true;vOffset:4">
                        {% set form = active_form_begin({ 'action': baseUrl ~ '/search', 'method': 'GET'}) %}
                        <div class="input-group">
                            <input class="input-group-field" type="text" name="keywords" placeholder="Cari disini">
                            <div class="input-group-button">
                                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                    <span aria-hidden="true"><div class="icon icon--close-thin"></div></span>
                                </button>
                            </div>
                        </div>
                        {{ active_form_end() }}
                    </div>
                </div>
            </li>
            <li class="nav__item">
                {% if this.user is empty %}
                    <a class="nav__item--login" href="{{ baseUrl }}/participant/login">Login</a>
                {% else %}
                    <ul class="menu nav float-right">
                        <li class="dropdown mega-menu nav__item--profile" data-options="clickOpen:true; disableHover:true">
                            <a class="has-menu" data-toggle="menu-user" style="height: 71px">
                                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                                <div style="clear: both"></div>
                            </a>
                            <div class="dropdown-pane mega bottom right" id="menu-user" data-dropdown data-options="closeOnClick:true; hover:false;hoverPane:false;vOffset:4">
                                <div class="row">
                                    <div class="medium-up-1">
                                            <div class="columns"><a href="{{ baseUrl }}/participant/detail">User Profile</a></div>
                                            <div class="columns"><a href="{{ baseUrl }}/participant/logout">Logout</a></div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</div>