<!DOCTYPE html>
<html lang="id-ID">

<head>

    <!-- <meta charset="{{ app.charset }}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel=icon href="./img/favicon.png" sizes="32x32" type="image/png">
    <!-- {{ Html.csrfMetaTags | raw }}
    {{ this.meta() | raw }}

    {{ void(this.head) }} -->
    <link rel="stylesheet" type="text/css" href="./css/foundation.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./css/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="./css/application.css">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.timer.js"></script>
</head>

<body>
<div class="title-bar hide-for-medium" data-equalizer="menu-small">
    <div class="small-9 columns text-center" data-equalizer-watch="menu-small">
        <a href="/">
            <span class="title-bar-title"><img src="./img/logo-bunda-konicare.png"/></span>
        </a>
    </div>
    <div class="small-3 columns title-bar-right" data-equalizer-watch="menu-small">
        <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
            <button class="button" type="button" data-toggle="example-dropdown"  data-equalizer-watch="menu-small"><i class="fa fa-search"></i></button>
            <div class="dropdown-pane dropdown-search" id="example-dropdown" data-dropdown data-options="autoFocus:true;vOffset:4">
                <div class="input-group">
                    <input class="input-group-field" type="text" name="keywords" placeholder="Cari disini">
                    <div class="input-group-button">
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span><div class="icon icon--close-thin"></div></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-6 columns nopadd text-center" data-equalizer-watch="menu-small">
            <button class="menu-icon" type="button" data-toggle="my-info"></button>
        </div>
    </div>
</div>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
        <div class="off-canvas position-right show-for-small-only" id="my-info" data-off-canvas="" data-position="right" aria-hidden="true" data-offcanvas="lxvmpo-offcanvas">
            <div class="row column nopadd" style="height: 100%!important;">
                <ul class="vertical menu" data-drilldown data-options="backButtonPosition:bottom">
                    <li><a href="./site/about">Tentang Kami</a></li>
                    <li><a href="./product">Produk</a></li>
                    <li>
                        <a href="./article">Artikel</a>
                        <ul class="vertical menu">
                            <li class="submenu current"><a href="./article">Artikel</a></li>
                        </ul>
                    </li>
                    <li><a href="./forum">Obrolan Bunda</a></li>
                    <li><a href="./activity">Berita & Aktivitas</a></li>
                    <li class="">
                        <a href="#">Profile</a>
                        <ul class="vertical menu">
                            <li class="submenu"><a href="./participant/detail">User Profile</a></li>
                            <li class="submenu"><a href="./participant/logout">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="./contact-us">Kontak Kami</a></li>
                    <li>Ikuti akun Media Sosial kami<a href="/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="m-socmed"><a href="/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="m-socmed m-socmed--last"><a href="/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content="">

<!-- -------------------------------HEADER------------------------------- -->
            <div class="title-bar hide-for-small-only" data-equalizer="menu">
			    <div class="medium-2 xlarge-3 xxlarge-2 columns title-bar-left" data-equalizer-watch="menu">
			        <a href="/">
			            <span class="title-bar-title"><img src="./img/logo-bunda-konicare.png"/></span>
			        </a>
			    </div>
			    <div class="medium-7 xlarge-6 xxlarge-7 columns">
			        <ul class="menu nav float-right" data-equalizer-watch="menu">
			            <li class="nav__item nav__item--main ">
			                <a href="./site/about">Tentang Kami</a>
			            </li>
			            <li class="nav__item nav__item--main">
			                <a href="./product">Produk</a>
			            </li>
			            <li class="dropdown mega-menu nav__item nav__item--main">
			                <a class="has-menu" href="./article"  data-toggle="menu-article"><span>Artikel</span></a>
			                <div class="dropdown-pane mega bottom" id="menu-article" data-dropdown data-options="closeOnClick:true; hover:true;hoverPane:true;vOffset:4">
			                    <div class="row">
			                        <div class="medium-up-3">
			                            <div style="clear: both"></div>
			                        </div>
			                    </div>
			                </div>
			            </li>
			            <li class="nav__item nav__item--main">
			                <a href="./forum">Obrolan Bunda</a>
			            </li>
			            <li class="nav__item nav__item--main">
			                <a href="./activity">Berita & Aktivitas</a>
			            </li>
			        </ul>
			    </div>
			    <div class="medium-3 xlarge-3 columns social-media">
			        <ul class="menu nav" data-equalizer-watch="menu">
			            <li class="nav__item">
			                <div class="show-for-large">
			                    <div class="input-group search-wrap">
			                        <input class="input-group-field" type="text" name="keywords" placeholder="Cari di sini">
			                        <div class="input-group-button">
			                            <input type="submit" value="">
			                        </div>
			                    </div>
			                </div>
			                <div class="small-12 search-tablet columns nopadd text-center hide-for-large" data-equalizer-watch="menu-small">
			                    <button class="button" type="button" data-toggle="search-dropdown"  data-equalizer-watch="menu-small"></button>
			                    <div class="dropdown-pane dropdown-search" id="search-dropdown" data-dropdown data-options="autoFocus:true;vOffset:4">
			                        <div class="input-group">
			                            <input class="input-group-field" type="text" name="keywords" placeholder="Cari disini">
			                            <div class="input-group-button">
			                                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			                                    <span aria-hidden="true"><div class="icon icon--close-thin"></div></span>
			                                </button>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </li>
			            <li class="nav__item">
			                    <ul class="menu nav float-right">
			                        <li class="dropdown mega-menu nav__item--profile" data-options="clickOpen:true; disableHover:true">
			                            <a class="has-menu" data-toggle="menu-user" style="height: 71px">
			                                <div style="clear: both"></div>
			                            </a>
			                            <div class="dropdown-pane mega bottom right" id="menu-user" data-dropdown data-options="closeOnClick:true; hover:false;hoverPane:false;vOffset:4">
			                                <div class="row">
			                                    <div class="medium-up-1">
			                                            <div class="columns"><a href="./participant/detail">User Profile</a></div>
			                                            <div class="columns"><a href="./participant/logout">Logout</a></div>
			                                        <div style="clear: both"></div>
			                                    </div>
			                                </div>
			                            </div>
			                        </li>
			                    </ul>
			            </li>
			        </ul>
			    </div>
			</div>
<!-- -------------------------------HEADER------------------------------- -->



<!-- -------------------------------CONTENT------------------------------- --> 
 <div class="row" style="padding-top: 100px;">
    <nav class="medium-12 columns" aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">

            <li><a href="/">Beranda</a></li>
            <li>
                <span class="show-for-sr">Current: </span> Pengundian
            </li>
        </ul>
    </nav>
</div>    
<div class="about" style="padding-bottom: 150px;">
    <div class="row" style="padding-bottom: 50px;">
        <div class="medium-4 columns">
            <h2>Pemenang 1</h2>
            <span class="coupon_code" id="coupon_1_1">X</span>
            <span class="coupon_code" id="coupon_1_2">X</span>
            <span class="coupon_code" id="coupon_1_3">X</span>
            <span class="coupon_code" id="coupon_1_4">X</span>
            <span class="coupon_code" id="coupon_1_5">X</span>
            <span class="coupon_code" id="coupon_1_6">X</span>
            <span class="coupon_code" id="coupon_1_7">X</span>
            <br />
            <span class="coupon_code" id="username_1" style="visibility: hidden;">imroatul_mufidah</span>
            <br />
            <a href="#" data-seq="1" id="button_acak_1" class="link link__submit button_acak">Acak</a>

        </div>
        <div class="medium-4 columns">
            <h2>Pemenang 2</h2>
            <span class="coupon_code" id="coupon_2_1">X</span>
            <span class="coupon_code" id="coupon_2_2">X</span>
            <span class="coupon_code" id="coupon_2_3">X</span>
            <span class="coupon_code" id="coupon_2_4">X</span>
            <span class="coupon_code" id="coupon_2_5">X</span>
            <span class="coupon_code" id="coupon_2_6">X</span>
            <span class="coupon_code" id="coupon_2_7">X</span>
            <br />
            <span class="coupon_code" id="username_2" style="visibility: hidden;">PuputSumono</span>
            <br />
            <a href="#" data-seq="2" id="button_acak_2" class="link link__submit button_acak">Acak</a>

        </div>
        <div class="medium-4 columns">
            <h2>Pemenang 3</h2>
            <span class="coupon_code" id="coupon_3_1">X</span>
            <span class="coupon_code" id="coupon_3_2">X</span>
            <span class="coupon_code" id="coupon_3_3">X</span>
            <span class="coupon_code" id="coupon_3_4">X</span>
            <span class="coupon_code" id="coupon_3_5">X</span>
            <span class="coupon_code" id="coupon_3_6">X</span>
            <span class="coupon_code" id="coupon_3_7">X</span>
            <br />
            <span class="coupon_code" id="username_3" style="visibility: hidden;">RestuNusra</span>
            <br />
            <a href="#" data-seq="3" id="button_acak_3" class="link link__submit button_acak">Acak</a>

        </div>
    </div>
    <div class="row" style="padding-bottom: 50px;">
        <div class="medium-4 medium-offset-2 nopadd columns">
            <h2>Pemenang 4</h2>
            <span class="coupon_code" id="coupon_4_1">X</span>
            <span class="coupon_code" id="coupon_4_2">X</span>
            <span class="coupon_code" id="coupon_4_3">X</span>
            <span class="coupon_code" id="coupon_4_4">X</span>
            <span class="coupon_code" id="coupon_4_5">X</span>
            <span class="coupon_code" id="coupon_4_6">X</span>
            <span class="coupon_code" id="coupon_4_7">X</span>
            <br />
            <span class="coupon_code" id="username_4" style="visibility: hidden;">kikisafitri</span>
            <br />
            <a href="#" data-seq="4" id="button_acak_4" class="link link__submit button_acak">Acak</a>

        </div>
        <div class="medium-4 nopadd columns" style="float: left">
            <h2>Pemenang 5</h2>
            <span class="coupon_code" id="coupon_5_1">X</span>
            <span class="coupon_code" id="coupon_5_2">X</span>
            <span class="coupon_code" id="coupon_5_3">X</span>
            <span class="coupon_code" id="coupon_5_4">X</span>
            <span class="coupon_code" id="coupon_5_5">X</span>
            <span class="coupon_code" id="coupon_5_6">X</span>
            <span class="coupon_code" id="coupon_5_7">X</span>
            <br />
            <span class="coupon_code" id="username_5" style="visibility: hidden;">Nurhandayani2206</span>
            <br />
            <a href="#" data-seq="5" id="button_acak_5" class="link link__submit button_acak">Acak</a>

        </div>
    </div>
    <img class="about__ornamen" src="./img/ornamen-about-us.png"/>
</div>
<!-- -------------------------------CONTENT------------------------------- --> 



<!-- -------------------------------FOOTER------------------------------- -->           
            <footer class="row expanded" data-equalizer="footer">
			    <div class="small-6 medium-6 columns wrap" data-equalizer-watch="footer">
			        <div class="wrap__middle hide-for-small-only">Copyright 2009 - 2017 Konimex. All right reserved<br/>
			            <!-- <a href="{{ Url.base }}/privacy-policy">Privacy Policy</a> | <a href="{{ Url.base }}/term-and-conditions">Terms and Conditions</a> -->
			        </div>
			        <div class="wrap__middle show-for-small-only">Copyright 2009 - 2017 Konimex.<br/>All right reserved</div>
			    </div>
			    <div class="small-6 medium-6 columns text-right nopadd" data-equalizer-watch="footer">
			        <div class="hide-for-small-only">
			            <a href="./contact-us">Kontak Kami</a>
			            <img class="icon-konicare" src="./img/logo-konicare.png"/>
			            <a href="http://www.konimexstore.com" target="_blank">
			                <img src="./img/logo-konimex-estore.jpg"/>
			            </a>
			        </div>
			        <div class="show-for-small-only">
			            <div class="small-6 columns nopadd icon-konicare">
			                <img class="icon-konicare" src="./img/logo-konicare.png"/>
			            </div>
			            <div class="small-6 columns nopadd">
			                <a href="http://www.konimexstore.com" target="_blank">
			                    <img src="./img/logo-konimex-estore.jpg"/>
			                </a>
			            </div>
			        </div>
			    </div>
			</footer>
<!-- -------------------------------FOOTER------------------------------- --> 

            <div class="js-off-canvas-exit"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./js/custom.js"></script>
</body>
</html>