
{{ this.render('/partials/breadcrumb.twig', { 
    'currentTitle': 'Tentang Kami'
}) | raw }}

<div class="about">
    <div class="row">
        <div class="medium-12 columns text-center">
            <img src="{{ baseUrl }}/{{ page.image_dir }}/{{ page.image }}"/>
        </div>
        <div class="medium-12 columns">
            <h1 class="about__title">{{ page.title }}</h1>

            {{ page.content|raw }}

        </div>
    </div>
    <img class="about__ornamen" src="{{ baseUrl }}/img/ornamen-about-us.png"/>
</div>