<div class="section section--contact-us">
    <div class="small-11 small-centered medium-6 xxlarge-5 columns nopadd medium-centered section--contact-us__wrap">
        <div class="medium-12 columns nopadd section--contact-us__title">
            <h3>Kontak Kami<span class="section--contact-us__underline"></span></h3>
        </div>
        <div class="medium-12 columns nopadd form-wrap">
            <div class="medium-7 columns text-left">
                <h4>Head Office</h4>
                <p>Desa Sanggrahan, Grogol<br/>
                    Sukoharjo, Central Java - Indonesia</p>
                <p><img src="{{ baseUrl }}/img/icon-telephone.png"><span> Phone :</span> (0271) - 716246, 71996, 714645</p>
                <p><img src="{{ baseUrl }}/img/icon-fax.png"><span> Telefax :</span> (0271) - 716247</p>
                <p><img src="{{ baseUrl }}/img/icon-email.png"><span> Email :</span> costumer_service@konimex.com</p>
            </div>
            <div class="medium-5 columns">
                {% set form = active_form_begin() %}

                    <div class="row">
                        <div class="small-12 columns nopadd">
                            {{ form.field( model, 'name').textInput( {'placeholder' : 'Nama'} ).label(false) | raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns nopadd">
                            {{ form.field( model, 'email').textInput( {'placeholder' : 'Alamat E-Mail'} ).label(false) | raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns nopadd">
                            {{ form.field( model, 'body').textarea( {'placeholder': 'Tulis pesan/pertanyaan/komentar yang ingin disampaikan disini.', 'rows': 10} ).label(false) | raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns nopadd">
                            <button class="link" type="submit">Kirim</button>
                        </div>
                    </div>
                {{ active_form_end() }}
            </div>
        </div>
        <img class="medium-7 columns nopadd section--contact-us__wrap--ornamen" src="{{ baseUrl }}/img/ornamen-contact-us.png"/>
        <div style="clear: both"></div>
    </div>
</div>
{% set js %}
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var header = $('.hide-for-small-only').height();
    var footer = $('footer').height();
    wrap = h - header - footer;
    $('.section--contact-us').css('min-height',wrap);
    $('#message-name').focus();
{% endset %}
{{ this.registerJs(js) }}