<!-- /.error-content -->
<h2 class="headline text-yellow"> {{ exception.statusCode }}</h2>

<div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> Oops! Warning.</h3>

    <p> {{ exception.message }} </p>

</div>
<!-- /.error-content -->
