  <!-- Lightning Bolt Begins -->
  <script type="text/javascript" id="lightning_bolt" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
  <!-- Lightning Bolt Ends -->			

<!-- BANNER SECTION -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId={{ this.facebookId }}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
<div class="row expanded">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            {% for banner in banners %}
                <li class="is-active orbit-slide banner">

                    {% set mobile_image = baseUrl ~ '/' ~ banner.mobile_image_dir ~ '/' ~ banner.mobile_image %}
                    {% set desktop_image = baseUrl ~ '/' ~ banner.image_dir ~ '/' ~ banner.image %}

                    {% if banner.title is empty or banner.description is empty or banner.link_caption is empty %}

                        <a href="{{ banner.link }}">
                            <img class="banner__bg" data-interchange="[{{ mobile_image }}, small], [{{ desktop_image }}, medium]">
                        </a>

                    {% else %}

                        <img class="banner__bg" data-interchange="[{{ mobile_image }}, small], [{{ desktop_image }}, medium]">
                        <div class="small-7 small-offset-5 large-6 large-offset-6 columns banner__desc">
                            <div class="large-12 xlarge-10 columns">
                                <h1>{{ banner.title }}</h1>
                                <p>{{ banner.description }}</p>
                                <a href="{{ banner.link }}" class="link">{{ banner.link_caption }}</a>
                            </div>
                        </div>
                    {% endif %}
                    
                </li>
            {% endfor %}
            <nav class="orbit-bullets">

                {% for i in range(0, banners|length - 1) %}

                    <button class="{{ i == 0 ? 'is-active' : null }}" data-slide="{{ i }}"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>

                {% endfor %}

            </nav>
        </ul>
    </div>
</div>
<!-- END BANNER SEXTION -->


<div class="row expanded section section--arthighlight">
    <div class="row text-center">
        <h2 class="section__title section__title--green animated fadeInUpShort" data-id="1">Jelajah Info Terbaik Dalam<br/> Dunia Ibu & Anak </h2>
        <div class="row wrap">
            <div class="small-12 large-12 columns">
                <ul class="tabs animated fadeInUpShort" data-id="2" id="example-tabs" data-tabs>
                    <div class="small-4 columns nopadd">
                        <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true" class="half-thumb"><img src="{{ baseUrl ~ '/' ~ articles[0].image_dir ~ 'normal_' ~ articles[0].image }}"/></a></li>
                        <li class="tabs-title"><a href="#panel2v" class="half-thumb"><img src="{{ baseUrl ~ '/' ~ articles[1].image_dir ~ 'normal_' ~ articles[1].image }}"/></a></li>
                    </div>
                    <div class="small-4 columns nopadd big-thumb-wrap">
                         <li class="tabs-title">
                             <a href="#panel3v" class="inner-big-thumb" style="overflow: hidden;background-image: url({{ baseUrl ~ '/' ~ articles[2].image_dir ~ 'normal_' ~ articles[2].image }});
background-position: center center;
background-size: cover;">
                                 <div class="big-thumb">
                                     <img class="big-thumb-img" src="{{ baseUrl ~ '/' ~ articles[2].image_dir ~ 'normal_' ~ articles[2].image }}" style="opacity: 0" />
                                 </div>
                             </a>
                         </li>
                    </div>
                    <div class="small-4 columns nopadd">
                        <li class="tabs-title"><a href="#panel4v" class="half-thumb"><img src="{{ baseUrl ~ '/' ~ articles[3].image_dir ~ 'normal_' ~ articles[3].image }}"/></a></li>
                        <li class="tabs-title"><a href="#panel5v" class="half-thumb"><img src="{{ baseUrl ~ '/' ~ articles[4].image_dir ~ 'normal_' ~ articles[4].image }}"/></a></li>
                    </div>
                </ul>
            </div>
            <div class="small-12 large-12 columns">
                <div class="tabs-content" data-tabs-content="example-tabs">

                    {% set i = 0 %}
                    {% for article in articles %}

                    {% set i = i + 1 %}
                    {% set url = url('article/detail', {'category': article.category.slug, 'slug': article.slug }) %}

                    <div class="tabs-panel is-active article animated fadeInUpShort" data-id="3" id="panel{{ i }}v">
                        <div class="article--highlight">
                            <p class="article__kategory">{{ article.category.name }}</p>
                            <h3 class="article__title article__title--purple">{{ article.title }}</h3>
                            <p class="article__date">{{ article.created_at|date('d F Y') }}</p>
                            <p>{{ article.content|trim|striptags[:355]|raw }} ...</p>
                            <a href="{{ url }}" class="article__link">Baca selengkapnya</a>
                        </div>
                        <div class="article__footer">
                            <div class="small-8 medium-6 columns">
                                <ul class="list float-left">
                                    <li class="list__each"><a href="{{ url }}"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> {{ article.comments_count }} Comment</a></li>
                                    <li class="list__each"><a href="{{ article.getLikeUrl() }}"><i class="fa fa-heart-o" aria-hidden="true"></i>{{ article.like_status == false ? 'Like' : 'Unlike' }} {{ article.likes_count }}</a></li>
                                </ul>
                            </div>
                            <div class="small-4 medium-6 columns">
                                <ul class="list float-right">
                                    <li class="list__each"><div class="share-button-fb btn btn-success clearfix" data-href="{{ url }}"><i class="fa fa-facebook" aria-hidden="true"></i></div></li>
                                    <li class="list__each"><a href="{{ url }}" title="{{ article.title }}" class="tweet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </div>

                    {% endfor %}
                    <img src="{{ Url.base }}/img/ornamen-jelajah-left.png" class="medium-2 ornamen-left"/>
                    <img src="{{ Url.base }}/img/ornamen-jelajah-right.png" class="medium-2 ornamen-right"/>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FORUM SECTION -->
<div class="row expanded section section--forumhighlight" data-equalizer="title">
    <div class="row text-center" data-equalizer="m-forum-list" data-equalize-on="small">
        <h2 class="section__title section__title--green animated fadeInUpShort" data-id="1">Obrolan Bunda</h2>
        <div class="small-up-2 medium-up-2 xlarge-up-4 section--forumhighlight__wrap animated fadeInUpShort" data-id="2" data-equalizer="forum-list" data-equalize-on="large">
            {% for forumGroup in forumGroups %}
                <div class="columns table">
                    <div class="columns nopadd" data-equalizer-watch="m-forum-list">
                        <div class="table__title">
                            <span class="table__title__text" data-equalizer-watch="title"><span class="icon-forum table__title__icon"><img src="{{ Url.base }}/media/forum-group-icon/{{ forumGroup.id }}/{{ forumGroup.icon }}"/></span><span class="table__title__text--desc">{{ forumGroup.name }}</span></span>
                        </div>
                        {% for topic in groupTopics[forumGroup.id] %}
                            <div class="table__list" data-equalizer-watch="forum-list"><a class="columns table__link" href="{{ baseUrl }}/forum/{{ topic.slug }}" data-equalizer-watch="forum-list">{{ topic.name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div style="clear: both"></div>
        </div>
        <a href="{{ Url.base }}/forum" class="link">Lihat Obrolan Lainnya...</a>
    </div>
    <img src="{{ Url.base }}/img/ornamen-obrolan-left.png" class="medium-4 ornamen-left animated fadeInUpShort" data-id="3"/>
    <img src="{{ Url.base }}/img/ornamen-obrolan-right.png" class="medium-4 ornamen-right animated fadeInUpShort" data-id="4"/>
</div>
<!-- END FORUM SECTION -->


<!-- PRODUCT HIGHLIGHT -->
<div class="row expanded section section--prodhightlight">
    <div class="row" style="position: relative;z-index: 2">
        <div class="small-8 small-offset-2 medium-3 medium-offset-0 columns animated fadeInLeftShort" data-id="1">
            <div class="product-display">
            <img src="{{ baseUrl }}/media/product-highlight-image/{{ productHighlight.id }}/{{ productHighlight.highlight_image }}"/>
            <img src="{{ Url.base }}/img/ornamen-bukti-left.png" class="small-12 medium-12 product-display__ornamen"/>
            </div>
        </div>
        <div class="medium-9 columns animated fadeInUpShort" data-id="2">
            <h2 class="section__title">{{ productHighlight.highlight_title }}</h2>
            {{ productHighlight.highlight_description | raw }}
            <a href="{{ url('site/product-detail', { 'slug': productHighlight.slug}) }}" class="article__link relative">Lihat Produk Detail</a>
        </div>
    </div>
    <img src="{{ Url.base }}/img/ornamen-bukti-right.png" class="small-10 medium-8 ornamen-right animated fadeInUpShort" data-id="3"/>
</div>
<!-- END PRODUCT HIGHLIGHT -->


<div class="row expanded section section--bundahighlight">
    <div class="row">
        <div class="medium-8 columns text-center">
            <h2 class="section__title section__title--green">{{ highlightApps.title }}</h2>
            <div>{{ highlightApps.content | raw }}</div>
        </div>
    </div>
    <img src="{{ Url.base }}/img/ornamen-bunda-konicare.png" class="small-6 medium-4 ornamen-top"/>
    <img src="{{ Url.base }}/img/bunda-konicare-apps.png" class="small-6 medium-4 ornamen-right"/>
</div>
{% set js %}
    {#bug thumb image#}
    var bigThumbW = $('.big-thumb-wrap').width();
    var customBigThumbH = bigThumbW * ( 522.98 / 335.98);
    $('.inner-big-thumb').css('width',bigThumbW);
    $('.big-thumb-img').css('height',customBigThumbH);

    var fullThumb = $('.big-thumb img').height();
    var halfThumb = ((fullThumb / 2) - 5);
    $('.half-thumb').css('height',halfThumb);

    {#article#}
    var artSWrap = $('.list__each').height();
    var artFb = $('.socmed--facebook').height();
    var artFbPadd = ((artSWrap - artFb) / 2);
    $('.list__each .socmed--facebook').css('margin-top', artFbPadd);
    {#facebook#}
    $('.share-button-fb').on('click',function(e){
        e.preventDefault();
        FB.ui({
        method: 'feed',
        link: $(this).data('href')
        });
    });
    {#twitter#}
    $(document).on('click', 'a.tweet', function(e){
        e.preventDefault();
        var loc = $(this).attr('href');
        var title  = encodeURIComponent($(this).attr('title'));
        window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
    });
{% endset %}
{{ this.registerJs(js) }}
