<div class="row expanded banner">
    <img class="banner__bg--article" src="{{ Url.base() }}/img/news-events/news-events-banner.jpg"/>
    <div class="small-6 small-offset-6 medium-6 medium-offset-6 columns banner__desc banner__desc--responsive">
        <div class="small-12 medium-10 columns">
            <h1>Berita & Aktivitas</h1>
            <p class="hide-for-small-only">Perkaya wawasan dengan isu terkini dan aktivitas menarik untuk selalu diikuti para Bunda Konicare.</p>
        </div>
    </div>
</div>

{{ this.render('/partials/breadcrumb.twig', {
'datas': {
},
'currentTitle': 'Berita dan Aktivitas'
}) | raw }}

<div class="row">
    <div class="row">
        <ul class="menu menu-tabs">
            <li class="small-6 columns text-center menu-tabs__active"><a href="#">Berita</a></li>
            <li class="small-6 columns text-center menu-tabs__general"><a href="#">Aktivitas</a></li>
            <div style="clear: both"></div>
        </ul>
    </div>
    <div class="row latest-info">
        <div class="row">
            <div class="medium-12 columns">
                <div class="columns">
                    <h3 class="label-info">Info Terbaru</h3>
                </div>
            </div>
            <div class="medium-4 columns">
                <div class="columns">
                    <div class="article-thumb">
                        <a href="#">
                            <div class="article-thumb__img">
                                <img src="{{ Url.base() }}/img/news-events/berita.jpg"/>
                            </div>
                            <div style="clear: both"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="medium-8 columns">
                <div class="article--highlight">
                    <h1 class="article__title">5 Kisah tentang Ibudan anak, dari Kisah Haru hingga Cerita Lucu</h1>
                    <p class="article__date">18 September 2015</p>
                    <p>Bermain dan berinteraksi dengan teman sebaya merupakan salah satu cara untuk anak belajar bersosialisasi sejak dini. Berinteraksi dengan anak lain yang seusia, baik itu di sekolah maupun <a href="">Baca Lebih Lanjut</a></p>
                </div>
            </div>
        </div>
        <div class="medium-3 columns medium-centered line"></div>
    </div>
    <div class="medium-up-3" data-equalizer="thumb">
        <div class="columns">
            <div class="article-thumb" data-equalizer-watch="thumb">
                <a href="#">
                    <div class="article-thumb__img">
                        <img src="{{ Url.base() }}/img/news-events/berita.jpg">
                    </div>
                    <h2 class="article-thumb__title">Makanan Sehat Ibu Hami Untuk Janin  Usia Trismester Pertama</h2>
                    <div style="clear: both"></div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="article-thumb" data-equalizer-watch="thumb">
                <a href="#">
                    <div class="article-thumb__img">
                        <img src="{{ Url.base() }}/img/news-events/berita.jpg">
                    </div>
                    <h2 class="article-thumb__title">Tips Tidur Nyenyak Saat Hamil</h2>
                    <div style="clear: both"></div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="article-thumb" data-equalizer-watch="thumb">
                <a href="#">
                    <div class="article-thumb__img">
                        <img src="{{ Url.base() }}/img/news-events/berita.jpg">
                    </div>
                    <h2 class="article-thumb__title">Olahraga Untuk Ibu Hamil</h2>
                    <div style="clear: both"></div>
                </a>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

{#{% if pages.totalCount > 0 %}#}
    {#<div class="row text-center">#}
        {#<p class="pagination-pages">#}
            {#{{ pages.getPage() + 1 }} of {{ pages.getPageCount() }} Pages#}
        {#</p>#}
        {#{{ LinkPager.widget( {#}
        {#'pagination': pages,#}
        {#'maxButtonCount': 6,#}
        {#'hideOnSinglePage': false,#}
        {#'separator' : '...',#}
        {#'activePageCssClass' : 'current',#}
        {#'disabledPageCssClass' : 'disabled',#}
        {#'nextPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-next.png"/>',#}
        {#'prevPageLabel': '<img src="' ~ baseUrl ~ '/img/icon-page-prev.png"/>',#}
        {#} ) | raw }}#}

    {#</div>#}
{#{% endif %}#}

{% set js %}
    var thumb = $('.article-thumb .article-thumb__img').width();
    var hThumb = (thumb * 9 /16);
    $('.article-thumb .article-thumb__img').css('height',hThumb);
{% endset %}
{{ this.registerJs(js) }}
