{{ register_asset_bundle('frontend/assets/RegisterAsset') }}

<div class="section section--not-found">
    <div class="small-10 small-centered medium-4 medium-centered columns wrap text-center">
        <img src="{{ baseUrl }}/img/not-found.jpg">
        <h3>OOPS! Halaman yang Bunda cari tidak dapat ditemukan</h3>
        <a href="{{ baseUrl }}" class="link">Kembali ke halaman awal</a>
    </div>
    <div class="medium-8 columns ornamen nopadd">
        <img src="{{ baseUrl }}/img/ornamen-bukti-left.jpg">
    </div>
</div>
{% set js %}
    {#content min-height#}
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var header = $('.hide-for-small-only').height();
    var footer = $('footer').height();
    wrap = h - header - footer;
    $('.section--not-found').css('min-height',wrap);
console.log(wrap);
console.log(content);
console.log(contentPadd);
{% endset %}
{{ this.registerJs(js) }}