{{ register_asset_bundle('frontend/assets/ProductAsset') }} 

{{ this.render('/partials/breadcrumb.twig', { 
    'datas': { 
        'Produk': baseUrl ~ '/product' 
    },
    'currentTitle': product.name
}) | raw }}

<div class="row expanded section section--komposisi">
    <div class="row">
        <div class="medium-4 columns text-center">
            <img src="{{ baseUrl }}/media/product-main-image/{{ product.id }}/{{ product.main_image }}"/>
            <a href="{{ product.store_url }}" class="site-konimex" target="_blank"></a>
        </div>
        <div class="small-12 medium-6 medium-offset-1 columns">
            {#dropdown#}
            <ul class="dropdown menu" data-dropdown-menu data-options="clickOpen:true;disableHover:true;autoclose:false;closeOnClick:true" data-close-on-click-inside="false">
                <li class="is-dropdown-submenu-parent select">
                    <a class="select__selected" href="#">{{ product.name }}</a>
                    <ul class="menu select__wrap">
                        {% for productList in productLists %}
                        <li class=""><a class="select__text" href="{{ url( 'site/product-detail', { 'slug': productList.slug } ) }}">{{ productList.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {#end dropdown#}
            <div class="desc">
                {{ product.content | raw }}
            </div>
        </div>
    </div>
    <img class="ornamen-right" src="{{ baseUrl }}/img/ornamen-product-right.jpg"/>
</div>

{% if product.tvc|length > 0 %}
<div class="row expanded section section--tvc">
    <h2 class="section__title">TV Commercial</h2>
    <p>Konicare {{ product.name }}</p>
    <div class="row">
        <div class="medium-8 medium-centered columns">
            <div  class="responsive-embed widescreen">
                <iframe width="560" height="315" src="{{ product.tvc }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="rowexpanded section section--others">
    <div class="row text-center">
        <h2 class="section__title">Produk Lainnya</h2>

        <ul class="bxslider"  data-equalizer="product-thumb">
        {% for product in anotherProducts %}
            <li>
                <div class="columns">
                    <a class="product-thumb" href="{{ url('site/product-detail', { 'slug': product.slug}) }}">
                        <div class="product-thumb__display">
                            <img src="{{ baseUrl }}/media/product/{{ product.id }}/{{ product.image }}">
                        </div>
                        <div class="product-thumb__title" data-equalizer-watch="product-thumb">
                            <h4>{{ product.name }}</h4>
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>


{% set js %}
$('select').on('change', function (e) {

    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;

    window.location = valueSelected;

});


$('.bxslider').bxSlider({
    slideWidth: 250,
    minSlides: 2,
    maxSlides: 4,
    moveSlides: 1,
    slideMargin: 10,
    pager: false,
    infiniteLoop: false,
    hideControlOnEnd: true,
});
{% endset %}

{{ this.registerJs(js) }}
