<div class="row expanded banner animatedParent" data-sequence="500">
    <img src="{{ Url.base() }}/img/banner-product-1809.png"/>
    <div class="small-6 small-offset-6 medium-6 medium-offset-6 columns banner__desc banner__desc--responsive animated fadeInUpShort" data-id="1">
        
    </div>
</div>

{{ this.render('/partials/breadcrumb.twig', { 
    'datas': { 
        'Produk': baseUrl ~ '/product' 
    },
    'currentTitle': 'Overview'
}) | raw }}
  
  <!-- Lightning Bolt Begins -->
  <script type="text/javascript" id="lightning_bolt" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
  <!-- Lightning Bolt Ends -->			

<div class="row">
    <div class="small-up-2 medium-up-3 xlarge-up-4 xxlarge-up-5" data-equalizer="product-thumb">

        {% for product in products %}
            <div class="columns">
                <a class="product-thumb" href="{{ url('site/product-detail', { 'slug': product.slug}) }}">
                    <div class="product-thumb__display">
                        <img src="{{ Url.base() }}/media/product/{{ product.id }}/{{ product.image }}">
                    </div>
                    <div class="product-thumb__title" data-equalizer-watch="product-thumb">
                        <h4>{{ product.name }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
        
        <div style="clear: both"></div>
    </div>
</div>
<script>

</script>