{{ this.render('/partials/breadcrumb.twig', {
    'currentTitle': 'Hasil pencarian'
}) | raw }}
<div class="section">
    <div class="row search">
        <div class="row">
            <div class="medium-12 columns search__header">
                <h1>Hasil Pencarian : <span>{{ articles|length }} Artikel ditemukan</span></h1>
            </div>
        </div>
        {% for article in articles %}
            <div class="row search__list">
                <div class="medium-4 columns">
                    <a href="{{ article.title }}">
                        <div class="search__img">
                            <img src="{{ baseUrl }}/{{ article.image_dir }}normal_{{ article.image}}">
                        </div>
                        <div style="clear: both"></div>
                    </a>
                </div>
                <div class="medium-8 columns">
                    <h2 class="search__title">{{ article.title }}</h2>
                    <p class="search__date">{{ article.created_at|date('d F Y') }}</p>
                    <p class="search__highlight"> 
                        {{ Html.decode(article.content)|slice(0, 200)|replace({'\\n':' ', "\\r":' '})|striptags  }} 
                        <a class="search__link" href="{{ baseUrl }}/article/{{ article.category.slug }}/{{ article.slug }}">
                            Baca Lebih Lanjut
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row search">
        <div class="row">
            <div class="medium-12 columns search__header">
                <h1>Hasil Pencarian : <span>{{ topics|length }} Tulisan ditemukan</span></h1>
            </div>
        </div>
        {% for topic in topics %}
            <div class="row search__list">
                <div class="medium-12 columns">
                    <h2 class="search__title">{{ topic.name }}</h2>
                    <div class="row">
                        <div class="medium-4 columns"><p class="search__date">Diposting oleh <span class="search__author">{{ topic.participant.username }}</span> pada {{ topic.created_at|date('d F Y') }}</p></div>
                        <div class="medium-8 columns"><p class="search__category">{{ topic.forum.group.name }} / {{ topic.forum.name }}</p></div>
                    </div>
                    <p class="search__highlight">{{ topic.post.content }}
                        <a class="search__link" href="{{ baseUrl ~ '/forum/' ~ topic.slug }}">Baca Lebih Lanjut</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% set js %}
    var thumb = $('.search__img').width();
    var hThumb = (thumb * 9 /16);
    $('.search__img').css('height',hThumb);
{% endset %}
{{ this.registerJs(js) }}