{{ this.render('/partials/breadcrumb.twig', {
'currentTitle': 'Term & Condition'
}) | raw }}
<div class="section section--tnc">
    <div class="row">
        <h1 class="about__title text-center">{{ page.title }}</h1>
        {{ page.content | raw }}
    </div>
    <img class="ornamen-left" src="{{ baseUrl }}/frontend/web/img/ornamen-tnc-left.png"/>
    <img class="ornamen-right" src="{{ baseUrl }}/frontend/web/img/ornamen-tnc-right.png"/>
</div>

{% set js %}
{% endset %}
{{ this.registerJs(js) }}